[2016-02-27 23:39] mimi89999 opened #2 "Remove GCM"

[2016-02-28 13:25] #2 closed, assigned to mimi89999

[2016-02-28 16:03] mimi89999 opened #3 "Make libtextsecure-java a submodule"
Make libtextsecure-java a submodule to avoid git clone in F-Droid build recepie.

[2016-02-29 17:36] #3 closed, assigned to nobody

[2016-02-29 18:08] mimi89999 opened #4 "Update readme"

[2016-02-29 18:12] mimi89999 opened #5 "Test before publishing on F-Droid"

[2016-03-04 13:01] SecUpwN commented on #4
Whoo-hooo, I'm all in for making **your** fork the official `LibreSignal` project! :+1:

But before diving right into it: Please _definitely_ make sure that the _experimental_ repository `https://eutopia.cz/experimental/fdroid/repo/` (which had to be added to F-Droid on your Android in order to make `LibreSignal` appear) gets into your posession - or, even better, transferred into the official F-D

[2016-03-04 13:05] SecUpwN commented on #5
Quiting myself here to make sure you won't just ignore it (I know you're not that kind of person):

[2016-03-04 13:27] mimi89999 commented on #5
I would like LibreSignal to be distributed in the official F-Droid repo. The problem is that Signal (and LibreSignal) is using custom maven repos. I don't know where I can find the source of the .jar files in https://github.com/WhisperSystems/maven

[2016-03-04 13:47] SecUpwN commented on #5
Yes, me too. But I consider it important that people actually _switch_ to your repository instead of staying on thne old _experimental_ repo, which has to be added manually. But maybe that happens all by itself once `LibreSignal` is on the official F-Droid repo and dsiplays an incompatible update.

The only guy I know who is tight on his horse regarding .jar and maven, is @larsgrefer. Maybe he kno

[2016-03-05 16:52] mimi89999 commented on #5
I can't find smil (https://github.com/WhisperSystems/maven/tree/master/smil/releases/org/w3c/smil) source code.

[2016-03-05 18:33] SecUpwN commented on #5
Maybe [their official site](https://www.w3.org/AudioVideo/) is helpful?

[2016-03-06 22:10] mimi89999 commented on #5
I created an issue to ask about this: https://github.com/WhisperSystems/maven/issues/9

The issue was delated, but it's still visible on my profile: https://github.com/mimi89999

[2016-03-06 22:11] mimi89999 commented on #5
They also disabled issues for this repo :-(

[2016-03-07 08:14] dotlambda commented on #5
Does this help?
https://www.w3.org/TR/1999/WD-smil-boston-dom-19991115/java-binding.html

[2016-03-07 13:27] mimi89999 commented on #5
I found a newer version: http://search.maven.org/remotecontent?filepath=org/eclipse/birt/runtime/org.w3c.dom.smil/1.0.1.v200903091627/org.w3c.dom.smil-1.0.1.v200903091627-sources.jar

[2016-03-07 20:38] mimi89999 commented on #5
The version that I found doesn't work.

[2016-03-08 12:34] mimi89999 commented on #5
https://github.com/LibreSignal/LibreSignal/commit/a4237e50b3353bdf12f6fddc3579a2fea20f8a0b
:smile:

[2016-03-08 12:46] mimi89999 commented on #5
https://github.com/LibreSignal/LibreSignal/commit/02fe5dac3a6efa63c5a3ad9508072167944d8c75
:smile:

[2016-03-08 13:55] SecUpwN commented on #5
Thanks for your continued effort to really make `LibreSignal` a _really_ free app, @mimi89999! I wonder what is wrong with OpenWhisperSystems that they're radically deleting Issues and not even replying. @mimi89999, please add an Icon to the `LibreSignal` organization. That alone makes users follow your repositiries much more. I know since I am a very eye-balling person myself, see my own reposito

[2016-03-08 16:56] mimi89999 commented on #5
https://gitlab.com/fdroid/fdroiddata/merge_requests/1278
:smile:

[2016-03-08 17:21] SecUpwN commented on #5
Wonderful! Will that officially replace the experimental https://eutopia.cz/experimental/fdroid/repo/?

[2016-03-08 17:37] mimi89999 commented on #5
The Eutopia repo belongs to @xmikos . I don't know which version he will want to distribute in his repo.

[2016-03-08 17:54] SecUpwN commented on #5
It would be very lovely if @xmikos would support the move to your official new repo for `LibreSignal`!

[2016-03-09 18:48] mimi89999 commented on #4
In README I would like to give some basic informations about LibreSignal, change the name and correct issue and wiki links to point to the pages in this repo.

[2016-03-09 21:04] ghost commented on #4
Please don't link to http://support.whispersystems.org/ for support. Offloading support to them will just make an unpleasant experience for all, OWS, you, the users (and most likely fdroid...).

[2016-03-09 21:35] mimi89999 commented on #4
I will edit the README tomorrow.

[2016-03-10 07:31] mimi89999 commented on #5
I haven't found any issues in LibreSignal other than https://github.com/JavaJens/TextSecure/issues/54

[2016-03-10 07:31] #5 closed, assigned to nobody

[2016-03-10 07:33] SecUpwN commented on #4
I'm currently on the first basic edits. Stay tuned for my pull request in 30 minutes.

[2016-03-10 07:45] SecUpwN opened #7 "Overtake LibreSignal Twitter Account"
I am currently editing your `README` and wondered if you'll be overtaking the official [LibreSignal Twitter Account](https://twitter.com/libresignal) from @xmikos as well. If so, I'd like to add it to the `README`. What do you think, @mimi89999?

[2016-03-10 08:09] mimi89999 commented on #7
No, I won't.

[2016-03-10 08:11] SecUpwN commented on #7
Ok. Shall I still add it or leave it out for now?

[2016-03-10 09:37] SecUpwN opened #9 "Add project description"
Hey @mimi89999, your wonderful fork does not yet contain a description, it just tells `No description or website provided.` If I were in your organization, I would add it myself, but since I am not, how about:

`LibreSignal • The truly private messenger for Android. Without Google!`

[2016-03-10 09:58] mimi89999 commented on #9
I invited you...

[2016-03-10 10:00] SecUpwN commented on #9
Thanks, I already accepted. Seems I cannot edit the project description though. Maybe because I still lack `COLLABORATOR` status or something. But you may as well edit it yourself if you don't want to grant it.

[2016-03-10 11:17] mimi89999 commented on #9
I think now you should have write access to the repo.

[2016-03-10 19:27] #4 closed, assigned to nobody

[2016-03-10 19:27] mimi89999 commented on #4
@krt16s The README is changed.

[2016-03-10 19:32] mimi89999 commented on #9
What about:
LibreSignal • The truly private messenger for Android. It's Google-Free!
or
LibreSignal • The truly private and Google-Free messenger for Android.
?

[2016-03-11 11:44] SecUpwN commented on #9
No, I don't. I guess you'll have to add me as `COLLABORATOR` in tab `Settings` as well. Regarding the project description: Would you rather stay closer to the original one from `Signal`? They say: `A private messenger for Android.` Which one of the above proposals do you like best? We need a third voice.

[2016-03-11 22:26] mimi89999 commented on #9
Or maybe:
A/The free-as-in-freedom truly private messenger for Android.

[2016-03-12 02:02] SecUpwN commented on #9
I'm honest when I say that it does not sounds very professional. ;-)
I've edited the description to test how it looks. How do you like it now?

[2016-03-12 09:37] mimi89999 commented on #9
I like it a lot.

[2016-03-12 14:46] SecUpwN commented on #9
Perfect! Also edited our `LibreSignal` organization a bit so that it looks more professional. Let's rock! :guitar:

[2016-03-12 14:46] #9 closed, assigned to nobody

[2016-03-12 14:56] SecUpwN commented on #7
Fair. Should @xmikos decide to hand over the Twitter account, we might add it to our `README` later on.

[2016-03-12 14:56] #7 closed, assigned to nobody

[2016-03-14 05:22] pravi opened #10 "voice calls are not working"
I get 'login failed'. I use 3.12 websockets version. Is it expected to work on websockets version? ie, does signal server support websockets for voice too?

[2016-03-14 07:25] mimi89999 commented on #10
https://github.com/JavaJens/TextSecure/issues/54

[2016-03-14 08:33] mimi89999 commented on #10
Somebody needs to convince OWS to release RedPhone server source code...

[2016-03-14 12:12] mimi89999 opened #11 "Add location sharing"

[2016-03-14 13:37] mimi89999 commented on #10
@SecUpwN @xmikos @JavaJens

[2016-03-14 16:12] xmikos commented on #10
@mimi89999 I am afraid that our only hope is that Open Whisper Systems would want to add support for voice calls into their browser-based Signal desktop client. Then they will be forced to add WebSocket support to their closed RedPhone server.

I am not the right person to try to convince OWS (after upsetting Moxie by providing public builds of LibreSignal) and I am afraid he will not listen to an

[2016-03-15 00:05] SecUpwN commented on #10
Would like so too, but I guess @moxie0 doesn't really like to support Google-Free forks of `Signal`...

[2016-03-15 11:48] mimi89999 opened #12 "Change packageName"
https://gitlab.com/fdroid/fdroiddata/merge_requests/1288#note_4264094

[2016-03-15 17:15] dotlambda commented on #12
You could do this using gradle so that upstream changes can be merged without worrying about it.

Actually, I'm not sure if gradle provides such a functionality, but that's what I'm used to from gulp and the web development world.

[2016-03-15 18:34] mimi89999 commented on #12
I will do so...
Any propositions for the name?

[2016-03-15 18:57] mimi89999 commented on #12
"org.libresignal"?

[2016-03-15 19:14] pravi commented on #10
They don't support running independent voice + text servers.

[code]

[2016-03-15 19:20] pravi commented on #10
From a federated communications point of view, I think its better to spent our efforts on kontalk. Their community is very open to community participation and its pure xmpp (plus some customizations, but still interoperable with larger xmpp network). Currently the main drawback of kontalk is lack of group chat, but it is already in alpha. They run on tigase at server side, so extending it for voic

[2016-03-15 19:24] SecUpwN commented on #10
Is that a hint that we should better ditch this project and move on to this other app?

[2016-03-15 19:30] pravi commented on #10
@SecUpwN that is up to the contributors to decide. I prefer kontalk for the following reasons.
1. Good community and open development.
2. Official build for fdroid
3. No lock-in to google.
4. Interoperable with plain xmpp. Anyone can run their own server and talk to kontalk users.

Now the reason for using Signal is mainly the group feature (https://github.com/kontalk/androidclient/issues/179), bu

[2016-03-15 19:35] pravi commented on #10
@SecUpwN for adding voice support to kontalk, all we'd ever need will be a pull request. No begging, no fear of banning, no need of depending on a single person for federation. Same for group feature, it just needs more contributors.

[2016-03-15 19:40] mimi89999 commented on #10
"3. No lock-in to google."
Could you please explain?

[2016-03-15 19:43] mimi89999 commented on #10
The big diff is that LibreSignal is using OTR like encryption....

[2016-03-15 19:57] pravi commented on #10
@mimi89999 Fdroid version of kontalk does not use gcm. I learned about LibreSignal only a few weeks back. If it gets voice support, that too will not need gcm.

Now the same protocol is already available for xmpp, its called omemo (http://conversations.im/omemo). It just need a pull request to implement the same in kontalk (conversations already have it implemented). https://github.com/kontalk/and

[2016-03-15 20:00] Coecoenut opened #13 "Key not synced properly"
Hi,
I have an issue with sending messages to a Signal user. I am running LibreSignal 3.13.0, the other person is using Signal in the most recent version from Google Play.
While I can receive encrypted messages from this person, I cannot answer them. Instead of sending the message via Signal, a simple SMS is sent, and I can see the message "Recipient has no identity key".
I also cannot view the key

[2016-03-15 20:04] SecUpwN commented on #10
Interesting stuff, @pravi! Too bad `Kontalk` seems to not have a partner-app for iPhones.

[2016-03-15 20:12] pravi commented on #10
@SecUpwN since kontalk is xmpp based, it could be added to xmpp apps like ChatSecure (just add key based authentication and phone number to xmpp id conversion logic). If we are spending efforts for truly federated Free Software app that is easy to use, then I feel focusing on kontalk is better, as federation is guaranteed. There is no guarantee LibreSignal will always work with Signal and the fede

[2016-03-15 20:13] mimi89999 commented on #12
@SecUpwN

[2016-03-15 20:16] pravi commented on #10
I feel the problem is scattering of resources, communities that are isolated now should come together. There is already a good sign as ChatSecure joining hands with Conversations. Now LibreSignal joining hands with kontalk would be super cool! If we make a good effort, I think we can crowd fund Kontalk support in ChatSecure.

[2016-03-15 20:19] mimi89999 commented on #13
You and your contact should:
1. Open the conversation
2. Open the menu: 3dots in the top right corner
3. Select "reset secure conversation"

[2016-03-15 20:21] Coecoenut commented on #13
I don't have this option on my device. The chat is treated as if the other person had no Signal at all.
I will contact the other person and will let you know if this solved the issue.

[2016-03-15 20:22] pravi commented on #10
@SecUpwN kontalk support is planned for ChatSecure https://github.com/ChatSecure/ChatSecure-iOS/issues/370

[2016-03-15 20:39] xmikos commented on #12
I am not sure this is good choice. If you change package name, nobody will be able to switch from original Signal to LibreSignal without losing data (and even worse, everyone using current build of LibreSignal will lose data too). This is huge problem.

[2016-03-15 20:52] mimi89999 commented on #12
@xmikos That's what I wrote as a comment under that MR....

[2016-03-15 21:05] mimi89999 commented on #12
In the worst case, you could add a line in prebuild that will "sed" package name...

[2016-03-15 21:11] mvdan commented on #12
@xmikos this is already the case because the signatures will be different.

[2016-03-15 21:18] mimi89999 commented on #12
I was thinking about switching Eutopia <--------> F-Droid.

[2016-03-15 21:20] mvdan commented on #12
My point is that eutopia should have been using a different package id altogether. After all, they distribute LibreSignal, not Sinal (AFAIK).

[2016-03-15 21:22] mimi89999 commented on #12
Yes, but since they didn't...

[2016-03-15 21:23] mvdan commented on #12
We won't accept libresignal under the signal package name, that's for sure. How you fix that on your end or with eutopia is up to you guys.

[2016-03-15 21:47] mimi89999 commented on #12
I will change the package name and @xmikos will just "sed" the package name in prebuild...

Any propositions for a new package name?

[2016-03-15 21:55] ghost commented on #12
Gradle should support `applicationId "com.example.my.app"` to change it on the fly.

[2016-03-15 22:00] mimi89999 commented on #12
Maybe "org.libresignal" as package name? What do you think?

[2016-03-15 23:04] xmikos commented on #12
I am OK with "sed"ing it just for my eutopia.cz repo in prebuild script. I will definitely not change package name in my builds, this would upset a lot of people.

@mvdan It is not already the case, because if you have rooted phone, you can make backup with [oandbackup](https://f-droid.org/repository/browse/?fdfilter=oandbackup&fdid=dk.jens.backup) while you have Signal installed, switch to LibreS

[2016-03-15 23:05] mvdan commented on #12
If you're using root, nothing stops you from porting the data from one package name to another. The thing here is whether the tool, such as oandbackup, supports this.

[2016-03-15 23:11] xmikos commented on #12
@mvdan No, it doesn't (and neither does TitaniumBackup or other backup tools I know of).

But like I said I am OK with keeping original package name just for my eutopia.cz repo.

[2016-03-16 00:50] dotlambda commented on #12
@xmikos How about publishing two versions in your repo, one called "LibreSignal (legacy)" and maintaining the current id for this one? This shouldn't upset anybody and makes reproducible builds possible.

[2016-03-16 09:12] mimi89999 commented on #10
@pravi LibreSignal is using Axolotl for encryption. (AFAIK) Kontalk isn't. That's why I prefer LibreSignal.

[2016-03-16 10:55] mimi89999 commented on #10
Also: For voice calls you can use a SIP client with ZRTP support.

[2016-03-16 17:53] #12 closed, assigned to mimi89999

[2016-03-16 21:04] SecUpwN commented on #12
Regarding https://github.com/LibreSignal/LibreSignal/issues/12#issuecomment-197010819: Have a read of my discovery at https://github.com/JavaJens/TextSecure/issues/53#issuecomment-159293479.

[2016-03-16 21:07] mimi89999 commented on #12
What about the folder name in /data/data/?

[2016-03-16 21:09] mimi89999 commented on #12
I left the name of the backup file: "SignalPlaintextBackup.xml", but that won't help users to keep old keys...

[2016-03-16 21:20] SecUpwN commented on #12
Not sure what you mean. @mimi89999, have you had a look at how @SMSSecure solved that Issue?

[2016-03-16 21:38] mimi89999 commented on #12
If you change the package name, the app will appear as a completly diffrent app. The user will have to export conversation log, register with the "new" app and generate **_new keys**_, and then import conversation log. His contacts will have to accept his new key. I did like that and it was an awful experience geting my contacts to accept the new key/identity...

[2016-03-17 17:28] Coecoenut commented on #13
The other person reseted the conversation several times (in some cases I got informed that the encryption was restartet, but most of the time it failed and I was not informed), but I still do not have the key.

When the reset of the conversation fails, the other person is informed by the message "nicht zugestellt" (not transmitted). Details on this message inform about events that require the read

[2016-03-17 17:29] mimi89999 commented on #13
Did you try reinstalling the app?

[2016-03-17 18:13] Coecoenut commented on #13
Yes. Reinstalling did not change the situation.

[2016-03-17 18:14] mimi89999 commented on #13
How is the situation with other contacts?

[2016-03-17 18:15] Coecoenut commented on #13
I did not encounter any issues with other contacts.

[2016-03-17 18:17] mimi89999 commented on #13
And the other person with his contacts?

[2016-03-17 18:20] Coecoenut commented on #13
Also no issues - although there is only a limited number of contacts on the other side, so I am not sure how significant this information is.
Are there any data on my device which could survive a reinstallation of LibreSignal, which I could remove manually?

[2016-03-17 18:23] mimi89999 commented on #13
Do you have Gapps on your device? Does the other side have Gapps on his device?

[2016-03-17 18:25] Coecoenut commented on #13
Both sides have Gapps.

[2016-03-17 18:26] mimi89999 commented on #13
On your phone I don't think so. You can try to unregister from OWS servers: https://whispersystems.org/textsecure/unregister/

[2016-03-17 18:31] mimi89999 commented on #13
Did you install the app from Eutopia experimental repo?

[2016-03-17 18:35] Coecoenut commented on #13
I just removed LibreSignal and unregistered from OWS servers, then reinstalled LS.
After starting a conversation with the respective contact, I only get the option to send SMS, while for my other (Libre-/)Signal contacts I can start an encrypted conversation.

If https://eutopia.cz/fdroid/repo is "experimental", yes.

[2016-03-17 18:46] mimi89999 commented on #13
I think the problem might be on the other side...

[2016-03-17 18:49] mimi89999 commented on #13
The Eutopia experimental repo is: https://eutopia.cz/experimental/fdroid/

You can read more on: https://fdroid.eutopia.cz/

[2016-03-17 18:57] Coecoenut commented on #13
Ok, I just added the repository and updated LibreSignal. I got informed that my Google Services are broken, and had to re-register LibreSignal.
Situation is like before, I can communicate with my other contacts with encryption, but I can only send SMS to this single contact.
I will ask the person to add the experimental repo to F-Droid, update LS and check if the issue still exists. I will let you

[2016-03-17 18:58] mimi89999 commented on #13
Maybe it's a stupid question...
Your device appears to be dual SIM. Is your contact contacting you on the number you are registered with LibreSignal? Are you contacting the other person on the phone number he/she is registered on LibreSignal?

[2016-03-17 18:59] Coecoenut commented on #13
Yes, the device is dual SIM, but I am using only one SIM slot currently - there is no second SIM card (yet).

[2016-03-17 19:05] mimi89999 commented on #13
Could I get the log from the other device?

[2016-03-17 19:09] mimi89999 commented on #13
Is the other device dual SIM?

[2016-03-17 19:37] Coecoenut commented on #13
Nope, the other device is single SIM.
I will ask the person for the log. Do you want the log before updating to the version in experimental or after?

[2016-03-17 19:39] mimi89999 commented on #13
Without updating, just after trying to send you a message.

[2016-03-17 20:01] mimi89999 commented on #13
Also: The version in the main Eutopia repo is built from whispersystems Signal-Android repo.

[2016-03-17 20:34] ghost opened #14 "Send diagnostic log file to libresignal"
Is the log file still send to OWS? If so, you want to change that to not spam them with libresignal issues, that might just piss them off.

[2016-03-17 20:36] ghost opened #15 "SMS verification code"
Might the changed package id (or even the signing key) cause trouble with the SMS verification/registration? Do you know what is sent out to receive the verification code?

It still works right now, but you should look into this issue rather sonner than later, just to be on the safe side.

[2016-03-17 20:55] mimi89999 commented on #14
Logs are subbmited as github gists that can be linked in github issues or support emails.
Example: a log that I just subbmited: https://gist.github.com/anonymous/f0d585d1fb5d334c73fa

[2016-03-17 21:08] mimi89999 commented on #15
Yes,
GET /v1/accounts/{transport}/code/{number}
transport is the string sms or voice.
(https://github.com/WhisperSystems/TextSecure-Server/wiki/API-Protocol)

[2016-03-18 04:26] pravi opened #16 "update to 3.14 release"
Bug fixes can help improve performance and increase reliability.

[2016-03-18 04:34] pravi commented on #10
@mimi89999 Signal has axolotl but no real fedeartion (its hard coded which servers are federated and its centrally controlled).

Kontalk does not have axolotl, but true federation with any xmpp server out there.

if you want axolotl and true federation you can start from kontalk and signal. Kontalk's axolotl/omemo support is a pull request away, its in the roadmap, if anyone is impatient, they can

[2016-03-18 06:17] #14 closed, assigned to mimi89999

[2016-03-18 06:17] #15 closed, assigned to mimi89999

[2016-03-18 06:18] mimi89999 commented on #16
It's already updated to 3.14.2. You can check the manifest file...

[2016-03-18 06:46] pravi commented on #16
But fdroid is still not showing an update even after manual refresh.

[2016-03-18 06:55] mimi89999 commented on #16
Because @xmikos hasn't updated his repo.

[2016-03-18 07:05] pravi commented on #16
Ok. I thought this will become the central repo for LibreSignal.

[2016-03-18 07:09] pravi commented on #16
@xmikos can you update the repo? Also it would be good to sync with updates in this repo.

[2016-03-18 07:19] mimi89999 commented on #16
His F-Droid repo...

[2016-03-18 07:50] xmikos commented on #16
I will switch eutopia.cz repository to your fork today. Builds will be available soon.

[2016-03-18 07:57] mimi89999 commented on #16
Did you see my PR?

[2016-03-18 11:50] mimi89999 commented on #16
@pravi Updated.

[2016-03-18 11:50] #16 closed, assigned to nobody

[2016-03-18 11:52] mimi89999 commented on #13
@Coecoenut There is a new version of LibreSignal in the Eutopia experimental F-Droid repo

[2016-03-18 11:55] xmikos commented on #16
Yes, I have already merged it, but it has needed some changes to be able to build (and also to be backward compatible with version naming scheme previously used in my repo). But now it is finally updated! ;-)

[2016-03-18 12:03] Coecoenut commented on #13
Thank you. I updated to the new version, but there are no changes about the error from my side.
I will let you know when I have the log from the other side. Should happen this weekend.

I knew this, although I thought that the version in the repo was already using WebSocket. But thank you for making this clear.
My report in the GitHub of Signal was closed by Moxie immediately after I mentioned "Li

[2016-03-18 13:04] mimi89999 commented on #13
If you want, you can check if you can see my key. I'm registered with the phone number "+48 532 465 056"
I will delete this comment not to receive SPAM... I hope you get notifications by email...

[2016-03-18 13:19] Coecoenut commented on #13
I checked your number. I can see you and your key from my device.

[2016-03-18 13:47] mimi89999 commented on #13
I think the problem is on the other device.

[2016-03-19 15:00] SecUpwN commented on #12
Does that mean that https://github.com/LibreSignal/LibreSignal/commit/444c0db79b1bd91736479a9a0b4a33f961563399 now prevents an update from the APK installed from https://eutopia.cz/experimental/fdroid/repo/? I still cannot find our official `LibreSignal` release on F-Droid.

[2016-03-19 15:12] mimi89999 commented on #12
Eutopia "sed" the package name to keep the old one.

[2016-03-19 15:14] mimi89999 commented on #12
https://github.com/xmikos/fdroiddata/pull/14

[2016-03-20 00:27] xmikos commented on #10
@pravi Kontalk is insecure as hell. Basic XMPP + OMEMO (Axolotl implementation) is much better option. But it is also much less convenient than Signal for common users.

[2016-03-20 04:56] pravi commented on #10
@xmikos why is it insecure? Can you explain? It uses gpg for encryption. The only drawback is lack of forward secrecy, which can be fixed by implementing omemo.

[2016-03-20 08:41] mimi89999 commented on #12
LibreSignal is in the F-Droid archive repo.

[2016-03-20 08:45] mimi89999 commented on #12
The F-Droid link in this repo doesn't work.

[2016-03-20 09:47] mimi89999 commented on #10
Conversations is a quite good option. You only need to find a good XMPP server (or host one). There should be also an OMEMO plugin for Gajim (Desktop).

[2016-03-20 10:08] pravi commented on #10
@mimi89999 finding a server and finding contacts is an extra step compared to both kontalk and signal. Finding a server is still okay, having to manually find xmpp ids of all your contacts is not an easy step for most people. Kontalk is the right compromise for simplicity and privacy. Those who care can have basic xmpp while you can recommend kontalk to any non technical crowd comfortable with Wha

[2016-03-20 10:17] mimi89999 commented on #10
But Kontalk doesn't have such a strong encryption....

[2016-03-20 10:25] pravi commented on #10
@mimi8999 its true kontalk does not have forward secrecy, but claiming it does not have strong encryption is not true. Substantiate your claim. It uses well proven gpg encryption. If some one gets hold of your key, they can decrypt your past conversation, if they have stored them in hope of getting your key. That is all the weakness kontalk has. As mentioned earlier, its an easy code fix by adopti

[2016-03-20 12:30] xmikos commented on #10
@pravi In wake of Snowden revelations, no communication protocol should be called secure if it doesn't implement forward secrecy. It is a must and should be used by default (so e.g. something like Telegram with non-default secure chats is not enough, same as non-default OMEMO in XMPP).

But I agree that another ZRTP+SIP client for secure voice/video calls is bad solution. We need to make it work i

[2016-03-20 12:33] SecUpwN commented on #12
@mimi89999, what do you mean? Of course it does not work _yet_ as long as it is not in the official repo.

[2016-03-20 12:42] mimi89999 commented on #12
Check my last commit...

[2016-03-20 12:48] mimi89999 commented on #10
I don't think that using a proprietary server is a good idea... Somebody should convince OWS to make it FOSS...

[2016-03-20 13:06] mimi89999 commented on #12
Now if you enable the archive repo in F-Droid and click on the link in the repo, F-Droid will show the app.

[2016-03-20 13:07] mimi89999 commented on #10
@DroidFire

[2016-03-20 13:49] SecUpwN commented on #12
Awesome. Hoping to see `LibreSignal` in the native F-Droid repo soon. :+1:

[2016-03-20 14:31] tuxayo opened #17 "README: clarify how the messages are sent (how GCM has been replaced)"
I'm exited that you managed to remove the dependency Google Cloud Messaging, kudos for that!
I'm trying understand how it has been replaced.

I couldn't find if there is a server or if the messages are transmitted directly between clients?

In the former case, where is the server? Is the source code Free/Libre/Open? What metadata can it knows?

[2016-03-20 14:56] mimi89999 commented on #17
It's OWS server over WebSocket.

[2016-03-20 14:56] JavaJens commented on #17
GCM was never used for message sending.
Messages are delivered using the Open Whispersystems server, the protocol is explained in the Signal repository.

The server source is partially open source, as the source code for phone signaling (aka. RedPhone server) is not available, whereas the Textsecure server is available

[2016-03-21 13:34] mimi89999 commented on #13
Any news?

[2016-03-21 13:37] Coecoenut commented on #13
Unfortunately not. I could not contact the person yet.

[2016-03-21 13:40] mimi89999 commented on #13
Do you know what Device/ROM the other person is using?

[2016-03-21 13:43] Coecoenut commented on #13
I think it's a LG Optimus 4X HD, using Cyanogenmod 11

[2016-03-21 16:29] pravi commented on #10
@mimi89999 @xmikos omemo support is already merged in kontalk and will be part of 3.3 release.

[2016-03-21 16:34] mimi89999 commented on #10
Could you give me the link to the commit?

[2016-03-21 16:43] mimi89999 commented on #10
@pravi AFAIK only issues were merged.

[2016-03-21 17:31] pravi commented on #10
@mimi89999 ah ok. When I saw it will be part of 3.3, I thought it would be merged already.

[2016-03-22 10:40] Ray-Ven opened #18 "Signal-Desktop with Libresignal"
Is it possible to use LibreSignal with Signal-Desktop? Will there be LibreSignal-Desktop if not? Will you remove option to add devices in Libresignal if both won't happen?

Thank you

[2016-03-22 11:18] benediktg commented on #18
With the Libresignal build from fdroid.eutopia.cz it works as far as I can say –  I have two Chrome Web Apps connected to it.

[2016-03-22 11:19] Ray-Ven commented on #18
hmm, I installed it via fdroid (experimental branch of libresignal). Maybe it's phone related (Jolla with sailfish)

[2016-03-22 11:52] benediktg commented on #18
Did you already "register" for the beta of the Chrome Web App?

[2016-03-22 12:16] Ray-Ven commented on #18
I did some time ago but didn't get any response. I thought, I'd just get the beta app as chrome extension then. After I got no response, I just cloned their git repository and activated the folder in chromium.
So the extension only works if they somehow "activate" my account?
(OT: I'm beginning to hate signal more and more... Closed Servers, no official websocket support, and some strange registra

[2016-03-22 12:27] JavaJens commented on #18
Are you using the right server? https://github.com/WhisperSystems/Signal-Desktop/blob/d84400777fa9ca3728411c787bb6f9ab50529a40/js/background.js

[2016-03-22 12:38] Ray-Ven commented on #18
@JavaJens, are you reffering to this (from CONTRIBUTING.md):

[2016-03-22 12:44] JavaJens commented on #18
You didn't specify what issue you were experiencing, so I was just wild guessing.
There are two servers used: one for production, the other for testing.
You have to set both applications (desktop+phone) to point to the same server.

I'd guess you have to remove the `-staging` to point to the same server as your phone.

[2016-03-22 12:54] mimi89999 commented on #18
https://github.com/WhisperSystems/Signal-Desktop/search?utf8=%E2%9C%93&q=staging&type=Code

[2016-03-22 17:21] zahnpasta12 opened #19 "Can`t register to signal - network error"
Installed xmico`s apk on a tablet without umts/3g. After trying to register, reciving the 6-digit code via sms to a mobile-phone and entering the 6-digit in the given field, registration will fail with a "network error" -message.

[2016-03-22 17:37] mimi89999 commented on #19
The code received by SMS is only valid for a short period of time. Could you please try once again?

[2016-03-22 17:44] JavaJens commented on #19
I think the code you can enter in the 6-digit field has to be the one you received through the call.
So you have to request the code twice, one via sms that you ignore and then another one which you can enter.

[2016-03-22 22:04] zahnpasta12 commented on #19
Thank you JavaJens. That solved the issue. Didn`t read carefully enough. The sim in my phone was not voice-enabled (umts-only) and i assumed that the sms-6-digit, which is valid for 20 min, is the same as the one given by the voice-recall. But it was not. Changed the sim with a voice-enabled one  and entered that digit and it worked. Thank you so much! Not only for the hint, but for your work in g

[2016-03-22 22:04] #19 closed, assigned to mimi89999

[2016-03-23 08:06] Ray-Ven commented on #18
Ah ok, that did the trick. Thank you very much

If someone else runs into this. This is a little HowTo:
- Start Chrome/Chromium
- Activate Developermode in Chromium (Settings --> Extensions)
- install git, git clone signal-desktop repo
- Add extracted Extension into Chromium from folder containing signal-desktop
- change https://textsecure-service-staging.whispersystems.org/ to https://textsecure-

[2016-03-23 08:11] #18 closed, assigned to mimi89999

[2016-03-23 10:34] tuxayo commented on #17
What was the dependency to GCM for? Push?

[2016-03-23 10:59] mimi89999 commented on #17
Yes, for push.

[2016-03-23 19:32] Coecoenut commented on #13
So here is the log of the other device:
https://gist.github.com/Coecoenut/c1af2444ad09bcb16e73
The log was created after trying to send a message to my device, which failed.

[2016-03-23 19:50] mimi89999 commented on #13
@JavaJens Could you please look at this?

[2016-03-23 19:56] mimi89999 commented on #13
`W/PushTextSendJob( 4385): org.whispersystems.textsecure.api.crypto.UntrustedIdentityException: Untrusted identity key!`
Did the other person accept your key?

[2016-03-23 20:13] Coecoenut commented on #13
As far as I know: Yes.
Otherwise it wouldn't be possible to send encrypted messages to my device, right?
But I will ask to make sure that the information is correct.

[2016-03-23 22:40] anarcat opened #20 "clarify the state and goals of this project"
right now, people are confused about the goals of libresignal: is it aimed at replacing Signal's functionalities one to one? #10 has been marked as "wontfix" - so I guess that voice calls are out of the question for now, which brings the question of what libresignal actually brings on top of tools like conversations or kontalk.

is the goal right now to merge into one of those other projects and s

[2016-03-24 11:37] mimi89999 commented on #20
LibreSignal is now in the F-Droid archive repo for a testing period. Once the testing period will be over, it will be moved to the official F-Droid repo.

[2016-03-24 21:33] mimi89999 commented on #20
The goal of this project is to remove all non-free parts of Signal like GCM or location/map and maybe replace them by free alternatives.
Also, if a PR or a feature is not accepted by OWS, I might consider merging or adding it here if I consider it usefull.

[2016-03-24 21:35] mimi89999 commented on #20
As for #10 I think we should try to convince OWS to open source RedPhone server before thinking of replacing it by something eles.

[2016-03-25 12:23] tuxayo commented on #17
Is there an impact on power consumption?

[2016-03-25 13:56] anarcat commented on #20
thanks for the response! maybe those goals could be made explicit in the readme and the package description?

[2016-03-25 14:13] anarcat commented on #20
and well, regarding #10 - they explicitly said "not supported" there... not sure how that's gonna work.

[2016-03-25 14:26] mimi89999 commented on #17
I don't think so.

[2016-03-25 14:28] mimi89999 commented on #17
There should be a small impact on battery life, but I haven't noticed it.

[2016-03-25 14:39] JavaJens commented on #17
Obviously there is an impact if you have a long running network connection.
The benefit of GCM is that instead of having one connection for each application, GCM can have one, coordinated connection, thus saving battery.
The question is how much an impact does it have and I think  all reports say that the impact is not very noticeable.

[2016-03-25 14:47] mimi89999 commented on #17
Usually at the end of the day, using LibreSignal over Wi-Fi only, my battery report says that LibreSignal used 1%.

[2016-03-25 14:52] mimi89999 commented on #17
For me that's not an impact on power consumption. I compared LS to other free/libre messaging apps and other are much worse.

[2016-03-25 19:58] anarcat commented on #10
relevant: https://lists.riseup.net/www/arc/whispersystems/2016-03/msg00007.html

[2016-03-26 09:41] mimi89999 opened #21 "Replace libnative-utils.so"
Replace libnative-utils.so

fdroid scanner reports an error (`ERROR: Found shared library at libs/{arch}/libnative-utils.so`). We should replace it by the source. The problem is that I can't find the source. @LibreSignal @xmikos

[2016-03-26 09:58] xmikos commented on #21
Sources are in `jni` directory, look at `jni/Android.mk` makefile. libnative-utils.so source code is specificaly at `$(JNI_DIR)/utils/org_thoughtcrime_securesms_util_FileUtils.cpp`

[2016-03-26 10:09] #21 closed, assigned to mimi89999

[2016-03-26 10:13] mimi89999 commented on #21
Stupid issue... I just woke up and I'm not to bright yet...

[2016-03-26 10:22] xmikos commented on #21
IMHO problem is that you don't have `buildjni=jni` line in F-Droid build file for LibreSignal. This is why native libraries aren't rebuild from sources (which is also why `libredphone-audio.so` is included in my build but not in F-Droid build).

[2016-03-26 10:24] mimi89999 commented on #21
https://gitlab.com/fdroid/fdroiddata/merge_requests/1229/diffs#note_3881911

[2016-03-26 10:24] mimi89999 commented on #21
I think it should be `buildjni=jni`, but @mvdan wrote https://gitlab.com/fdroid/fdroiddata/merge_requests/1229#note_3881911 and then the line disappeared in one of my commits. :/

[2016-03-26 12:12] mvdan commented on #21
`buildjni=jni` is redundant. `yes` builds what's in `jni/`.

[2016-03-26 12:36] xmikos commented on #21
@mvdan Are you sure about it? Last time I have tried `buildjni=yes` in LibreSignal build, it failed. Only `buildjni=jni` worked for me. I will try it again next time...

[2016-03-26 17:32] JavaJens commented on #21
@xmikos Should work `buildjni=[yes|no|<dir list>]` according to https://f-droid.org/manual/html_node/Build.html

Edit: Nevermind, you need to specify the directory if it is not `.`

[2016-03-27 10:17] tuxayo commented on #17
Great, does the web socket connects directly to Open Whisper Systems's server to poll for new messages? Or is there and intermediate server?

[2016-03-27 10:23] mimi89999 commented on #17
It connects directly to OWS servers.

[2016-03-27 10:35] tuxayo commented on #17
Great that it works!

Thanks a lot for those details. I would like to sum them up to eventually add them to the README.

I was thinking to append this to the "WebSocket Support" part:

What do you think?

[2016-03-27 11:02] mimi89999 commented on #17
Were exactly would you put this text? You can open a PR to add it...

[2016-03-27 19:43] mimi89999 commented on #21
@mvdan Building LibreSignal with `buildjni=yes` still fails.

[2016-03-27 21:53] JavaJens commented on #21
@mimi89999 Check the link i posted. I'd say, you need to specify `buildjni=jni`

[2016-03-28 07:51] sim6 opened #22 "How to migrate?"
Firstly thanks for your work.

I migrated my Signal installation (in fact LibreSignal from fdroid.eutopia.cz repository) to LibreSignal with the following steps:

[code]

Is it enough? What about Signal android account?

[2016-03-28 08:41] tuxayo commented on #17
I wanted to get the text right before, to avoid doing many commits to rephrase/add stuff.

Here it is: #23

[2016-03-28 10:31] mimi89999 commented on #22
I think it is enough.

[2016-03-28 10:38] #17 closed, assigned to nobody

[2016-03-28 18:54] pejakm commented on #22
Don't forget to reset secure sessions with your contacts.

[2016-03-28 19:37] sim6 commented on #22
Thanks @mimi89999
@pejakm My conversations works without reseting the secure session.

[2016-03-28 19:39] sim6 commented on #22
I am going to close the issue, but please add comments if you want.

[2016-03-28 19:39] #22 closed, assigned to nobody

[2016-03-30 08:12] tuxayo commented on #17
Thanks for all the info, now I have to convert someone who couldn't use Signal because of the dependency to Google Play Services. :-)

[2016-03-30 08:15] tuxayo opened #24 "App pulled from F-Droid?"
Can't find by research nor by the link in the readme.

https://f-droid.org/repository/browse/?fdid=org.libresignal

[2016-03-30 08:27] r00tler commented on #24
The app is in the f-droid archive repo for testing and not yet listed on the website. You can install it by enabling the repo in f-droid.

[2016-03-30 09:03] mimi89999 commented on #24
If you enable the archive repo in F-Droid and open this link with F-Droid, you will find the app.

[2016-03-30 09:03] #24 closed, assigned to nobody

[2016-03-31 08:37] ingerling commented on #22
Is it be possible to do the migration with oandbackup?
I tried it, but without success...

[2016-03-31 08:48] tuxayo commented on #24
Ok, I understand.
I had the archive repo enabled, that's how I found about LibreSignal.

Thanks.

[2016-03-31 08:48] mimi89999 commented on #22
1. Backup with oand
2. Go to oandbackup folder
3. Rename org.thoughtcrime.securesms folder to org.libresignal
4. Rename the .log file and the .zip in this folder
5. Replace all org.thoughtcrime.securesms strings with org.libresignal in the .log file
6. Open the .zip and rename org.thoughtcrime.securesms_preferences.xml to org.libresignal_preferences.xml in shared_prefs
7. Restore with oand

[2016-03-31 08:54] tuxayo opened #25 "Incompatible with Signal?"
I already have Signal installed, when I try to install LibreSignal, I get a generic install failure.
The log cat shows:

[code]

Can someone confirm that the incompatibly is normal? (And not a renaming that was forgotten)
If it's the case, should we update the readme and the app description in F-Droid to warn users about this?

[2016-03-31 09:59] ingerling commented on #22
Thank you, worked like a charm!

[2016-03-31 10:07] mimi89999 commented on #22
Maybe I will add this to README later.

[2016-03-31 10:11] mimi89999 commented on #25
Yes, you need to uninstall Signal to install LibreSignal. You cannot have both running at the same time.

[2016-03-31 10:16] mimi89999 commented on #25
I don't think that warning users about this is needed. How many users will want to install two vetsions in parallel? When installation will fail, they will understand that you cannot use two versions at the same time...

[2016-03-31 10:16] #25 closed, assigned to nobody

[2016-03-31 10:17] mimi89999 commented on #25
Closing this issue because it's not a bug, but an expected behaviour.

[2016-03-31 10:26] mimi89999 commented on #22
But my instructions didn't include making chsnges to the database.

[2016-04-01 10:25] tuxayo commented on #25
I should have understood but I did only when seeing the logcat, I hope I'll be the only one.

Thanks

[2016-04-01 17:04] codedust opened #26 "Remove Google Repository dependency"
Google Repository is a proprietary library that we don't want to require to build the app.

EDIT: Upps. Android Support Repository seems to be Apache licensed.

[2016-04-01 17:32] mimi89999 commented on #26
:smile:

[2016-04-02 07:09] codedust commented on #26
I think you got me wrong: Android Support is open source, but Google Repository is still something we don't want.

[2016-04-02 07:18] mimi89999 commented on #26
I looked at the date...

[2016-04-02 07:24] codedust commented on #26
:)

[2016-04-02 15:09] mimi89999 commented on #26
@codedust Could you please quote the code, that you are talking about? I don't understand what you mean by "Google Repository"...

[2016-04-03 20:18] codedust commented on #26
`BUILDING.md` states that you have to install it in order to compile the app.

[code]

[2016-04-03 20:23] mimi89999 commented on #26
It isn't needed. I forgot to remove it from BUILDING...

[2016-04-03 21:15] codedust commented on #26
:+1:

[2016-04-03 21:15] #26 closed, assigned to nobody

[2016-04-04 20:16] mimi89999 commented on #13
Any news?

[2016-04-04 20:17] mimi89999 commented on #10
@LibreSignal Any ideas?

[2016-04-05 20:55] SecUpwN commented on #10
@mimi89999, how are we supposed to make this work if they refuse to open the source?

[2016-04-05 21:25] mimi89999 commented on #10
I don't know. I'm out of ideas for this one...

That's why I'm asking if you (all LibreSignal members) have an idea how to fix this issue.

[2016-04-06 12:08] tetris4 opened #27 "Back Camera does not work and attempting to Link Devices crashes the app"
### Bug description

I am not sure if these are two separate bugs, but they definitely seem related:
1. I can't share a photo using the back camera on my device. I can see the camera works, but pressing the take photo button does nothing. Front camera works as expected.
2. Trying to link my phone to enable the signal desktop client (Settings> Linked devices> add new button) crashes LibreSignal.

I

[2016-04-06 12:29] tetris4 commented on #27
Hmm, I did a more thorough research in the meantime and I found:
https://github.com/WhisperSystems/Signal-Android/issues/4637
https://github.com/WhisperSystems/Signal-Android/issues/4899
These point to an upstream issue. Sorry for the noise.

[2016-04-06 12:29] #27 closed, assigned to nobody

[2016-04-06 16:37] Coecoenut commented on #13
Yes and no. I didn't get an answer yet (and unfortunately this could take several weeks now), but I checked this contact again. It doesn't say anymore that my contact is using (Libre)Signal, but I can only send a regular SMS or invite to Signal.
But the person is still in the list of available Signal contacts.

[2016-04-06 17:10] Zepmann commented on #10
Not a fix, but a workaround:

Instructions for running the normal version of LibreSignal (without WebSocket support) on a phone that does not have GApps can be found [here](http://zepman.tweakblogs.net/blog/12999/signal-on-android-without-google-play-services). This workaround relies on [microG](https://github.com/microg) to provide Google Cloud Messaging support, which allows GCM connections to t

[2016-04-06 17:17] anarcat commented on #10
@Zepmann thanks! that sounds like something libresignal should do by default... no? part of the problem here is the proprietary code, which the microG framework fixes. while we wait for the free software redphone software (and i'm not holding my breath), it is better to offer this alternative, no?

[2016-04-06 17:31] Zepmann commented on #10
@anarcat It depends. If you want an easy installation and do not care for audio calls, I would recommend the WebSocket version. It is more reliable since it depends less on third-party components and the initial installation is a lot easier.

However, if you do value audio calls and do not have Play Services installed, the instructions provide the only way (as far as I know) to install and use the

[2016-04-06 18:05] mimi89999 commented on #13
If the problem isn't resolved, could you please check it in Signal from Play Store? If it's also present there, please open an issue upstream...

[2016-04-06 18:22] xmikos commented on #10
There is another hypothetical possibility. WhatsApp (after Moxie finished integration of Signal protocol) doesn't use ZRTP key exchange for voice calls, but apparently does exchange keys for SRTP encryption via standard Signal protocol messages. Which makes sense, there is no need to have two completely independent key exchange mechanisms, it's only heritage of RedPhone (whis has been integrated i

[2016-04-06 18:28] mimi89999 commented on #10
Somebody could ask about this on the mailing list.

[2016-04-07 08:10] mimi89999 commented on #10
@anarcat @Zepmann If I want to use Signal/LibreSignal with microg some libs would need to be included in the app: GMS/GCM. AFAIK GMS libs aren't FOSS, are they?

[2016-04-07 08:29] Zepmann commented on #10
@mimi89999 The microG project hosts its own open-source (FOSS) implementations of GMS and GCM. The open-source code for GMS can be found [here](https://github.com/microg/android_packages_apps_GmsCore). The open-source code for GCM can be found [here](https://github.com/microg/android_packages_apps_GsfProxy).

[edit]
Most of the GCM code is in the GmsCore project. GsfProxy is basically a wrapper th

[2016-04-07 08:45] mimi89999 commented on #10
But if I use microg, I will connect to Google GCM server. This isn't great because they will know my IP... Mabe I should make two flavours of LibreSignal?

[2016-04-07 09:15] Zepmann commented on #10
@mimi89999 I believe (but you have to verify this) that microG implements GCM without connecting to Google. The GCM connection should only be between client and Signal's servers. I haven't found any reference to google.com (aside from comments) or any IP address in the code of GmsCore.

Remember that GCM is only a method to consolidate connections between clients and servers, and that it can be co

[2016-04-07 10:24] mimi89999 commented on #10
https://github.com/microg/android_packages_apps_GmsCore/blob/dae13b16bb79fc20e7173dbfbfc37b667ed9eb7f/play-services-core/src/main/java/org/microg/gms/people/PeopleManager.java

https://github.com/microg/android_packages_apps_GmsCore/blob/dae13b16bb79fc20e7173dbfbfc37b667ed9eb7f/play-services-core/src/main/java/org/microg/gms/auth/AuthManagerServiceImpl.java

[2016-04-07 10:25] mimi89999 commented on #10
https://github.com/microg/android_packages_apps_GmsCore/search?l=java&q=googleapis.com&type=Code

[2016-04-07 10:59] Zepmann commented on #10
Fair point. I did not look for the googleapis.com domain.

Notice that the code is related to authentication in the framework. Of course, to authenticate against Google you will need to connect to Google. I believe that one reason for doing this might be if something wants to access the Play Store (such as the Play Store replacement they are developing).

(Libre)Signal does not need to authenticat

[2016-04-07 11:06] mimi89999 commented on #10
Are you sure you 100% understand how GCM works?

[2016-04-07 11:12] mimi89999 commented on #10
https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/GCM_Architecture.svg/1280px-GCM_Architecture.svg.png

[2016-04-07 11:33] Zepmann commented on #10
It [might be](https://github.com/microg/android_packages_apps_GmsCore/search?utf8=%E2%9C%93&q=https%3A%2F%2F&type=Code) that there are some requests going towards Google. What I wrote was based on what I earlier observed. That's why I a caveat earlier, and probably I should have added that to my other post.

Perhaps it is a good idea to make a network trace of the complete installation and operati

[2016-04-07 11:35] JavaJens commented on #10
The whole point of GCM is that the client's device just needs a single open connection.
OWS servers tell Google to ping the client and therefore a connection to Google servers is required all the time.

Any client-side drop-in replacement for GCM cannot change this!

[2016-04-07 11:47] Zepmann commented on #10
OK. Then the next question is: how much does it tell Google? microG mentions that "Device checkin[sic] is a hidden process that is used to create an unique identifier for Google services. microG Services strips identifying bits other than your Google account name from this data."

The fact that a unique identifier is required is a painful point. More importantly, why would something like Whisper S

[2016-04-07 11:48] mimi89999 commented on #10
Now the question is if LibreSignal should
1. only focuss on keeping the code 100% free (remove/replace any non-free libs, etc.) and a connection to Google (GCM) servers would be acceptable if a free lib is used.
2. not use Google (GCM) at all.

I'm for the 2 option.

[2016-04-07 11:53] Zepmann commented on #10
Of course option 2 is better. It is just a matter of convincing Whisper Systems that it is the right way, since a WebSocket implementation cripples the client at the moment. Audio calls are now exclusively through GCM, which cannot be fixed or worked around client-side.

My vote for LibreSignal is option 2. However, also disable/remove the secure call button in the client, since it is obviously no

[2016-04-07 11:54] mimi89999 commented on #10
@Zepmann GCM is only used to inform the client about new messages on the server. Messages are downloaded from OWS servers. If you use a 100% free lib for GCM, the only thing that Google servers know is your IP...

[2016-04-07 12:05] Zepmann commented on #10
@mimi89999 To let Google (G) inform the client that "a new message is available on server S", there needs to be some kind of traffic between servers S and G? And there needs to be some kind of traffic between G and the client C (to notify C that a message is available at S)?

Even if G does not know about the message (since it will be transmitted between C and S directly at a later stage), G knows

[2016-04-07 13:51] xmikos commented on #10
Signal has never been about metadata privacy. Signal server even knows your whole contact list (phone numbers are hashed, but this doesn't help, because there is too little numbers and any attacker with access to Signal servers can bruteforce it).

If you want complete metadata privacy, you must use something Tor or I2P based, like [Ricochet](https://ricochet.im).

To be fair, I don't see Google a

[2016-04-07 14:39] pravi commented on #10
@xmikos contact list one thing and full metadata is another. The real solution is to not let them guess the server, having to break into servers distributed across the globe is a much harder game. Pure XMPP with OMEMO and anonymous accounts with tor can solve it.

[2016-04-07 15:15] Zepmann commented on #10
I think we are getting sidetracked for this issue. "Voice calls are not working" through WebSocket and they will continue to not work unless Open Whisper Systems offers a server-side alternative to the now exclusively Google Cloud Messaging, or LibreSignal implements open-source components necessary to connect with Google Cloud Messaging. In the meantime, smartphones without Google Play Services c

[2016-04-07 15:29] anarcat commented on #10
If the current libresignal implementation works with the microg or proprietary GCM, then I'm actually fine with it and this issue can be closed, IMHO. Unfortunately, the current situation is that i _do_ have proprietary GCM working on this phone and phone calls are _not_ working with LibreSignal.

I haven't tested with microg, but if _that_ works, then maybe the resolution to that issue is simply

[2016-04-07 15:50] xmikos commented on #10
@anarcat If you do have proprietary GApps or opensource microG installed on your phone, then you don't need to use this WebSocket fork and can install builds from original sources which I provide in main repo on https://fdroid.eutopia.cz.

They are also named LibreSignal, which can be maybe confusing (this name predated LibreSignal project on GitHub).

[2016-04-07 16:09] anarcat commented on #10
Well, yes, this _is_ totally confusing. Especially since it's unclear what will end up in F-Droid officially in the end - it would be great to have something that just Generally Works in F-Droid.

Let's see if i get this right:

| Software | Proprietary | Push | Text | Voice |
| --- | --- | --- | --- | --- |
| Signal | Partly | Yes | Yes | Yes, proprietary GCM |
| LS (Eutopia) | No | Yes | Yes | Y

[2016-04-07 16:10] Zepmann commented on #10
@xmikos I did not yet thank you for offering those F-Droid repositories. Thanks! And yes, it might be a bit confusing with names. I updated the table in my previous comment to clarify this.

@anarcat

I understand your opinion. However, it does not really support the slogan of this repository:

The wrong impression would be given if this text was still used to describe a version that implements mi

[2016-04-07 16:15] anarcat opened #28 "Confusion between the two libresignal"
I spent a large amount of time working with this project without understanding there are two completely different projects here:
1. the F-Droid repository at https://fdroid.eutopia.cz/, which aims to distribute Signal builds outside of the Google Play Store, but still talks to GCM, managed by @xmikos, appid `org.thoughtcrime.securesms`
2. this Github repository, which aims at completely removing t

[2016-04-07 16:17] Zepmann commented on #28
To add to the confusion:
3. The **Experimental** F-Droid repository at https://fdroid.eutopia.cz/, which aims to distribute Signal builds outside of the Google Play Store, with WebSocket support (similar to the version offered by this GitHub repository), managed by @xmikos

[2016-04-07 16:19] anarcat commented on #10
@Zepmann that wasn't clear to me at all here.

There's clearly a namespace problem because we now have two applications named LibreSignal that clash with each other (and this one came last, it seems). So that is one issue that I think we can adress separately, and I opened #28 to clear that up.

I understand the purpose of this fork, but it was also not clear to me that this project was ready to c

[2016-04-07 16:25] anarcat commented on #28
oh bloody hell... okay, well, I added that to the list.

[2016-04-07 16:26] anarcat commented on #28
@Zepmann wait, so option 3 is just the same build as this Github repo? Why should we note it as an alternative and just not say that this code is also on the experimental repo?

[2016-04-07 16:27] Zepmann commented on #10
@anarcat

Me neither, until the clarification that @mimi89999 made today.

I agree, and hope @xmikos will keep offering the LS (Eutopia) version for a long while. There will be many people who install Signal through the Play Store, who do have call functionality. I'd rather be able to voice call with a large audience, rather than limiting myself.

Again, I agree. Just put a big first-time warning

[2016-04-07 16:32] Zepmann commented on #28
I actually do not know for certain if it is the same build from this repository (@xmikos, can you clarify this?). If it is, the 'experimental' naming is still confusing, since the term 'experimental' is not used in this repository.

[2016-04-07 16:33] mimi89999 commented on #28
Yes, it is.

[2016-04-07 16:45] mimi89999 commented on #28
@anarcat

a) The apk in F-Droid archive repo is built from this Github repo.
b) The apk in Eutopia experimental repo is built from this Github repo.
c) The apk in Eutopia repo is built from Whispersystems Github repo
d) If you find another "LibreSignal" please tell me...

[2016-04-07 17:46] anarcat commented on #28
Alright, so there are basically two libresignal.

Can we call one LibreSignal and the other SocketSignal or something? :) Or maybe the one on Eutopia main should be just called Signal, since it's the same code?

[2016-04-07 18:19] mimi89999 commented on #28
It can't be named Signal: https://cloud.githubusercontent.com/assets/1433926/9705240/83886c9c-54be-11e5-867a-458f24bf9b6a.png

[2016-04-07 18:25] anarcat commented on #28
okay then what about the other idea? or other ideas period?

[2016-04-07 19:03] mimi89999 commented on #28
App description in the experimental repo contains the note about WebSocket

[2016-04-07 19:09] mimi89999 commented on #10
@LibreSignal Do you think that microg should be added in LibreSignal?

[2016-04-07 19:11] mimi89999 commented on #10
I hope that WS will open source the RedPhone server...

[2016-04-08 05:11] mimi89999 commented on #10
@Zepmann

The links, that you gave me are links to the apps that you install on your device. In LibreSignal GMS libs should be added to support GCM

[2016-04-08 05:28] mimi89999 commented on #10
This is the microg GMS lib that can be included in apps: https://github.com/microg/android_external_GmsLib
I look at the code and I think it doesn't support GCM

[2016-04-08 06:55] Zepmann commented on #28
A suggestion:
LibreSignal is already the name of this repository (WebSocket version). Keep it.

FreeSignal (written as one word) is a name [that has not been used yet](https://play.google.com/store/search?q=freesignal&c=apps&hl=en) (OpenSignal [is already used](https://play.google.com/store/search?q=opensignal&c=apps&hl=en)). So name the version that uses GCM FreeSignal instead. Make sure that bot

[2016-04-08 07:14] mimi89999 commented on #28
Maybe CustomSignal ?

[2016-04-08 07:16] mimi89999 commented on #28
TextSecure build were named TextLibre. Maybe let's name it TextLibre?

[2016-04-08 07:26] mimi89999 commented on #28
@xmikos

[2016-04-08 07:27] Zepmann commented on #28
That would add more confusion, since TextLibre is also the name of an older project. At this stage, I think it would be best to avoid reusing names. We are trying to reduce confusion, not potentially increase it.

FreeText as a single word is not used for an Android application yet (as far as I see [in the Play Store](https://play.google.com/store/search?q=freetext&hl=en)). That name could be used

[2016-04-08 08:54] mimi89999 commented on #28
Since @xmikos is the maintainer of the Eutopia repo, I think he should decide about the name...

[2016-04-08 08:56] Zepmann commented on #28
I am just providing suggestions and my opinion, and am not saying who should make a decision or what the best choice is. That's up to you guys (both working on 'LibreSignal').

[2016-04-08 09:07] mimi89999 commented on #10
I think there is no FOSS replacement for the GCM lib.

[2016-04-08 09:13] Zepmann commented on #10
Is it not possible to grab and adjust the relevant code from GmsCore and extend LibreSignal/libtextsecure-java? There is not a ready to use library. Is that necessary?

[2016-04-08 09:47] xmikos commented on #28
I definitely want this project to stay being named LibreSignal. But we clearly need to differentiate it from builds from original Signal source.

Many people using my repositories are accustomed to LibreSignal name (for both original and WebSocket builds), so I want to keep this name. But I can add some identifier to the name, like "LibreSignal (GApps)" or "LibreSignal (WebSocket)". What do you th

[2016-04-08 10:05] mimi89999 commented on #28
The name in F-Droid of the WebSocket fork already contains "(WebSocket)". As for the name of the installed app, I think it shouldn't be to long...

[2016-04-08 10:10] xmikos commented on #28
I know, but build from original Signal source doesn't contain "(GApps)"  and like we now see, it is apparently confusing people. Maybe WebSocket build should be simply named "LibreSignal" (to be consistent with this project name) and build from original Signal sources named "LibreSignal (GApps)"?

[2016-04-08 10:48] Zepmann commented on #28
Maybe the name of the installed application can simply be LibreSignal for either. Add a suffix, such as "(WebSocket edition)" and "(GApps edition) to the name in the Advanced screen and all references outside of the application on the web (such as names in F-Droid).

[2016-04-08 10:53] xmikos commented on #28
There already is difference in the long description on F-Droid. And it is explained on https://fdroid.eutopia.cz website. Apparently some people don't read that...

[2016-04-08 10:55] mimi89999 commented on #28
Quoting myself:

[2016-04-08 11:04] Zepmann commented on #28
Yes, that is in the descriptions. And that supposedly still is confusing when discussing "LibreSignal", as per this issue. It still is unclear for people which version they should install for which functionality. See the top post.

Which is why clarity and consistency are so important.

"LibreSignal" is ambiguous. Referring consistently to "LibreSignal (GApps edition)" or "LibreSignal (WebSocket e

[2016-04-08 11:28] mimi89999 commented on #28
LibreSignal in the main Eutopia repo = custom build of Signal from OWS.

[2016-04-08 11:55] mimi89999 commented on #10
AFAIK there is only the proprietary one and the microg one, but AFAIK it doesn't support GCM

And yes, it's necessary.

[2016-04-08 11:59] mimi89999 commented on #10
I think it should be possible. @LibreSignal could you please check that?

[2016-04-08 12:31] anarcat commented on #10
I was under the impression that microg _did_ feature a freed GCM implementation. This is clearly stated here:

http://zepman.tweakblogs.net/blog/12999/signal-on-android-without-google-play-services

Quote:

The microg website also explicitely states that Signal is one of the goals of the project:

https://microg.org/

Quote:

Why are we rehashing all this?

The only decision that needs to be reach

[2016-04-08 12:33] anarcat commented on #28
Regarding that Eutopia build - why is it a rebuild at all? Why not just ship the Signal binaries as is and update them with gplaycli or something? That would resolve the issues raised by Moxie in the aforementionned discussion ("you are forking TextSecure").

[2016-04-08 12:34] anarcat commented on #28
Oh, and I support the "parenthesized distinction" that was suggested. I think it would be more clear to call them:
- LibreSignal (Websocket)
- LibreSignal (GCM)

... however. Also make it clear in the package's metadata descriptions that the Websocket version is an actual fork while the GCM version is just a rebuild.

[2016-04-08 12:35] Zepmann commented on #10
Yes, microG has a free GCM client-side implementation. No, microG does not provide a ready to use library to use GCM directly in your own applications, which would make your application work without the installation of Google Play Services or microG.

I think there are two questions. First of all, there is yours (will this fork implement GCM support, so that GCM will be used if either Google Play

[2016-04-08 12:43] Zepmann commented on #28
The Signal binaries from the Play Store do not work with microG. The rebuild provided by @xmikos does. I don't know why the rebuild works with microG, but I would appreciate it if they are kept being offered as they are offered now.

If name length is an issue, change "LibreSignal (WebSocket)" to "LibreSignal (WS)".

[2016-04-08 12:44] xmikos commented on #28
@anarcat It is important for me to provide independent build from source code, because Open Whisper Systems (US company) can be sometime in the future forced to silently push backdoored update. I review diff of source code before every new release (this is also why it sometimes takes longer before I publish update on eutopia.cz repo).

[2016-04-08 12:48] Zepmann commented on #28
There is also the issue that the offered version in the Play Store does not have to be based on the officially published source code. Those two can be distinct. Creating a rebuild (with a review of the code differences, as you do) and using that rebuild version reduces this risk.

[2016-04-08 13:00] ghost commented on #28
https://whispersystems.org/blog/reproducible-android/

[2016-04-08 13:06] anarcat commented on #28
Wait, why is that? If it is equivalent, why is the functionality different? That seems like a huge issue here...

[2016-04-08 13:06] Zepmann commented on #28
@anarcat

I can only state from what I tested. When I used Signal from the Play Store with microG, it crashed upon registration. When I used it with LibreSignal (GCM) builds, it worked flawlessly. Maybe there was a version difference between the two tested versions at the time I tested the different versions. I know there was at least one other report of this, but I cannot find it at this moment.

[2016-04-08 13:11] anarcat opened #29 "GCM-less voice calls"
Currently, Signal and LibreSignal (Websocket) require GCM for voice calls to function properly. In fact, as things stand, voice calls do not work in the websocket fork at all (see #10). This is because it is deliberately built without GCM support.

For this to be fixed, one would need the Redphone server to start supporting Websocket as well. This was refused upstream previously:

https://github.c

[2016-04-08 13:11] anarcat commented on #10
Okay well then I'll split this off in different issues because i'm going crazy here.

[2016-04-08 13:13] anarcat opened #30 "GCM support in LibreSignal (websocket)"
Currently, Signal and LibreSignal (Websocket) require GCM for voice calls to function properly. In fact, as things stand, voice calls do not work in the websocket fork at all (see #10). This is because it is deliberately built without GCM support, because those are proprietary libraries.

One way to fix phone calls is to fix the server and the client to use Websocket, this is tracked in #29. This

[2016-04-08 13:14] anarcat commented on #10
So. Phone calls are not working. There are two solutions, either #29 or #30. Can we move the discussions there so that we have a better structure and start seeing actual solutions instead of chasing our tails like this?

Maybe new possible solutions can be spun off in different issues as well.

[2016-04-08 13:29] xmikos commented on #28
@d9h02f I am still using F-Droid build environment on Arch Linux for making my builds (both GApps and WebSocket versions), not Ubuntu based Docker build server as specified by Open Whisper Systems. I can try to switch to it next time for GApps version (it is inconvenient, but being able to compare builds with official Signal builds would be good thing... only resources file should differ then, bec

[2016-04-08 13:30] agilob commented on #28
Sorry, I lost track now and have a question, is/will LibreSignal from eutopia.cz be able to talk with WhatsApp users? There is too much confusion right now around all versions of *Signal and I completely lost it.

[2016-04-08 13:31] xmikos commented on #28
@agilob As far as I know Signal (even official one) is not federating with WhatsApp servers, so no interoperability is possible...

[2016-04-08 13:35] agilob commented on #28
How should I understand [their blog post](https://www.whispersystems.org/blog/whatsapp-complete/)? Protocols are compatible but it's not in the application yet?

[2016-04-08 13:49] xmikos commented on #28
@agilob Moxie just completed switch of WhatsApp (for all platforms) to Signal protocol. WhatsApp already has been using Signal protocol on Android platform in the past (but silently, without end users ability to compare fingerprints or even see if session is encrypted or not). But same encryption protocol doesn't mean compatibility between Signal and WhatsApp. WhatsApp is e.g. using completely dif

[2016-04-08 13:57] agilob commented on #28
Ok, it looks like I misunderstood it. I thought Signal users will be able to talk with whatsapp users using signal application like LibreSignal. Thanks.

[2016-04-08 13:58] mimi89999 commented on #10
@xmikos What do you think?

[2016-04-08 14:30] mimi89999 commented on #10
I think that a FOSS library for GCM could be included in LibreSignal. Then https://github.com/JavaJens/TextSecure/pull/40 would be merged with WebSocket as default. The only missing part is a FOSS library for GCM.

[2016-04-08 14:31] mimi89999 commented on #30
I think that a FOSS library for GCM could be included in LibreSignal. Then JavaJens#40 would be merged with WebSocket as default. The only missing part is a FOSS library for GCM.

[2016-04-08 14:33] xmikos commented on #10
@mimi89999 I am not sure what to do, maybe there could be experimental microG branch of LibreSignal.

But I am not going to implement it myself, it will be really a lot of work... if someone is interested in it, they can start by creating their own FOSS GCM library project for inclusion into apps without being dependent on microG framework (it will be useful for a lot of projects, not just LibreSi

[2016-04-08 14:34] mimi89999 commented on #10
(I moved my comment here: https://github.com/LibreSignal/LibreSignal/issues/30#issuecomment-207453726)

[2016-04-08 14:35] xmikos commented on #30
@mimi89999 I am not sure what to do, maybe there could be experimental microG branch of LibreSignal.

But I am not going to implement it myself, it will be really a lot of work... if someone is interested in it, they can start by creating their own FOSS GCM library project for inclusion into apps without being dependent on microG framework (it will be useful for a lot of projects, not just LibreSi

[2016-04-08 14:41] mimi89999 commented on #30
I agree. I would prefer to fix voice calls the #29 way, but to do that some minimum cooperation from OWS if needed...

[2016-04-08 15:08] mimi89999 commented on #30
@xmikos

For this to work, the code of that library would have to be similar or almost identical to the Google proprietary library code. I'm afraid that Google won't like this...

[2016-04-08 15:16] mimi89999 commented on #30
https://github.com/microg/android_external_GmsLib/issues/3

[2016-04-08 15:17] xmikos commented on #30
@mimi89999 You are free to reimplement API like you want, Google can't say anything against it.

EDIT: Well, they has been attacked by Oracle for reimplementing Java API in Android, so they will be against themselves ;-)

[2016-04-08 15:28] h-2 commented on #28
Wow, what a discussion. I thought it was rather simple.
- LibreSignal is label for non-official Signal-builds
- there are three flavors: only rebrand, WS instead of google-GCM, MicroG instead of googl-GCM
- the third flavor doesn't yet have packages because it depends on a huge amount of modifications to the ROM

right?

[2016-04-08 15:35] mimi89999 commented on #28
There are two flavors: only rebrand, WS instead of google-GCM

MicroG instead of Google-GCM ----> #30

[2016-04-08 15:44] xmikos commented on #28
@h-2 Well, there is another complication :-)

There are two builds of LibreSignal (WebSocket):
- build in my eutopia.cz experimental repository has appid `org.thoughtcrime.securesms` (same as original Signal, for backward compatibility)
- build in official F-Droid repository (not yet in main F-Droid repository, only archive repository) has appid `org.libresignal`

They are same otherwise (just dif

[2016-04-08 15:49] anarcat commented on #28
@xmikos wait - so the experimental repo has the same appid has the official build? that sounds wrong... i thought that build was exactly the same as org.libresignal from github.

[2016-04-08 15:52] mimi89999 commented on #28
The only diff is that he 'sed' (Linux command) the package name in build.gradle.

[2016-04-08 15:58] xmikos commented on #28
@anarcat My repositories predates LibreSignal project on GitHub. I can't change appid because everyone using it will lose app data (private keys and history) in that case.

And it would also mean that nobody can switch from Signal to LibreSignal (with help of oandbackup) without losing app data.

[2016-04-08 17:04] ghost commented on #28
I think it's probably acceptable to switch just once, now, while not that many people are using it yet. Otherwise it can only cause trouble in the long run.

[2016-04-08 17:12] xmikos commented on #28
@d9h02f I assume that people will switch to official F-Droid repository once LibreSignal will be in it. That would be another lost app data for them (because of different signature). I will not change it in my repository.

Btw. @mimi89999 how does it look with it? Do you know why is it not in main F-Droid repository yet?

[2016-04-08 17:15] mimi89999 commented on #28
No, I don't. @krt16s or @mvdan should know.

[2016-04-08 19:03] Diapolo opened #31 "migrate Signal to LibreSignal"
Is there an easy way to be able to keep all conversations, groups and so on, while moving to LibreSignal?

[2016-04-08 19:21] mimi89999 commented on #31
Yes. Oandbackup from F-Droid. You backup Signal data, uninstall the app, install LibreSignal and restore the backup

[2016-04-08 19:23] mimi89999 commented on #31
It also depends from where you install LibreSignal.

[2016-04-08 19:24] Diapolo commented on #31
F-Droid Archive was my choice?

Oandbackup requires BusyBox, which my ROM seems to not have (CM13) :-/...

[2016-04-08 19:35] mimi89999 commented on #31
Look at #22

[2016-04-08 19:36] mimi89999 commented on #31
I should really add this somewhere (maybe the README?)

[2016-04-08 20:04] mimi89999 commented on #28
@xmikos https://gitlab.com/fdroid/fdroiddata/merge_requests/1292#note_4313848

[2016-04-08 20:36] mimi89999 commented on #31
@Diapolo To fix Oandbackup you need to go to settings --> busybox and enter:
/system/bin/toybox

[2016-04-08 21:04] anarcat commented on #28
For the record, I switched from LibreSignal (Websocket) to Signal (official) without "loss of data": i unregistered, backed up the text messages and restored. The keys changed, but meh, i was a new user.

regarding switching to the official F-Droid repo, I wouldn't do that, personally, because that would mean loss of functionality (voice calls), if i understand correctly.

[2016-04-08 21:10] mimi89999 commented on #28
Should be understood as what was discussed in #22 and #31

[2016-04-09 00:26] ghost commented on #28
Why is LibreSignal not in F-Droid mainline? Well, the main reasons for not publishing to mainline were:

1) We really got off on the wrong foot with OWS, so I dont want to get pissed and break compatibility on their end, leaving users with outdated or not  working apps.

2) When added, the packge id was still not decided.

3) Reproducible builds will break updates because of the signing key.

4) B

[2016-04-09 09:34] pravi commented on #10
Just found this https://github.com/skal1ozz/RedPhoneServer

[2016-04-09 09:53] SecUpwN commented on #10
Looks good! Mentioning its maintainer @skal1ozz so that he may helps us on this here.

[2016-04-09 13:05] xmikos commented on #30
If _android_external_GmsLib_ would be extended to support GCM by @mar-v-in, I think we should definitely integrate it. But there should be option to enable it in preferences which IMHO should be disabled by default. We can add some alert dialog informing users that they need to enable it if they want to be able to use voice calls.

[2016-04-09 13:07] mimi89999 commented on #30
https://github.com/LibreSignal/LibreSignal/issues/30#issuecomment-207453726

[2016-04-09 13:25] xmikos commented on #30
Yes, I would just need to add some alert dialog. And if it would be disabled by default (which it should be), registration procedure must be initiated when first turning it on.

[2016-04-09 13:29] mimi89999 commented on #30
@xmikos Could you login to Freenode IRC?

[2016-04-09 13:33] mimi89999 commented on #30
@xmikos I wanted to send you an email, but Gmail is rejecting my emails. :cry:

[2016-04-09 13:48] xmikos commented on #11
If [android_external_GmsLib](https://github.com/microg/android_external_GmsLib) will be integrated in LibreSignal, we can reintroduce location sharing. play-services-location seems to be already implemented in _android_external_GmsLib_, only play-services-maps are missing. We can reimplement maps view to use some OpenStreetMaps based renderer, or we can go simpler way and just show link to receive

[2016-04-09 19:02] mimi89999 commented on #28
For 3. we should first make the build reproducible (there were problems with NDK code). I think that it is very important that the version in F-Droid is verified... The problem is who will be keeping the keys.
Maybe it's a stupid idea, but F-Droid could build and sign the app and I would make a PGP signed statement for every version informing if the apk, that I built is identical to the apk on F-D

[2016-04-10 17:44] #31 closed, assigned to nobody

[2016-04-10 17:47] mimi89999 opened #32 "Add LibreSignal FAQ"

[2016-04-10 17:53] mimi89999 commented on #32
(As a wiki page)

[2016-04-10 18:01] mimi89999 commented on #32
#28 #20 #31 #26 (?) #25 #24 #22 #19 (?) #18 (?) #17

[2016-04-10 20:24] smichel17 commented on #28
I'm a Signal user who's just come across LibreSignal, PhoneLibre, et al, for the first time. Even after reading this thread, I was confused. Then I went and added both eutopia.cz repos and look at what was in them, and now I think I am clear on the relationships between the different apps.
- In `eutopia.cz`
  - appid: `org.thoughtcrime.securesms`
    - GitHub source: `WhisperSystems/Signal-Android

[2016-04-10 20:36] mimi89999 commented on #28
@smichel17 Let me correct you:
- In `eutopia.cz`
  - appid: `org.thoughtcrime.securesms`
    - GitHub source: `WhisperSystems/Signal-Android` source
    - Name: LibreSignal
  - appid `org.thoughtcrime.redphone`
    - Source: ???
      - Used to be GitHub: `WhisperSystems/Redphone`
    - Name: PhoneLibre
- In `eutopia.cz/experimental`
  - appid `org.thoughtcrime.securesms`
    - GitHub source: **_`

[2016-04-10 20:42] mimi89999 commented on #28
@xmikos The link to JavaJens fork in the app description might be confusing.

[2016-04-10 20:44] mimi89999 commented on #28
Wait for #32

[2016-04-10 21:13] smichel17 commented on #28
~~@xmikos f-droid tells me LibreSignal (WebSocket) has appid `org.thoughtcrime.securesms` even though @mimi89999 tells me it is sourced from this repo, which seems to have appid `org.libresignal`.~~

~~Am I correct about both appids? If so, why different ids for code being built from the same source?~~

edit: just re-read this thread and I understand now. ~~However, I am no longer as sure of my re

[2016-04-10 21:23] smichel17 commented on #28
@xmikos @mimi89999 bump because when you edit comments it doesn't send new notifications.

[2016-04-10 22:55] zahnpasta12 commented on #32
I`m willing to help but how can I help you?
(issue #19 or in generell )

[2016-04-11 05:02] mimi89999 commented on #28
LibreSignal in the Eutopia experimental repo = LibreSignal in the F-Droid archive repo.

[2016-04-11 05:14] xmikos commented on #28
@mimi89999 I will change description with next update. I will also update name of build from official Signal sources to "LibreSignal (GApps)"

@smichel17 Sorry, but I think that switching name from LibreSignal to SignalLibre will only add to confusion. This is not what I want to do.

[2016-04-11 05:15] mimi89999 commented on #28
I will add a FAQ ASAP... #32

[2016-04-12 09:44] mimi89999 commented on #32
https://github.com/LibreSignal/LibreSignal/wiki/FAQ

[2016-04-12 09:44] #32 closed, assigned to mimi89999

[2016-04-12 09:45] mimi89999 commented on #28
Please see the [FAQ](https://github.com/LibreSignal/LibreSignal/wiki/FAQ), that I just wrote.

[2016-04-12 09:45] #28 closed, assigned to nobody

[2016-04-12 09:46] mimi89999 commented on #20
Please see the [FAQ](https://github.com/LibreSignal/LibreSignal/wiki/FAQ), that I just wrote.

[2016-04-12 09:46] #20 closed, assigned to nobody

[2016-04-13 18:43] zahnpasta12 opened #33 "Varying max file size for attachements over signal-server?"
I received a 3Mb videofile from a signal-user, but sending a 2.5 Mb file gave me an error "file is too large". On http://www.pcmag.com/article2/0,2817,2494534,00.asp the author says "During testing, when sending a video, I received an error saying that I'd exceeded the service's size limitation. It did not say what the limitation is. Your mileage may vary."

I couldn't find any other informations

[2016-04-13 19:37] mimi89999 commented on #33
LibreSignal is using OWS servers. I think, that you should ask them about this.

[2016-04-13 20:07] mimi89999 commented on #33
https://github.com/WhisperSystems/Signal-Android/issues/700 https://github.com/WhisperSystems/Signal-Android/issues/2780

[2016-04-14 01:44] Nordlenning opened #34 "Application not found on F-Droid"
I have:
- [x] searched open and closed issues for duplicates
- [x] read https://github.com/WhisperSystems/Signal-Android/wiki/Submitting-useful-bug-reports

---
### Bug description

Due to problems with compiling APK in Android Studio 2.0 I tried to get it from F-Droid

Application not found.
### Steps to reproduce

Push F-Droid button to get the APK on F-Droid

**Actual result:** Application not

[2016-04-14 07:03] mimi89999 commented on #34
https://github.com/LibreSignal/LibreSignal/wiki/FAQ
https://github.com/LibreSignal/LibreSignal/issues/24

[2016-04-14 07:04] #34 closed, assigned to nobody

[2016-04-14 20:21] mimi89999 commented on #34
@Nordlenning What was the problem with Android Studio?

[2016-04-15 09:51] Nordlenning commented on #34
Hi

I don't know yet, just upgraded to 2.0 & having some issues with Gradle
build. I like the new Android Studio, looks nice so far.

Hopefully I will get it up & running smooth soon.

Found Signal Installed & running just fine.. Thanks.

On 14/04/16 20:21, Michel Le Bihan wrote:

[2016-04-16 00:21] Nordlenning commented on #34
I'm having a issue with this, is there a quick fix :)

02:05:05 Gradle sync started
02:07:08 Executing tasks: [:]
02:07:11 Gradle sync completed
02:07:52 Gradle build finished with 1 error(s) in 44s 210ms
02:07:52 Gradle sync started
02:08:24 Gradle sync failed: No toolchains found in the NDK toolchains folder for ABI with prefix: arm-linux-androideabi
 Consult IDE log for more details (Help | Sho

[2016-04-19 09:43] tuxayo commented on #17
@JavaJens :

I just found [this](https://github.com/JavaJens/TextSecure/issues/22#issuecomment-127400981)

Are those numbers still relevant or was there some optimization since? Or were they invalidated? Or this not very noticeable?

[2016-04-19 11:03] mimi89999 commented on #17
I use LS only over Wi-Fi and the battery usage is > 1%/h

[2016-04-19 11:09] mimi89999 commented on #17
@tuxayo What is the battery consumption of LS per hour on your device?

[2016-04-19 20:12] relyt29 commented on #30
Hey all,

I want to remind you guys that I looked into this a while back and decided it was not a good idea, for privacy reasons. Basically it boils down to - even if the phone has an open source GCM implementation, its still sending tons of unnecessary info in the background round the clock to Google servers for almost no reason. I consider that a violation of my privacy so I didn't chase down th

[2016-04-19 20:52] mimi89999 commented on #30
@f41c0r Some time ago I was against adding GCM support in LibreSignal. Now I think, that GCM support can be added if:
1. The lib is 100% FOSS
2. It's disabled by default

[2016-04-19 20:56] mimi89999 commented on #30
Probably adding GCM support in LibreSignal is the only way of making calling work...
If you want, you can ask OWS to open source the RedPhone server and to implement WebSocket support in the RedPhone server.

[2016-04-20 08:02] mimi89999 commented on #30
I would also prefer to solve the calling issue the #29 way, but to do that some minimum cooperation/help from OWS side is needed.

[2016-04-20 11:48] tuxayo commented on #17
I only use it over Wi-Fi and I don't remember having seen it yet on the consumption reports.

What about the usage on mobile data? (that I can't test)

[2016-04-20 11:53] mimi89999 commented on #17
AFAIK battery usage, when using LS over mobile data is much worse, but I'm only using it over WI-Fi, so I can't tell you much about it.

[2016-04-20 11:54] mimi89999 commented on #17
https://github.com/JavaJens/TextSecure/issues/22

[2016-04-20 14:49] saddy001 commented on #30
I don't know whether this could be an option, but the message notifications in Conversations (GPLv3, https://conversations.im/#security) are working fine without GCM.

[2016-04-22 09:39] tuxayo commented on #17
My original message was asking if those numbers were still relevant, thanks for confirming this.

[2016-04-22 11:55] mimi89999 commented on #17
It depends on your network conditions.

[2016-04-29 14:52] EibrielInv opened #36 "LibreSignal not available on F-Droid"
The application is not available on F-Droid repositories: https://f-droid.org/repository/browse/?fdid=org.libresignal

The search returns "Application not found"

[2016-04-29 15:05] mimi89999 commented on #36
#34 #24

[2016-04-29 15:05] #36 closed, assigned to nobody

[2016-05-04 16:26] kakedacich opened #37 "Please add LibreSignal to f-droid"
Dear maintainers, I'm reading here:

https://github.com/LibreSignal/LibreSignal/issues/28#issuecomment-207661671

that the people behind f-droid are willing to have LibreSignal distributed there.
What they're waiting for is a pull request from you (last sentence of that comment).

I hope you are already aware of this and that you'll allow everybody to get this great fork from f-droid!

Thank you

[2016-05-04 18:00] mimi89999 commented on #37
There are still several important issues:
1. The signing key for reproducible builds. If the signing key is changed, an update won't be possible. Also, who would "own" the signing key in such a case?
2. Our relations with OWS are really bad. I'm afraid, that one day, they will ban LibreSignal from their server...
3. Calling still doesn't work.

@LibreSignal what do you think? Should LibreSignal be

[2016-05-04 18:23] eighthave commented on #37
I don't think it makes sense to include LibreSignal in F-Droid until you have a server to run it.  They have explicitly said that the only want their own builds of Signal using their server.

[2016-05-04 18:24] eighthave commented on #37
even better, help them move to 100% free software and working without Google, so there isn't a need for the fork.

[2016-05-04 19:00] mimi89999 commented on #37
@eighthave

Running a server costs money and I am not sure if OWS will want to federate with us.

The problem is that Moxie and OWS don't want Signal to be 100% free/libre software (it is not important for them...)

[2016-05-04 19:17] paride commented on #37
@eighthave They are not interested in removing the Google GCM dependencies, so unfortunately this is not possible. Moxie has been quite explicit on this point, several times.

@mimi89999:
1. Can't the package be signed with the f-droid key, like the other packages on f-droid, and then this binary becomes the reference for LibreSignal's reproducible builds? Maybe here I'm missing something...
2. Is

[2016-05-04 19:26] mimi89999 commented on #37
https://cloud.githubusercontent.com/assets/1433926/9705240/83886c9c-54be-11e5-867a-458f24bf9b6a.png

[2016-05-04 19:33] paride commented on #37
@mimi89999 but that is about calling the independent build Signal, and after that discussion (and legal threats) xmikos renamed it to LibreSignal (s/Signal/TextSecure). It's mostly about the trademark.

[2016-05-04 19:34] mimi89999 commented on #37
@legovini
1. F-Droid signing keys might get stolen or somebody from F-Droid might be forced to sign a malicious apk. If LibreSignal is added using reproducible builds, this won't be possible...

EDIT: Please read https://f-droid.org/wiki/page/Deterministic,_Reproducible_Builds#How_it_is_implemented_as_of_now

[2016-05-04 19:40] mimi89999 commented on #37
@legovini Let's ask @moxie0 if he is OK with LibreSignal using OWS servers.

[2016-05-04 20:03] legovini commented on #37
@mimi89999 thanks for the link, now I truly understand the point about the key owner.

Moxie has no activity on GitHub in the last month:

https://github.com/moxie0

I really hope we will get an answer. Asking is indeed the best thing to do.

[2016-05-05 17:02] moxie0 commented on #37
I'm not OK with LibreSignal using our servers, and I'm not OK with LibreSignal using the name "Signal."  You're free to use our source code for whatever you would like under the terms of the license, but you're not entitled to use our name or the service that we run.

If you think running servers is difficult and expensive (you're right), ask yourself why you feel entitled for us to run them for y

[2016-05-05 17:29] mimi89999 commented on #37
@moxie0

LibreSignal is using the name "LibreSignal". The name "LibreSignal" contains "Signal". If you prefer, I can rename "LibreSignal", so that it doesn't contain "Signal" in the name... I can also change the icon if you want.

You are receiving donations for developing Signal-Android and running the servers. I am not.

If I finance running a TextSecure server for LibreSignal, will you federate

[2016-05-05 17:30] mimi89999 commented on #37
@xmikos @JavaJens @SecUpwN @mvdan @krt16s What do we do now?

[2016-05-05 17:48] h-2 commented on #37
@moxie0

@mimi89999

I think these are the crucial points. Nobody wants to annoy WhisperSystems or create extra expenses or support tickets, but we do need inter-operability and interaction of the users. @moxie0 if you release the red phone server components and would agree to federate, I am sure we could gather enough resources to maintain own servers and not bother you further :smile:

[2016-05-05 18:17] moxie0 commented on #37
Thanks, that would be great!

You're capable of doing that as well, though. We're barely able to support our own apps, and having to support products outside of our control would make our lives even more difficult. If you think that collecting donations to run and maintain servers for your own project is difficult, why would you expect us to do it for you?

It is unlikely that we will ever federat

[2016-05-05 19:32] mimi89999 commented on #37
@moxie0
I don't think that the several LibreSignal users are a big impact on the server. Anyway, since you rely on donations, what is the difference for you if the user is using Signal-Android or another Signal fork? You don't have to specially "support" this app. It is communicating with the server the same way as Signal-Android and Signal-Desktop. (AFAIK Signal-Desktop is using WebSockets).

Som

[2016-05-05 21:04] paride commented on #37
@moxie on https://github.com/LibreSignal/LibreSignal/issues/37#issuecomment-217211165, I expected you to welcome LibreSignal on OWS servers because you have nothing to lose but a lot to gain. What is at stake here is the opinion and support of a big community, something that can make the difference in the future Signal. All the "freebie" PR you receive for your products do not come from people tha

[2016-05-05 21:12] mimi89999 commented on #37
@legovini Signal Plus doesn't look bad (I didn't look yet at the entire code...). The only problem is that it is a bit outdated.

[2016-05-05 21:25] paride commented on #37
@mimi89999 my fault, I thought it was not distributed for free on the play store.

[2016-05-05 21:28] mimi89999 commented on #37
Signal Plus is a fork that contains many interesting features, that users asked for on the Signal-Android issue tracker, but that were never added by OWS (file transfer, wallpapers, etc.).
The issues with Signal Plus are that the app isn't 100% FOSS/FLOSS and that it requires gapps (like Signal-Android). The app is also a bit outdated, but I think that they might be open to PR.

[2016-05-05 21:49] ghost commented on #37
Law is difficult, I don't know what trade/wordmarks OWS holds and what it can enforce with it. My common sense tells me that's a joke to have any such thing for a general word like "signal" in any way, but law is not common sense.

As for F-Droid: As I said, I wont be the in merging it into mainline. And even if there is a vote, I will not be in favor of it anymore. It's clear that OWS will (or mi

[2016-05-06 03:23] moxie0 commented on #37
The difference is huge; one we have control over, the other we don't. I understand that federation and defined protocols that third parties can develop clients for are great and important ideas, but unfortunately they no longer have a place in the modern world.  Even less of a place for an organization the size of ours.  Everyone outside the FOSS community seems to know it, but it took actually bu

[2016-05-06 06:58] ghost commented on #37
I am not involved in LibreSignal, and for my personal usage I actually am using XMPP the whole time and am pretty happy with it. My comment was directed to the LibreSignal devs. It's clear that you have other plans and other priorities. No hard feelings here, it's just when someone wants federation, no non-free blobs or whatever, Signal is not the thing to use. XMPP has quite some other problems,

[2016-05-06 09:02] mimi89999 commented on #37
@moxie0
Some users that care about their device security and about the 4 essential freedoms (use CyanogenMod (I know CM isn't great either for the 4 essential freedoms...), don't flash gapps, etc.) use LibreSignal to contact users that don't know how to do that...

I don't see the huge difference. The protocol is the same. The only difference I see is that you can't directly push updates to LibreS

[2016-05-06 10:24] cjeanneret commented on #37
I love the fake opensource provided by OWS : use the code, but go f**\* yourself for federation, out-of-store distribution and acceptation.
Really an open mind as we want to see more and more. :-1:

Seriously, if OWS continues that way, even libreSignal will be dropped from my devices, and no other apps from this organization will ever come back.

Currently, people seem to be wanting to help, prov

[2016-05-06 10:33] mvdan commented on #37
Whatever your take on what "the right thing" is, there is no need to get personal.

And as previously said, Signal is free software - that entitles you to the source code, and no more. Noone is in the right to demand that OWS do anything else, and that includes most of what is being said in this thread.

[2016-05-06 11:10] paride commented on #37
I agree with @mvdan and I thank @moxie0 for replying when asked by @mimi89999, providing his (OWS) point of view in a polite and useful way, bringing up some truly interesting aspects of the issue.

I can understand @cjeanneret's frustration, feeling just one step away from a truly free and secure messaging system, but this is no excuse for being rude.

[2016-05-06 11:21] vanitasvitae commented on #37
I'd find it really sad if OWS would stop LibreSignal from using their Servers. Up to this point the two projects coexisted in a nice peaceful manner. And as far as I can tell LibreSignal does not add any load to OWS servers. If a user has GApps he probably uses Signal, if he doesn't he may be using LibreSignal. That's it. Also afaict LibreSignal is not an app that generates tremendous amounts of t

[2016-05-06 14:06] mimi89999 commented on #37
I see only 3 possibilities now:
1. Do as @xmikos said earlier https://github.com/JavaJens/TextSecure/issues/72#issuecomment-170970877 https://github.com/JavaJens/TextSecure/issues/72#issuecomment-170975533
2. Stop LibreSignal and focus on another secure messaging app.
3. Host our own servers, but without federation that would mean creating our own desktop and iOS client (using our own servers). Th

[2016-05-07 02:25] BlackerFlag commented on #37
@mimi89999
Hi, I'm a long time lurker of this issue (ever since the infamous #127 of 2013). Now that the true colours of the situation have finally come to light, a far clearer direction is possible.

There are two great projects that instead of actively helping/supporting some of the largest bulwarks of trans-national, corporate power (Facebook Inc. & Google Inc.) actually work toward liberating

[2016-05-07 03:26] moxie0 commented on #37
That sounds great, I hope you'll use Conversations or ChatSecure instead of Signal.  The big question, however, is why doesn't everyone already do that?  Guardian has been working on it for just as long or longer, with the same amount of funding or more. So why are Signal's growth, ratings, and engagement substantially higher?

You can keep mumbling XMPP over and over again like some Hare Krishna

[2016-05-07 08:11] vanitasvitae commented on #37
@moxie0 You rejected the original PR of JavaJens (that added Websocket support to Signal) because of bad code quality (iirc). Are there any chances that you accept it in the future if the quality gets significantly better? That way people without GApps are at least still able to use Signal at all, even when they do not get the 4 freedoms.
Does that sound like a compromise?

[2016-05-07 08:18] mimi89999 commented on #37
@moxie0 @BlackerFlag

Now ChatSecure only supports OTR.
As for Conversations, OMEMO was only added quite recently.
I think that is why.

Also, can't somebody use Conversations and Signal on a device without gapps? I know that keeping two connections with two servers for two apps has an impact on battery, but I didn't notice it...

[2016-05-07 09:12] paride commented on #37
@moxie0 trying to answer your question, I think that Signal gained way more users that the XMPP-based alternatives not because of the centralized architecture per se, but because it got two important things right:
1. The identity of the users is their phone number. There is nothing else to exchange with anybody, nothing to chose or understand, no username, no "display name", no email, and so on. I

[2016-05-07 12:45] BlackerFlag commented on #37
@moxie0

Signal's growth, ratings, and engagement is higher due to simplifying the setup process to chat/talk fully encrypted. Tor Messenger, which you conveniently glossed over, is attempting to do this for XMPP, instead of centralising, cloudifying and sowing on proprietary protocols on a piece of "secure", "free" software like your project has done. They're going the (in my opinion) sensible ro

[2016-05-07 18:14] mimi89999 commented on #37
@BlackerFlag

I have Conversations on my Android phone.

@moxie0
Another reason for XMPP not being so popular is that iOS apps like ChatSecure can't implement Axolotl/OMEMO:

https://chatsecure.org/blog/chatsecure-v32-push/

[2016-05-07 18:43] moxie0 commented on #37
If the type of encryption protocol that a messenger uses is what determines its popularity, then why is Telegram so popular?  Conversely, if the type of encryption protocol is what determines a messenger's popularity, why didn't XMPP clients implement something like Signal Protocol sooner?  They've been around for longer than we have, have the same resources or more, have the same funding or more.

[2016-05-07 19:49] eighthave commented on #37
@moxie0 We at Guardian Project applaud your work at making crypto easier to use, but don't forget we are targeting different problems.    As you said, Whisper Systems only cares about mass surveillance.  We are definitely focused on targeted surveillance as well.  Add in federation to the equation as an essential piece to circumvent blocking, and that makes it a lot harder to make easy-to-use soft

[2016-05-07 19:50] mimi89999 commented on #37
@moxie0

I'm asking myself the same question. Maybe because they were problems implementing it on iOS? (thinking...)

Quoting myself:

Also, why shouldn't you support normal users and "cryptonerds and free software moralists". "cryptonerds and free software moralists" like me would like to communicate with normal users. Signal already has a big userbase and people love Signal. That is why LibreSig

[2016-05-07 22:44] moxie0 commented on #37
Since when? Signal works fine in China, or at least I message people there on Signal pretty regularly.  Looks like the registrations/minute for +86 are pretty high too.

Never realized that.  Out of curiosity, what about ChatSecure stops targeted attacks on an Android device?

It's because XMPP is stuck in time.  Making any changes to a federated protocol is very difficult, which is why it still r

[2016-05-08 06:27] vanitasvitae commented on #37
@moxie0 So you require a "normal" user of a cheap Indian phone eg. to unlock and root his phone to install GsmCore via adb sideload to use Signal? Compare that efford to just install libresignal.
Also you forget ROMs like copperheadOS that would require gsmCore to be signed with the same key that signed the ROM itself, which would require the user to download ~30GB of Android source code, build th

[2016-05-08 08:47] mimi89999 commented on #37
@moxie0

@eighthave wrote "has been" not "is".

Signal also contains the proprietary GMS lib. I had also problems finding the source of 'org.w3c:smil:1.0.0' that is in your maven repo. Finally I added https://github.com/SilenceIM/org.w3c.dom as a git submodule in the libs folder. It is the version used in SMSSecure now called SilenceIM (a Signal fork). The problem is that the SHA of the .jar that

[2016-05-08 13:16] mimi89999 commented on #37
And don't forget you need Signature Spoofing for microg to work.

[2016-05-08 14:05] haffenloher commented on #37
If these are the things that bother you, you could write an open source replacement for the GMS client library that does not enforce Google's signature on the GMS package.

[2016-05-08 14:20] mimi89999 commented on #37
I know that mar-v-in was working on it, so I asked him about it: https://github.com/microg/android_external_GmsLib/issues/3

(The GMS lib he wrote didn't support GCM)

[2016-05-08 16:25] SecUpwN commented on #37
Gosh, been away a few days and this Issue is exploding! @mimi89999, would you please give me and other readers a quick round-up of the current state of this discussion? Here are some questions I have:
- Is this discussion actually about if we should continue this app (this is an essential Issue)?
- What are our main options now to de-confuse users?
- How come you've set labe `wontfix`? We _need_ t

[2016-05-08 16:39] mimi89999 commented on #37
@SecUpwN Please read the entire discussion. It is very interesting. As for the future of LibreSignal please read https://github.com/LibreSignal/LibreSignal/issues/37#issuecomment-217449686

[2016-05-08 16:45] SecUpwN commented on #37
That really makes me shiver. Am I right that all of that would not be the case if @moxie0 would remove the Google dependencies? I still do not get why Signal defends using these dangerous libraries..

[2016-05-08 17:11] moxie0 commented on #37
As we established earlier in the conversation, using phone numbers as identities is a strong growth engine for modern messengers.  So you can pick one: federated identifiers, or a product people use.  We've picked a product people use, but you're free to try a different experiment if you wish.  Again, you're free to use the software we've made available under the terms of its license in that exper

[2016-05-08 17:50] vanitasvitae commented on #37
Just enable users without ANY kind of GCM implementation (a libre implementation of an unfree API just makes no sense) to communicate with other Signal users by optionally targeting the websocket of your desktop app. The fact that JavaJens brought this fork to life and the devs could make it work this well demonstrates that it is indeed possible and realistic.

[Insertion]: This will have no negat

[2016-05-08 17:57] moxie0 commented on #37
What in the world is "unfree" about an API? The entire GNU subsystem was a "Free" implementation of an "unfree" API, so you're going to have to jump through some pretty revisionist history to justify that statement.

At this point I'm just going to be repeating myself, so I'm going to unsubscribe from this thread. Good luck with your projects everyone.

[2016-05-08 17:59] vanitasvitae commented on #37
@moxie0 Sorry for being inaccurate. "unfree" should read "an API that routes the users data to Google".

[2016-05-08 18:27] mimi89999 commented on #37
@moxie0

I read some articles saying that software under the GPL license is not allowed in the Apple App Store. Signal-iOS is under the GPL license and is was accepted in the Apple App Store. I'm really confused now.

[2016-05-08 18:29] Pazuu commented on #37
I think this is exactly the Point. Would it not be the perfect compromise if Signal would officially have an option f.e. to check for new messages every 20minutes (and therefor not depend on the google API)?
Then every foss nerd could compile it themselves and would not give information of any kind to google.
Thanks for your thoughts! :blush:

[2016-05-08 18:40] vanitasvitae commented on #37
@Pazuu this is more or less what Libresignal is doing.

[2016-05-09 00:17] BlackerFlag commented on #37
@moxie0

This was by far the funnies exchange in this thread.

Hey! That's a canned response: https://news.ycombinator.com/item?id=10665789

You're basically jesting at this point.

Hey Dodgie, as you come in to scab their withering private properties, you must be a blast behind the closed doors of their corporate headquarters as they sit by a projector in a smoke-filled room, scrolling through yo

[2016-05-09 00:18] BlackerFlag commented on #37
So, moral of the story:
1. "Scabbing for trans-national corporate elites and rhythmic pelvic dancing with Sergey Brin are the revolutionary tactics of the 21st century"
2. "Cryptonerds,  freetards and anonymity grandpas are icky and should be separated from the mass of the people"

-Moxie Googlespike the Shit Out of My Hardware

That's all, folks.

[2016-05-09 06:37] vanitasvitae commented on #37
Would it be a possible solution to expose the server URL in LibreSignals Settings? That way the user can enter the URL of the server he wants to use himself at runtime. It would be the users choice which server he wants to use. Is that possible?

And if the user chooses OWS server... Well its the users "fault".

[2016-05-09 07:43] mimi89999 commented on #37
@vanitasvitae Yes, but what would it give since there is only one TextSecure/Signal server? Don't forget that the SSL cert for the server is in the app...

[2016-05-09 07:48] vanitasvitae commented on #37
@mimi89999 Bummer, didn't know about the certificate.
Signal server code is free, so there is the possibility of other servers. If there actually ARE other servers is not the point. My idea is that LibreSignal is not responsible for users that decide on their own to use OWS' servers.

[2016-05-09 07:56] mimi89999 commented on #37
If LibreSignal continues using OWS servers, they might:

A. Do nothing.
B. Ban LibreSignal from the srvers.
C. Start legal actions.

Like a possibility to protect against C.?

@SecUpwN @xmikos What do you think?

[2016-05-09 08:01] vanitasvitae commented on #37
Exactly.

[2016-05-09 08:13] pravi commented on #37
Kontalk, just needs more developers. It has phone number based identities that works like Signal, but interoperable with xmpp. I wish the LibreSignal devs joined hands with kontalk, instead of hitting their heads on OWS wall. It lacks groups and omemo right now, but that can be easily fixed by more developers.

[2016-05-09 08:55] SecUpwN commented on #37
@mimi89999, possibly. But I really worry where all of this is heading. If OWS and especially Moxie are that keen to defend their "free" software up to the point of saying "Hey, you can copy and modify the code, but not use our servers and not use even part of the original name", it really is a turn-down. On one side we might say "we don't care, continue" - but on the other side moving on to suppor

[2016-05-09 10:25] mimi89999 commented on #37
@SecUpwN
I have a feeling that we are running into a dead end. I think that abandoning LibreSignal and focussing on an other messaging app is the best solution, but lets wait for @xmikos and @JavaJens replies.

[2016-05-09 11:48] infinity0 commented on #37
I know that @moxie0 is no longer reading this, but I just want to chime in for future readers that have the same attitude: dismissing FOSS as an "ideology" is **ignorant** both of software history and of its principles.

We as a community have been through many cases of "lock-in" bullshit before, and FOSS is a way to protect against that - prevent one big player from controlling _technical directi

[2016-05-09 12:24] eighthave commented on #37
there are many alternative private messaging apps to work on, for those looking to work on projects that are truly free software, here's a quick list:
- https://chatsecure.org
- https://github.com/siacs/Conversations
- https://zom.im
- https://kontalk.org/
- https://blog.torproject.org/blog/tor-messenger-beta-chat-over-tor-easily

There is also protocol work that needs contributors, specifically t

[2016-05-09 12:29] TheJJ commented on #37
I'd be really happy if we found a solution to make https://tox.chat/ be usable in a convenient way on mobile phones and other devices.

Using the phone number as ID will be very hard, but a true peer-to-peer messaging/calling network with working multi client support (i. e. all messages available at all authenticated devices) is the ultimate communication platform i'd say.

Maybe, to create a stro

[2016-05-09 12:34] pejakm commented on #37
I think Kontalk is the right way to go.

@zgrimshell

[2016-05-09 12:40] mimi89999 commented on #37
@TheJJ

There is [Ring](https://ring.cx), but IIRC it doesn't support FS.

[2016-05-09 12:46] pravi commented on #37
I have used tox.im in the past and it used huge amount of data. Full p2p is possible only if you have an unlimited data plan, which is not the case in this part of the world where I live (India). So federated messaging works best, kontalk is just perfect, except for missing group feature (groups feature is in alpha and I hope it will be available soon, once its available, I can happily drop LibreS

[2016-05-09 12:47] mimi89999 commented on #37
@pravi Don't forget that Kontalk also doesn't support FS...

[2016-05-09 12:51] cjeanneret commented on #37
@mimi89999 on its way, they are just lacking dev and people ;).

[2016-05-09 12:58] mimi89999 commented on #37
@eighthave

What is the difference between Axolotl/OMEMO and OTR v4?

[2016-05-09 13:00] nadimkobeissi commented on #37
I think @moxie0 should be more honest here.

Moxie, this isn't about you being bothered by other people using the  word "Signal" as part of their name (in its own, [ridiculous](http://www.dictionary.com/browse/signal)), or about you being bothered by federation ([you've asked Telegram, of all people, to federate into your network](https://news.ycombinator.com/item?id=6915741), which I understand m

[2016-05-09 13:28] haffenloher commented on #37
The post you link to is from 2013. Back then, Telegram did certainly not have a hundred million users (they just launched) and OWS had not yet gone through the experience of federating with CyanogenMod's Whisperpush service. They tried it and the experiment failed.

[2016-05-09 13:33] nadimkobeissi commented on #37
Do you believe for a second that if Telegram wanted to federate today, OWS would turn down a hundred million users?

But it doesn't really matter. I am making an expression of frustration against what I perceive as plain old dishonesty from OWS. They want to release open source software but don't want anything to do with whatever that entails, not even to the point of allowing client forks to conn

[2016-05-09 14:00] haffenloher commented on #37
yeah, to be honest, that's a feeling I can very well relate to

[2016-05-09 15:36] vanitasvitae commented on #37
@Kontalk Don't you also usw GCM?

[2016-05-09 15:39] mimi89999 commented on #37
@vanitasvitae They use GCM only in the Play Store version. Not in the F-Droid one.

[2016-05-09 15:40] pravi commented on #37
@vanitasvitae gcm is optional in kontalk. Play store version use it, fdroid version does not.

[2016-05-09 15:41] vanitasvitae commented on #37
Ah nice! That's the way I'd like Signal to go.

[2016-05-09 21:07] weiss commented on #37
@moxie0

Isn't a phone number a "federated identifier"?

[2016-05-09 22:02] zgrimshell commented on #37
@weiss

That isn't working on Signal anymore https://github.com/WhisperSystems/Signal-Android/issues/5384

but hey, WhatsApp works and moxie already took pride on its Signal protocol usage -.-

[2016-05-10 07:59] schiessle commented on #37
I know it is a quite heated discussion. Let me start that I use Signal on a daily basis and I think it is by far the best app we have at the moment. So everything I write should be seen in the light of a big Thank You for this great app! The reasons why I think that it is the best option are:
- How far I can tell it and what other crypto experts say, it has the best crypto protocol
- It is Free So

[2016-05-10 09:00] vanitasvitae commented on #37
@schiesbn I agree. Also @moxie0 s argument that other app stores or distributed apks weaken security is not right. Yes, if a user installs an apk by himself he has to tick the "external sources" check box, which is a potential security problem. But what is the alternative? Not using Signal at all?

[2016-05-10 09:21] cjeanneret commented on #37
@vanitasvitae +42. You tick it, install it, untick it. Easy, in fine.
On my side, Threema is my favorite — unfortunately not opensource, and won't be due to the business model (had many discussions with them about that). But this one can, at least, allow to NOT use GCM with a simple, configurable polling setting.

@moxie0 please consider "polling" and "OWS f-droid repository". Think about it. Real

[2016-05-10 09:38] schiessle commented on #37
Completely off-topic here. But not being Free Software is a complete show-stopper for me. As said, being Free Software is a pre-requirement for security. If it is not Free Software I have to trust them the same way I would have to trust WhatsApp, etc.

I also don't buy the argument about the business model. If Threema would be Free Software they could still sell it on their web page and on the pla

[2016-05-10 09:56] vanitasvitae opened #38 "Rename LibreSignal"
According to #37 (if we continue LibreSignal at all) we should rename LibreSignal.

My suggestion would be "Frequency".

What do you think? Is it too early to discuss this?

[2016-05-10 09:57] SecUpwN commented on #38
Nice suggestion. But renaming a dead horse will not make it alive again. We need to solve the core Issue.

[2016-05-10 10:05] SecUpwN commented on #37
Hey folks, I've just received a message from Mike Kuketz from the German [Kuketz IT-Security Blog](https://www.kuketz-blog.de/) who also [wrote about our project](https://www.kuketz-blog.de/?s=LibreSignal). He basically said that we shall let Signal (and repectively LibreSignal) die. It is not worth the pain fiddling with all the shit Moxie Googlespike is throwing at us (and rest assured that will

[2016-05-10 10:07] paride commented on #38
I think that "Noise" would be more fun, but @SecUpwN is right, the core issue should be solved first.

[2016-05-10 10:13] paride commented on #37
@SecUpwN, it has been already mentioned earlier in this thread, but I think Moxie is right about this, those are projects the average user will never use. And I think that everything is about the setup process, identity (phone number), contacts discovery and simple interface. Kontalk seems a better alternating in this regard, maybe we should just focus there. It's a shame because I personally brou

[2016-05-10 10:21] eighthave commented on #37
I totally agree that setup needs to be dead simple to get broad
adoption.  I do not agree that it requires uploading your contacts to
some server.

Check out https://zom.im for a different approach that I think can
really pay off.  First, signup is dead simple, just choose a display
name.  Then for finding contacts, you can send/post a URL to whatever
channels you already have, be it Signal, Whats

[2016-05-10 10:24] paride commented on #37
@eighthave, Signal does not upload your contacts to a server, see the very interesting:

https://whispersystems.org/blog/contact-discovery/

[2016-05-10 10:27] vanitasvitae commented on #37
@legovini:

[2016-05-10 10:35] mimi89999 commented on #37
@legovini

Look at https://github.com/LibreSignal/LibreSignal/pull/35

[2016-05-10 10:51] paride commented on #37
You are right, sorry.

[2016-05-10 14:25] mimi89999 commented on #37
I agree with @SecUpwN that we should let this project die. :disappointed: I think that Conversations is a good alternative. I'm using it with an XMPP server that I host on a Raspberry Pi 2. :smile: My JID is the same as my email address. :smile:

[2016-05-10 14:46] paride commented on #37
At this point I'm considering ditching Signal for Telegram (secret chats) to communicate with non-technical users, while I'll use ChatSecure/Conversations/Ring/whatever with my cryptonerd friends.

Telegram's server is not open source, but neither Signal's server is (at least the RedPhone part). And they don't oppose third party clients (what an absurdity, after all!):

https://telegram.org/faq#q-

[2016-05-10 14:48] pejakm commented on #37
The better alternative is Kontalk. @legovini already stated his opinion (on why Signal is successful) and I couldn't agree more:

Kontalk has excellent potential to popularize XMPP, IMHO.

[2016-05-10 14:56] pejakm commented on #37
Telegram supposedly has flaws in its crypto protocol:

http://www.cryptofails.com/post/70546720222/telegrams-cryptanalysis-contest
https://unhandledexpression.com/2013/12/17/telegram-stand-back-we-know-maths/
http://security.stackexchange.com/questions/49782/is-telegram-secure

Also, recently they deleted some user groups: http://www.ibtimes.com/telegram-just-deleted-78-isis-channels-secret-chat-a

[2016-05-10 15:36] weiss commented on #37
I don't buy this reasoning.  It assumes you already have the phone number of your contact.  If you don't, then it's _much_ nicer to exchange mnemonic identifiers than random phone numbers (I can't even remember my own!).  And you may well not _want_ to give everyone you'd like to chat with your number.

It think the identifier has always been a non-issue for email.

[2016-05-10 15:44] paride commented on #37
@pejakm Sure I prefer Kontalk for a number of reasons, but at the moment it's not an immediate Signal replacement for many of my contacts, for example there is only an Android client...

@weiss Unfortunately your reasoning does not apply to the average user.

[2016-05-10 15:49] weiss commented on #37
So average users prefer long random numbers over mnemonic identifiers?

[2016-05-10 15:55] pravi commented on #37
@weiss they already have the phone number is their addressbook, no need to remember any number. Any new id is extra info to share. Many new internet users like my cousine don't use email, they just use WhatsApp.

[2016-05-10 16:01] weiss commented on #37
But how did it get into their addressbook?  In my experience, the common case these days is that they exchange numbers to be able to _chat_ with each other (using WhatsApp).

[2016-05-10 16:02] paride commented on #37
In one word: Yes.

The reasons are mostly psychological: it is deeply accepted that a "phone" number is univocally associated with a "phone", and the phone to a person, so that number is his/her phone number. You don't chose it, you have it (and this is probably the whole point). When you need to contact a person using a phone, you need that number. This is felt as completely natural, as we are bo

[2016-05-10 20:30] bungabunga commented on #37
here's @moxie's summary on OWS's blog:
https://whispersystems.org/blog/the-ecosystem-is-moving/

i must say it's reasonable and i totally buy it. the only thing i don't quite understand is why he's not implementing a websocket support to Signal for the non-GCM users, but still - it's his decision.

also, no need to call people names (googlespike, etc), that's childish and says more about you, then

[2016-05-10 20:50] zgrimshell commented on #37
on other hand I don't buy it. He is correct, the ecosystem is moving so why would his choice of using numbers as identifiers or not choosing federated approach (because it is stuck and doesn't have masses behind) be the good one. That is contrary to ecosystem is moving - that is ecosystem is stuck to what big players choose it to be.

With that logic why would we develop electrical car or wireless

[2016-05-10 21:11] paride commented on #37
I don't disagree with him, but still that's not an explanation for being against unofficial clients, even if they do not contain the string "signal" in their name.

[2016-05-10 21:30] zgrimshell commented on #37
why? because he can - he is the central power of his ecosystem and he can do whatever he wants. Centralization and not federation. He explained it in plain English.

Moxie and his team made a great protocol, hands down - anyone trying to say something bad about that is on wrong side of the road. But his philosophy about how to manage the infrastructure and user base is....not even remotely close t

[2016-05-10 21:34] eighthave commented on #37
There is something useful there, but the issue is not the federation.  Federation is hard, but it also solves hard problems.  Those telephone numbers that are so essential to Signal are a wonderfully federated system.  And I'd love to see anyone get anything done without DNS.  Centralized systems are much easier to setup and run, and they are also much easier to block and take over.  Brazil blocke

[2016-05-10 21:36] paride commented on #37
@zgrimshell, the point is that I don't see what is there to gain (or not to lose) in actively opposing third party clients. On the other side, I see what is there to gain in allowing them (a lot of support, upstream contributions, widespread adoption, trust).

[2016-05-10 21:48] zgrimshell commented on #37
@legovini what don't you understand about centralized systems?

@eighthave do the right thing, not the easy thing. Agree with you.

[2016-05-10 21:52] paride commented on #37
@zgrimshell centralization is about the server side, not the client side. For example Telegram is centralized, but allows unofficial clients.

[2016-05-10 21:57] zgrimshell commented on #37
@legovini that is called server centralization. I am talking about entire system. He wants control. He doesn't want others breaking his pure ecosystem. End of story. In todays world, he has all the right to do so. Do I agree with it and think it sucks big time - yes.

Now, kudos to him and his gang for crypto protocol. Time to move on and create new revolution as Signal is dead end - not going any

[2016-05-10 22:01] nadimkobeissi commented on #37
My problems with the new OWS [blog post](https://whispersystems.org/blog/the-ecosystem-is-moving/) are simple:
1. It does not address LibreSignal's original demand in the slightest: as a fork of the original client with minor differences, why would it not be allowed to connect to Signal servers the same as other clients? Note that this isn't even federation. It's just asking to be able to connect

[2016-05-10 22:01] thestinger commented on #37
@mimi89999 If you want free hosting for an open-source project's server(s), apply for an OpenShift grant from Red Hat: https://www.openshift.com/grants/. The CopperheadOS update server (and website) has free hosting thanks to them. I don't see much value in LibreSignal if it's not interoperable with users on Signal though, so it's pointless if there's no federation. It would be better to invest th

[2016-05-10 22:12] thestinger commented on #37
@kaepora The Signal client includes some proprietary code and the voice chat server is proprietary. By Moxie's own reasoning, why would anyone use Signal rather than WhatsApp? It has a tiny install base by comparison and WhatsApp now uses the same encryption protocol. The hostility towards anyone using their own builds or not using Play Services has always been there too. LibreSignal only exists b

[2016-05-11 02:26] smichel17 commented on #37
@kaepora

Because it grants the 4 freedoms:
1. The freedom to run the program for any purpose.
2. The freedom to study how the program works, and change it to make it do what you wish.
3. The freedom to redistribute and make copies so you can help your neighbor.
4. The freedom to improve the program, and release your improvements (and modified versions in general) to the public, so that the whole

[2016-05-11 02:31] smichel17 commented on #37
Shoutout to @zgrimshell, and a disappointingly few others, for disagreeing with @moxie0 **_respectfully.**_
We need more of that.

[2016-05-11 02:32] thestinger commented on #37
@smichel17

That's not true. Apache 2 is GPL3 compatible. The GPL constrains the licenses of the code you can use with it. It doesn't change the license of the code that's used with it. It only places rules on the combined work, but the GPL3 library could be replaced / removed and then that's gone.

[2016-05-11 02:38] smichel17 commented on #37
@thestinger I think this was probably a communication/phrasing issue on my part, not one of understanding.

I was just pointing out they couldn't directly re-use code (unless OWS granted them code under a different license). As you point out (emphasis mine)

Which would require re-implementation, in which case -- as noted -- I am confused about what "IP" issues apply here.

[2016-05-11 02:40] thestinger commented on #37
They could directly reuse the code, and their code remains Apache 2 licensed. Apache 2 is compatible with GPL 3, and the license of the rest of the code is not impacted by a GPL3 library being used. The work _as a whole_ falls under the GPL3 _as long as that library is used_. Nothing has to be rewritten.

[2016-05-11 02:42] thestinger commented on #37
Why it won't happen: GPL3 is incompatible with Apple's app store. They would need another license to publish it there. It's perfectly compatible with ChatSecure as-is without anything being rewritten or relicensed (which would require each contributor signing off on it).

[2016-05-11 03:08] pravi commented on #37
Conversations reimplemented Signal protocol as [OMEMO](https://conversations.im/omemo/) and published as an XEP. May be chatsecure can use that implementation.

[2016-05-11 07:28] dlmetcalf commented on #37
@thestinger,

Why not WhatsApp?  Because:  https://medium.com/@thegrugq/operational-whatsapp-on-ios-ce9a4231a034#.eqlwc45m0

[2016-05-11 07:39] vanitasvitae commented on #37
@dlmetcalf: Since moxie worked together with the whatsapp developers to implement signal protocol in WhatsApp I highly assume that OWS gave WhatsApp a license. I don't know why they didn't gave a license to ChatSecure but @moxie0 repeatedly refused to give clear answers on this point.

[2016-05-11 07:48] xmikos commented on #37
Just to make this more juicy, Moxie apparently tried to extort Wire Swiss GmbH (authors of [Wire](https://wire.com/) messenger, which uses their own reimplementation of Signal protocol in Rust). Wire Swiss has sued Moxie and Open Whisper Systems for extortion, but then dropped the case. See here (it is very interesting read):
https://ia601501.us.archive.org/21/items/gov.uscourts.cacd.644624/gov.us

[2016-05-11 08:06] xmikos commented on #37
I am not going to stop distributing independent builds of Signal from their official source code on https://fdroid.eutopia.cz. As for future of LibreSignal (WebSocket fork), it depends if there is still interest. If @mimi89999 and others doesn't want to continue maintaining it, I am afraid this project is dead (I am afraid I don't have enough time to maintain it by myself).

But at least people wi

[2016-05-11 08:11] comzeradd commented on #37
Facebook is also popular with increasing rates. So you can say that it's more successful than Free/Open and federated alternatives. But that doesn't mean that people use Facebook with the expectancy that it respects their privacy or their freedom as users. In the same sense, Whisper Systems point of view around these issues should help people (mostly developers, privacy advocates, etc) realize tha

[2016-05-11 08:35] worfox commented on #38
[The trademark Open Whisper Systems claims to have](http://tsdr.uspto.gov/#caseNumber=86360162&caseType=SERIAL_NO&searchType=statusSearch) it seems to be abandoned. What does that mean in US law?

[2016-05-11 08:38] mimi89999 commented on #37
@moxie0 @kaepora @smichel17
From the GNU website (https://gnu.org/licenses/gpl-faq.html#SwitchToLGPL):

Since ChatSecure is Free as in freedom software, I don't see any reason for not giving them a license compatible with the App Store.

[2016-05-11 08:50] infinity0 commented on #37
@smichel17 see my earlier post about the spirit vs letter of what it means to be "FOSS". minimally following the traditional definition whilst aggressively pursuing everyone else trying to actually take practical advantage of those freedoms - there is something quite obviously wrong with that, and you are deluding yourself if you defend such behaviour by relying on those definitions without unders

[2016-05-11 10:25] mimi89999 commented on #37
License is more important than community... :disappointed:

[2016-05-11 10:54] mimi89999 commented on #38
What about the icon?

[2016-05-11 10:55] vanitasvitae commented on #38
We should definitely change it in time.

[2016-05-11 10:57] mimi89999 commented on #38
But did they register it?

[2016-05-11 11:05] pravi commented on #37
@mimi89999 time to move on. Take the signal protocol and add it to kontalk. I don't think there is any use arguing with moxie anymore. GPLv3 already grants patent license https://fsfe.org/campaigns/gplv3/patents-and-gplv3.en.html so it just needs a reimplementation.

[2016-05-11 11:26] xmikos commented on #37
@pravi There already are reimplementations of Axolotl/Signal protocol. E.g. C++ based [Olm](https://matrix.org/git/olm/) (created for [Matrix](https://matrix.org/) IM protocol, licensed under Apache 2.0) and Rust based [Proteus](https://github.com/wireapp/proteus) (created for [Wire](https://wire.com/) messenger, licensed under GPLv3).

But you don't even need reimplementation if GPLv3 license is

[2016-05-11 11:51] comzeradd commented on #37
There is also [OMEMO](https://www.roussos.cc/2016/01/05/jabber-omemo/), which is a very promising implementation of Signal's protocol for XMPP.

[2016-05-11 12:30] pejakm commented on #37
Absolutely! The sooner the community switch its efforts to Kontalk, the sooner we'll have alternative to WhatsApp and Signal. :tea:

[2016-05-11 13:06] pravi commented on #37
@xmikos conversations reimplemented in java as well https://github.com/siacs/Conversations/tree/master/src/main/java/eu/siacs/conversations/crypto/axolotl

[2016-05-11 13:56] xmikos commented on #37
@pejakm _Kontalk_ is no Signal alternative till they implement OMEMO and enable it by default. Forward-secure end-to-end encryption enabled by default is prerequisite for any modern secure messenger. I know, chicken-egg problem :-)

And if I am not mistaken _Conversations_ doesn't support OMEMO encryption in group chats. XMPP MUC isn't well suited for OMEMO, they are waiting for [XEP-0369: Mediate

[2016-05-11 14:02] mimi89999 commented on #37
@xmikos AFAIK Conversations has OMEMO encrypted group chats.

[2016-05-11 14:03] pejakm commented on #37
Didn't say it is alternative now - it will be some day, but sooner if all of our efforts switch to it. :metal:

[2016-05-11 14:09] pejakm commented on #37
@xmikos https://github.com/siacs/Conversations#how-does-the-encryption-for-conferences-work

[2016-05-11 14:23] xmikos commented on #37
@pejakm Thanks, I didn't know that Conversations already supports OMEMO in MUC. But it isn't too user friendly :-)

Also end-to-end encryption should be enabled by default and there should be no way to downgrade to unencrypted communication. This really is fundamental for widespread use of e2e encryption and for stopping mass surveillance. Without e2e by default, people with enabled encryption wou

[2016-05-11 14:46] TheLastProject commented on #37
I see people already posted about the latest FUD from OWS, [The ecosystem is moving](https://whispersystems.org/blog/the-ecosystem-is-moving/), which contains the following quote:

Obviously, this is a reference to the LibreSignal discussion, despite LibreSignal not being an **unrelated** communication platform and also happily ignoring the fact that LibreSignal specifically tried to just use the

[2016-05-11 15:14] vanitasvitae commented on #37
:+1:

[2016-05-11 16:32] BlackerFlag commented on #37
@xmikos

If you didn't know, there's a planned re-design of ChatSecure that's intended to merge / share code  in-between ChatSecure, Conversations and Zom. Here's the blog post if you haven't read it: https://chatsecure.org/blog/chatsecure-conversations-zom/ . Basically ChatSecure will get Axolotl/Olm in the very near-future and since they already are a project based on providing secure mobile com

[2016-05-11 16:43] desiderantes commented on #37
Maybe instead of federation, [distributed networks](https://tox.chat) should be pursued

[2016-05-11 16:51] mimi89999 commented on #37
Waiting for ChatSecure, Zom, Pidgin and Tor Messenger to implement OMEMO and maybe for Cryptocat (it has OMEMO) to accept federation and to be compatible with Conversations and other XMPP clients with OMEMO support (it is still in beta). Let's forget that centralized Signal platform that doesn't accept unofficial clients.

@xmikos I think that I will still maintain LibreSignal for some time, but i

[2016-05-11 18:17] comzeradd commented on #37
The problem is that P2P implementations are tend to be not-mobile friendly in terms of power/data consumption. See [here](https://github.com/Antox/Antox/issues/6). [Ring](https://ring.cx/) has the same problems.

[2016-05-11 19:39] webratte commented on #37
@moxie0 I know, you will not read it...

Because Edward Snowden said Signal is secure?! ;-)

[2016-05-11 20:05] arnt commented on #37
Maybe @moxie0 really should add a non-GCM option just to stop the repeated requests. He could call it "Traffic analysis protection":

[code]

[2016-05-12 06:05] dlmetcalf commented on #37
Closed Whisper Systems.

[2016-05-12 08:30] ghost commented on #37
Bit ludicrous anyway to make the implicit claim that people don't want to use anything except their phone numbers as an identifier. Just how many daily users does Snapchat have again, and why is it about ten thousand times the amount of Signal users?

People will use whatever their friends use, whether they need to provide a phone number, a username, an email address or a real name (or does Facebo

[2016-05-12 09:54] schmittlauch commented on #37
@d9h02f The thing about phone numbers is that they're a key for contact discovery as people tend to carry around the numbers of their friends. But I'm against using them as the only and primary identifier, too, as they also have flaws: People change phone numbers without unregistering the old ones, it's only possible to have one account per device (multiple unbound identities are important for act

[2016-05-12 11:11] eighthave commented on #37
if you are interested in an alternate approach to contact discovery, check out https://zom.im.  It uses a standard https URL format which adds a contact with a single click.  Users can post it via whichever channels they feel comfortable using.  So it works with targeted activists and mass market as well.  I think lots of other apps should adopt this method, its not hard to do.  https://ring.cx is

[2016-05-12 13:01] BLeQuerrec commented on #37
Hi there!

I'm developing Silence, formerly SMSSecure. Silence is, like LibreSignal, a fork of TextSecure/Signal. Silence kept SMS/MMS encryption when OWS removed this feature. We also removed GCM dependencies and are distributed via F-Droid. I'm going to add XMPP transport to allow users to hide metadata, like Signal does, but with a federated protocol.

LibreSignal and Silence are similar and th

[2016-05-12 14:02] xmikos commented on #37
@BastienLQ I am definitely for working together! Do you have some preliminary thoughts / documentation on how you want to implement XMPP transport in SMSSecure/Silence? I think it should be compatible with OMEMO, because other XMPP clients are using it and it is well thought out.

Also are you open for adding encrypted voice (or even video) calls to SMSSecure/Silence? If yes, I think we should not

[2016-05-12 14:29] BLeQuerrec commented on #37
@xmikos: There's is no centralized directory, so XMPP addresses are shared using an encrypted SMS message. Then, a new transport is shown in conversations and when the user send an XMPP message, the body is encrypted and directly sent to the saved XMPP address.

I'm quite sceptical with OMEMO because there is no XEP and the protocol may change later. Additionally, Silence currently uses the Smack

[2016-05-12 14:45] webratte commented on #37
If you are going to work on a XMPP network I think you should work together with other OpenSource XMPP projects e.g. Kontalk.

I think (as a simple user) the more projects join together the more users you get.

I belive you can really benefit from eachother.

Feel free to correct me if I'm wrong.

[2016-05-12 14:51] paride commented on #37
@webratte Silence's approach is quite different (key exchange via sms) and allows for the usage of phone numbers as identifiers all without a central directory. There is no automatic contact discovery, but still it could be the sweet spot between privacy and ease of use. It's overall very interesting and deserves its own attention.

I just hope they'll switch to OMEMO.

[2016-05-12 14:56] eighthave commented on #37
I think that SMSSecure as a put SMS/MMS app is quite nice. For XMPP, why not join forces with Conversations, Zom, ChatSecure, Kontalk, Xabber, etc.? There are lots of XMPP apps, what we need to make them work better.

Also, I think OMEMO is the way to go for XMPP going forward, if you want to support group chat right now.  OMEMO does have a [draft XEP](https://conversations.im/xeps/multi-end.html)

[2016-05-12 15:07] vanitasvitae commented on #37
Right now I'm having wet dreams of all the messenger being able to communicate with each other via federation :D

Let's smash the big players!

[2016-05-12 15:14] zgrimshell commented on #37
Oh my, are we actually going to see combined effort of Free software community to build the most advanced product on market :))

..and it got born on one bad blog post regarding FLOSS Github issue comments ;))

[2016-05-12 15:39] vanitasvitae commented on #37
My Wishlist:
- Federation
- End-2-end-encryption
- Multi-device-compatibility
- Perfect-forward-secrecy
- Plausible deniability
- Account/Identity migration from one server/service to another
- Text-/voice-/videochat
- File transfer

I think that's it.

[2016-05-12 16:20] mimi89999 commented on #37
I'm adding 100% FOSS client and server to the wish list.

[2016-05-12 16:36] vanitasvitae commented on #37
@mimi89999 That's needless to say :)

[2016-05-12 16:38] webratte commented on #37
@legovini
My idea was (remember I'm not a tech) for a very first step allow (unencrypted) messages between different Clients. E.g Kontalk support this feature already in a really basic state.

Of course the next step have to be encryption all over.

The first step only for come together and crowing up the community.

I think its not a big thing if I have to add contacts manually if they use not th

[2016-05-12 17:12] xmikos commented on #37
Like I said before, end-to-end encryption enabled by default (without possibility of downgrade to unencrypted communication) is a must in todays world to counter mass surveillance. Without it, many common users will not enable encryption and those with it enabled would stand out. This is something Signal got really well.

[2016-05-12 17:36] webratte commented on #37
@xmikos
Ok, that sounds not really wrong 😥

[2016-05-13 04:20] tlnels commented on #37
I'll start by saying I am a day-to-day Signal user and have managed to convince techies and regular people to use it. I don't have much I want to contribute to the technical argument, I think the arguments have been made: I simply want to register my feelings on the situation.

Quite frankly this whole discussion frustrates me, I don't really like where it has ended up on both sides. Moxie's posit

[2016-05-13 06:41] ghost commented on #37
Conversations now has a wizard on first startup to help you easily create an account on conversations.im if you don't have or want a different account already. The conversations.im server is paid, but you get the first six months for free, so more than enough for people to decide if 'XMPP' is what they want (and if they've already been using it for six months and they don't want to pay, it'll be m

[2016-05-13 07:01] pravi commented on #37
Now many diaspora pods (including poddery.com, diasp.in run by us) now offer xmpp service. So many people already have an xmpp account without them realizing it. Also diaspora contacts become their xmpp buddies, this solves contact discovery to a large account. The only downside is, diaspora is not very popular yet.

[2016-05-13 07:21] BLeQuerrec commented on #37
@trev0 I agree with you that nearly nobody will setup an XMPP server. That is why Silence will be ship with a list of "trusted" servers to allow non-techies to get an account in one click.

[2016-05-13 07:50] eighthave commented on #37
Zom chooses from a list of trusted servers, unless you want to specify
one yourself.

[2016-05-13 09:30] mimi89999 commented on #37
What I don't like about XMPP in Silence is that it requires you to send your XMPP JID by SMS. It might be a problem if your contact is in an other country and SMS costs are high. Even if Silence allowed the user to share the JID, there is still another problem: the JID is impossible to remember.

Now email is very popular among non-techies. Most people remember their email address, but not their p

[2016-05-13 09:38] BLeQuerrec commented on #37
@mimi89999 Using SMS to share XMPP addresses is required to avoid centralized directory. I really don't want to send to an unknown server all my contact list.
But it is possible to implement a form to allow user to manually enter the XMPP address. I'll add it in my TODO-list.

[2016-05-13 09:42] mimi89999 commented on #37
I was thinking of allowing the user to share the XMPP address via the Android share option or even in person. I also think that a centralized directory is a bad idea.

[2016-05-13 09:44] eighthave commented on #37
look at the URL format for sharing contacts in Zom.  You can easily use
that same technique, then people can send contact info via SMS or choose
whatever method they prefer

[2016-05-13 09:45] BLeQuerrec commented on #37
Using a prefix like `silence:foo-bar@xmpp.silence.im`?

In any case, a form is required to manually enter the address.

[2016-05-13 09:46] vanitasvitae commented on #37
Just for the record, is xmpp already present in Silence? I thought it uses SMS to transport messages.

[2016-05-13 09:48] BLeQuerrec commented on #37
@vanitasvitae No, it isn't. It's a work-in-progress feature. You can track it here: https://github.com/SilenceIM/Silence/pull/390

[2016-05-13 09:49] vanitasvitae commented on #37
Ah thanks :)

[2016-05-13 09:54] eighthave commented on #37
Here's an example:

https://zom.im/i/#Zm9vbEBkdWtnby5jb20_b3RyPUNDMjM1RTA2NEJBNTU1NUIxNUNGNThFMDZFQjEzMzdDRTdFQjM0OUU
- it must be an HTTPS link since that is the only kind of link that will
  automatically be clickable is just about any app, including desktop apps
- if the app is not installed, then clicking the link takes the user
  directly to the place to install the app
- the contact info is

[2016-05-13 10:19] paride commented on #37
What I don't like of Zom is that it asks the user to create "yet another account". I know it is very simple to do so, but still it's a big usability barrier. Silence would create the XMPP account automatically, without the user being asked anything (unless s/he wants to). With Silence everything appears to be bound to the phone number and nothing else, even if behind the scenes an XMPP account doe

[2016-05-13 11:56] vanitasvitae commented on #37
If there are serious plans to teach a unified federated protocol to multiple messengers, maybe its a good idea to organize so we can see, which projects are really interested to participate?

[2016-05-13 13:36] mimi89999 commented on #37
Now people are sharing email addresses IRL, putting them on business cards, etc. In the current form it is hard to share the Silence JID like that...

[2016-05-13 13:57] paride commented on #37
@mimi89999 not sure if you were replying to me. Anyway, IMHO, if we want to have any impact on the secure IM ecosystems, we should not expect the users to share anything, or in general do anything. Once two users have the same app they expect it to be working without being asked anything, and it should.

This said, I agree in that there should be a way for more tech savvy users to add their alread

[2016-05-13 14:16] pejakm commented on #37
Totally agreed! Federation is good, but first we need to have some sort of convention, agreement, on what technology to use (eg. OMEMO or PGP), then to advance current projects (eg. Kotalk, Zom, Conversations) to follow that agreement, and at last, federation would be easy to bring up.

[2016-05-13 14:27] grote commented on #37
Although there's too many options and ways of doing things already, I'd like to make you aware of [**Briar**](https://blog.grobox.de/2016/briar-next-step-of-the-crypto-messenger-evolution/) which does things differently enough to be worth mentioning. It works completely peer-to-peer without servers and can even work without internet, for those moments when the government tries to pull the kill swi

[2016-05-13 15:52] xmikos commented on #37
@grote Briar is very interresting, but it has no chance to become popular because of implicit web-of-trust model. If we want common people to use it, we must have simple option to communicate even without being introduced by someone we already meet in person. Web-of-trust is great, but it has to be only optional.

[2016-05-13 16:05] grote commented on #37
So you want people to upload their entire address book to the internet for the sake of convenience? Briar isn't ready yet and there will be other options to add contacts later.

[2016-05-13 16:39] mimi89999 commented on #37
@grote

Not necessarily. XMPP clients don't upload the entire address book anywhere.

[2016-05-13 16:43] mimi89999 commented on #37
Let's think of such a scenario:
Alice is offline
Bob sends Alice a FS encrypted message
Bob throws his phone in the river

Alice should still be able to receive her message when she goes back online.
I think that is also quite important and XMPP with OMEMO allows that.

[2016-05-13 17:37] mimi89999 commented on #37
@eighthave
Is the encryption in Zom or ChatSecure  asynchronous and has FS, MUC and multi device support?

[2016-05-13 17:51] xmikos commented on #37
I am afraid both ChatSecure and Zom still uses old OTR, so before OMEMO is implemented (I know they have planned it), it is not much usable. Conversations is much better in that aspect, but if I am not mistaken, it doesn't enable encryption by default (and encryption by default is a must).

[2016-05-13 17:55] lovetox commented on #37
@xmikos https://github.com/siacs/Conversations/commit/908aa19a36eaf80442da153cbac729d3fdb0aa31

[2016-05-13 18:02] xmikos commented on #37
@lovetox Great! So Conversations definitely looks like it meets most of our wishes. Only problem is ease of use for common users. Is there some plan to support integration with phone contacts (similar to what Kontalk is doing)?

Also we should think about iOS support. Is there some similar XMPP client as good as Conversations on iOS with OMEMO support? I don't like closed systems like iOS, but iOS

[2016-05-13 18:11] ghost commented on #37
Monal is the only good client on iOS, but https://github.com/anurodhp/Monal/issues/9

[2016-05-13 18:29] mimi89999 commented on #37
Same problem with ChatSecure on iOS. Looks like Moxie is enforcing GPL against FOSS iOS apps. :disappointed:

[2016-05-13 18:30] vanitasvitae commented on #37
How bizarre...

[2016-05-13 18:42] xmikos commented on #37
GPL is not the problem, problem is stupid closed walled garden of iOS which forbids GPL. But from what I have read, it really seems that Moxie is doing that on purpose :-( Telling people that they can't reimplement API under different license because they have read original source code is totally crazy and it really seems like malicious intentions on Moxies side...

EDIT:
Sorry for closing and reo

[2016-05-13 23:55] ti-s commented on #37
Very interesting discussion. I hope it is ok, if I add some thoughts even if they are a bit off-topic:
-  JID + password is not a problem. Most "normal" people I know use(d) email, Skype, WeChat, ... and know the concept. Also they have tens of accounts with username + password, so requiring another one should not stop them. A list of recommended servers would already help a lot.
- XMPP is unsucce

[2016-05-14 10:00] pejakm commented on #37
@d9h02f There is no such servers, are you sure you spelled correctly?

It would of much use if someone could compile a list of xmpp servers which support all of the XEPs required by Conversations.

[2016-05-14 10:12] vanitasvitae commented on #37
I think this is meant to be a placeholder for any server.

[2016-05-14 10:57] pejakm commented on #37
@vanitasvitae 😄 Thanks.
I've figured two servers support all XEPs Conversation needs:
suchat.org
xmpp.zone (jabber.zone, jabber.at)

[2016-05-14 11:19] mimi89999 commented on #37
Don't count XEP-0357 because it is GCM (Google Cloud Messaging) for push.

[2016-05-14 11:55] xmikos commented on #37
@mimi89999 It's not only for GCM, XEP-0357: Push Notifications is still needed on Apple iOS. Without APN push, applications on iOS can't notify user of new messages if app is in background. Or did anything changed? I don't have iOS device, so I can't tell for sure...

[2016-05-14 12:08] ghost commented on #37
conversations.im, siacs.eu

[2016-05-14 15:20] schiessle commented on #37
Is there a easy way to find out which XEPs are supported by a server?

[2016-05-14 15:33] pravi commented on #37
I think we should maintain such a list in a common place instead of each app doing it separately. xmpp.net could add a filter for mobile friendly servers (that implements all xeps supported by conversations).

[2016-05-14 15:57] schiessle commented on #37
A list would be nice, but it would also be nice to have a way to find it out for a random xmpp server as such a list will never be complete. Is it possible to query a server for a list of supported XEPs?

[2016-05-14 15:58] lovetox commented on #37
you can with conversations, in the settings, but i guess it shows only the XEPs itself also supports, so not all. though Conversations supports all important ones

[2016-05-14 16:00] ghost commented on #37
@moxie0 Using GsmCore with Googles Servers is like using LibreSignal with your servers.

[2016-05-14 23:47] psivesely commented on #30
To be totally honest with you, I think it's abundantly clear upstream does not want to cooperate with this project and if anything, the more they get bugged and harrangued, the more likely they are to actually put in the effort to try to boot LibreSignal users off their servers.

... Just my 2¢ here...

I think you should recognize you're building a free software app to communicate with a propriet

[2016-05-15 00:01] mimi89999 commented on #30
I definitely don't want to continue LibreSignal. I will only do that for a very brief period of time, so that users have the time to migrate.

[2016-05-15 03:02] psivesely commented on #30
Fair enough :-P

[2016-05-15 20:21] Diapolo commented on #37
IMHO Signal or any fork of it is my preferred choice as I, like another poster, was able to convince all my important contacts to install an regularly use Signal. To summarize:
- we don't want to use Google Play Services implementation
  -- solution could be to use https://microg.org/ (which I do and which works with Signal)
- we would like to use WebSockets over GCM
  -- we need a fork, which isn

[2016-05-16 08:09] J-J-Chiarella commented on #37
There's a lot of talk here going back-and-forth on the different options. Allow me to try to sum it up and fix some ambiguities.
- Conversations and ChatSecure are merging.
      Conversations (android) and ChatSecure (android) are becoming the same thing. Chatsecure (ios) will keep its current code and evolve, but will be different (in code) from the android version. OTR version 3 and Tor (orbot)

[2016-05-16 08:36] webratte commented on #37
@gaelsano

I belive you have no not-tech freands.
Of course they could learn all this things.
But they never will do that.

Thats why WhstsApp sucessfull.
Users have nothing to do like install a App.
No username to xchange, no password to remember.

We need phonenumbers (maybe as an option like Threema do).

E.g Kontalk uses phonenumber hashes as XMPP username.
Other Apps uses mailadresses.
The wa

[2016-05-16 08:41] J-J-Chiarella commented on #37
You misunsunderstand

IF THEY WANT TO THEN .......They can learn to log into dukgo.com on a computer if they want to. They can learn to change passwords. They can make new accounts if they want to. WE DO NOT have to do anything more. They just use zom. **IF**\* they want to do more they can, but they do NOT have to do more.

[2016-05-16 08:57] J-J-Chiarella commented on #37
Zom is even easier to use. You do not need a phone number at all. I can use an out-of-service phone with no sim card to install and use zom. Zom is also being made with the chatsecure and conversations developers so it will be among the first to roll out the new OMEMO. Hopefully that gets the ball rolling and the cypherpunks just use that as OTRv4 (since they've made almost no progress there for y

[2016-05-16 09:00] webratte commented on #37
I can't find Zom on Google Playstore.
Remember I'm not a tech...

[2016-05-16 09:01] vanitasvitae commented on #37
Not yet I guess.

[2016-05-16 09:02] J-J-Chiarella commented on #37
zom mobile messenger. just writing zom will get you a lot of zombie games

It's still unstable. But it is a great preview for what to expect. I wouldn't use it now. But familiarize yourself with it somewhat then try again in 4 months. until then, just use Whatsapp if you're not techie. I don't think there's any point in migrating any of our friends to signal or signal libre. fdroid inclusion won't

[2016-05-16 09:07] BLeQuerrec commented on #37
Few comments:
**For now**, it requires SMS to establish contacts' relationship because Silence is an SMS/MMS app and, at least on Android, will always be an SMS/MMS app. But as mentioned before, Silence may include a way to send XMPP address via another way, with a URL like `silence:foo-bar@xmpp-server.tld`. It is an interesting way to share XMPP addresses and I will definitely work on this. Addit

[2016-05-16 09:12] comzeradd commented on #37
Zom is not Free/OpenSource Software. So you shouldn't trust it for your privacy. It's no better than Whatsapp.

[2016-05-16 09:17] thestinger commented on #37
@comzeradd It is FOSS: https://github.com/zom/Zom-Android.

[2016-05-16 09:20] webratte commented on #37
Just installed.
I have a freand who has already a XMPP Account (myself).
Seems i'm to stupid to add it to my contacts. There is only a option to share it.

Ok, maybe I could find a way if I resarch a few minutes.
But remember, I'm still a non tech 😉

By using phonenumbers I coluld already start Chat because automatic phonebook lookup.

Sure, thats the worst case But belive me, that's what "nomal"

[2016-05-16 09:20] TheLastProject commented on #37
Just a small note on this, Kontalk uses PGP, not OTR. While there is indeed no build-in Tor support, proxying it through Orbot will probably work. Kontalk does have (limited, issue is open) support for XMPP federation, those servers do not require any Kontalk specific patches AFAICT (but may need to do so for group chat, which is still in development).

On 16 May 2016 10:09:54 CEST, gaelsano notif

[2016-05-16 09:26] J-J-Chiarella commented on #37
@BastienLQ
Nice to hear! I'm sure you'll do a great job. It won't matter which client people are using if they are all inter-operable, available on every platform, and are not exclusive to phone numbers. We can even even have several clients that do "XMPP for dummies" and get you started with an account. The big downside is lack of asynchronous communication in OTRv3, but like I said, if we get br

[2016-05-16 09:33] webratte commented on #37
I know what's XMPP 😉

This scenario was only to show you what's the plus of phonenumber as username for non-tech and non-paranoid people.

You know what I mean I suppose.

There have do be a middle way to fits all the people.....

[2016-05-16 09:36] vanitasvitae commented on #37
How about offering both? Going with phone numbers by default but offering "advanced options" that allow full customization/anonymity?

I'm not sure, if contact discovery still works then, probably not...

[2016-05-16 09:37] TheLastProject commented on #37
I still believe a mix between Kontalk and normal XMPP is best. Kontalk users will use phone numbers and their phone book, other clients will use usernames. Kontalk needs some federation improvements still I believe but this seems the most promising way and Kontalk users can already be added from regular XMPP (although messaging doesn't always work well due to encryption support, known issue, ticke

[2016-05-16 09:40] J-J-Chiarella commented on #37
@webratte
good points. I misunderstood you're self-deprecating "Im too stupid to ..." to mean you haven't used XMPP much. a phone number option does make it easier as I see now by some of these replies. I suppose having both methods is good. I need the option to make a username@place with password myslef and network with XMPP that way.

@vanitasvitae
that's the best idea. have both. I definitely k

[2016-05-16 09:42] pravi commented on #37
Kontalk federates fully with any xmpp account (I have tested it). Though the xmpp id is hard to share. Also no other client implements inband gpg key sharing xep (0189 I think). For now kontalk allows turning off encryption. There is a new OpenPGP for XMPP xep (ox), which both conversations and kontalk plans to implement. Once that work is complete encryption will also work across federation. OMEM

[2016-05-16 09:53] J-J-Chiarella commented on #37
@pravi
what is the point of openpgp on xmpp? I'm seriously asking. Even on conversations's homepage it says openpgp with signing isn't standardized. otrv3 is what works across chatsecure, pidgin, tormessenger. implementing it seems like a lot of work, too. it also lacks forward secrecy.

I'm for client-side support, but why would anyone use it or want others to use it? The only reasons I can think

[2016-05-16 10:21] pravi commented on #37
Its a new XEP http://www.xmpp.org/extensions/xep-0374.html

"Unlike similar XEPs, e.g., OMEMO, this XEP does not provide Forward Secrecy (FS), but as an advantage in return, allows users to read their archived conversations (respectively their encrypted data) later on."

Well, its just an option. I mentioned this because it will allow kontalk to interoperate with conversations. It is for each clie

[2016-05-16 10:34] pravi commented on #37
I once travelled across South India visiting colleges, schools and public to talk about privacy and tools (see yatra.diasporafoundation.org).

Now I plan to visit engineering colleges (targeting computer science students) and get them to contribute to these projects like google summer of code.

See
https://www.loomio.org/d/59Jl3bds/private-messaging-focused-phase-2

It would be great if some of yo

[2016-05-16 11:12] webratte commented on #37
@gaelsano

I dont't know I understand correct what you mean.
But I still want say that.
Kontalk uses as username this format:

Hash-of-my-phonenumber@beta.kontalk.net (a regular Jabber ID)

About the password I don't know how it's realized but I suppose it's a random password created by the client.

So I think (I'm not sure I'm really not a tech ;-)) Kontalk uses the same way like regular XMPP Cli

[2016-05-16 11:18] pravi commented on #37
It uses key based authentication, it does not need a password.

Like ssh keys, it uploads your public key to server when you register and uses private key to authenticate you when you login. Private key remains on your phone. You can export your private key and use it on the desktop (kontalk has a desktop client as well).

[2016-05-16 11:18] J-J-Chiarella commented on #37
Me:

This means for anonymity purposes, I create throwaway accounts that have no link to my real identity or my phone number. I also use long completely random passwords (that I save in keepassx). The option to create names as mentioned is grand. But when I _need_ to be 100% anonymous and untraceable, I use accounts that have no relation to my birth name or my phone number. None.

[2016-05-16 11:19] Diapolo commented on #37
IMHO this is getting too far away from (Libre)Signal and what has to be improved or achieved with it. For me and I guess quite a few others there is JUST the option on improving things for Signal, as long as there is no drop-in replacement, usable by all non-tech users, all alternatives are (sadly) a no-go!

[2016-05-16 11:32] J-J-Chiarella commented on #37
We are almost at a point wher we can get drop-in replacements. zom, kontalk, silence may become that. They need more time.

It seems that the creators of libresignal and libresignal-websockets see LibreSignal as something that is just chasing Signal and piggy-backing of OpenWhisper to be a no-go. We aren't carried on F-Droid. The project's name is going to be a source of friction with moxie. our u

[2016-05-16 11:48] webratte commented on #37
@gaelsano
It seems, I was not correctly enough (I think because my bad english).

I meant I could use Kontalk an phonenumer - I'm lazy.

You are "paranoid".
You could use your favourite XMPP Client and a 20 charter password.
And (technical) we could still chat with each other via kontalk network.
Of course we first need a encryption method wich is used by both clients.
Currently we could still cha

[2016-05-16 11:59] pravi commented on #37
Kontalk plans allow using aliases so this can be solved to some extend (kontalk server only knows the mapping from alias to phone hash).

https://github.com/kontalk/androidclient/issues/496

But when the xmpp servers are using TLS,  some one snooping on the server can only get the target server, ie, know somebody is on the kontalk network.

[2016-05-16 12:02] J-J-Chiarella commented on #37
Please look up what "paranoid" means. You are calling me irrationally fearful. The whole point of LibreSignal is to keep communications open source and move away from GCM and metadata collection. I would appreciate it if you didn't use such language. Real life is crazier than any person's imagination. Not too long ago, I had my regular internet MITM'ed (man-in-the-middle attacked) in cooperation w

[2016-05-16 12:09] webratte commented on #37
@gaelsano

Sorry
I used paranoid just as a synonyn for "I want really good security".
Just to vizualize it by using exaggeration.
My Plan was not to say you are grazy 😉

You know, my Bad english and very often I can't find the rigth word.

In the Future I will use Alice and Bob instead me and you.
And remember I called myself stupid in the same reason.☺

[2016-05-16 13:37] comzeradd commented on #37
Thanks. I wasn't aware of that I couldn't (still can't) to find a relevant link on their website.

[2016-05-16 13:56] Diapolo commented on #37
My point against WhatsApp is that the app is closed source and that it's owned by a multi-national company named Facebook ;). Sorry, even with secure e2e WhatsApp is a horse I'd never ever ride ;). I stick with Signal, a GAPPS-free phone and microG GmsCore for now.

A replacement app needs to be IMHO:
- compatible to Signal and also be able to process SMS (and store it encrypted)
- easy to use (vi

[2016-05-16 14:06] Diapolo commented on #38
If Signal was build upon a p2p system that horse would be rather alive ;). I don't think it's dead or there is no need for it anymore. Name and icon is solvable... problem could be/is the server side :-(.

[2016-05-16 14:13] lovetox commented on #37
@Diapolo
then you can unsubscribe now and stick forever with signal, cause that list will not come true :)

also its not understandable why you set standards so high for a replacement app, but are ok with lower standards for your current app

[2016-05-16 14:17] Diapolo commented on #37
Which lower standards are you talking about? Phone calls via WhatsApp, key verification? IMHO these 2 are lower priority for me, as I don't make calls and prefer to not get in touch with Facebook at all ;).

[2016-05-16 15:40] comzeradd commented on #37
Signal fails on half of the requirements you set. XMPP + OMEMO have a better score actually.

[2016-05-16 15:45] MaxMatti commented on #37
There seems to be a lot of discussion about why "normal people" would use xmpp or signal or whatever messenger and which features and strategies should be prioritized because of that (I couldn't read all comments, too many).
While many different views have been explained I still couldn't find my own of which I would assume some aspects are viewed similar by "non-tech-people".
The advantage of What

[2016-05-16 16:31] ghost commented on #37
@MaxMatti I must admit asking people if they 'have Signal' often gets replies like "Sure, want me to look something up for you?".

Conversations now has a first time wizard to easily register an account at the conversations.im server, though.

[2016-05-16 16:33] mimi89999 commented on #37
The account on their server in only free for the first 6 months.

[2016-05-16 16:38] vanitasvitae commented on #37
Ignoring the fact that hosting a server costs money, paying for the account is a no-go these days.

[2016-05-16 16:49] ghost commented on #37
Then provide them with a server that supports all the necessary extensions at no cost, so they don't have to charge anyone for it.

Six months is a pretty long time to be able to tell someone to spend two seconds adding a new account on a different server so they don't have to pay.

[2016-05-16 16:55] mimi89999 commented on #37
I am 100% OK with them charging money for that service... I was just informing because somebody could not know that... Signal and WhatsApp are completely free of charge (but not free as in freedom). Signal relies on donations and for WhatsApp you pay with your metadata.

[2016-05-16 17:11] vanitasvitae commented on #37
It was not meant as a critic. I just wanted to point out that its unlikely that a user would switch to a paid messaging service when he could just use the big players that do not cost money.

[2016-05-16 17:17] tristan-k commented on #37
Some links which might contribute to the discussion:
- http://www.titus-stahl.de/blog/2016/05/15/comparing-encrypted-messengers/
- https://medium.com/@dwdbah/federation-privacy-and-user-experience-c158547f07f5
- https://mjg59.dreamwidth.org/42728.html

[2016-05-16 19:35] weiss commented on #37
@gaelsano:

For some people that might be a feature and not (just) a bug.  The lack of forward secrecy allows for accessing encrypted (server-side) archives more than once, and for accessing them from new devices.

[2016-05-17 00:07] thestinger commented on #37
@Diapolo Signal isn't fully open source: the RedPhone server is proprietary, GCM is proprietary, and the GCM library is proprietary even with microg for the client implementation.

Nothing can be compatible with it, because federation is off the table and @moxie is against client applications using their server that are not the _official_ Signal builds.

It leaks your contact phone numbers to the

[2016-05-18 22:29] JStyle21 commented on #37
https://www.whispersystems.org/blog/allo/

[2016-05-19 07:23] ghost commented on #37
If only adding the Signal protocol to everything would mean those things were cross compatible...

[2016-05-19 09:41] J-J-Chiarella commented on #37
Like I said, Signal is now a beta-quality reference implementation (it hasn't finished adopting the full protocol for voice calls) for other projects.

Better than the days of various centralized instant messengers like AIM and Gadu and GoogleTalk. They are stil extant but unimportant.

It's just time to see Signal for what it is. If OMEMO becomes a super set of Signak text protocol (modded for an

[2016-05-20 06:40] v3nd3tta1337 opened #39 "connection problems (edited)"
I have:
## \- [X] searched open and closed issues for duplicates
### Bug description

Edited: Some days messages don't seem to work
### Steps to reproduce
- send a message
- only one checkmark
### Device info

**Device:** Samsung Galaxy S I9000
**Android version:** CM11/ 4.4.4
**Signal version:** LibreSignal (eutopia) 3.15.2-websocket
### Details (edited)

While until 19.05.16 12:00 CEST all seeme

[2016-05-20 08:15] mimi89999 commented on #39
Could you send me the log? I can't test if it works because I asked all of my Signal/LibreSignal contacts to move to Conversations.

[2016-05-20 09:21] v3nd3tta1337 commented on #39
The problem seems to have been a temporarily issue, but the one certain message i did see yesterday on her phone defenitely to me still did not appear.
Also, both, me and the contact have to be in the app for the messages to send.
Furthermore LS crashes every now and then - maybe because the storage space for the convos gets too much when the "autotrim" is disabled - but this might be an issue wit

[2016-05-20 11:52] mimi89999 commented on #39
You may need to turn off battery optimization for LibreSignal.
As for taking the log, you can do that from LibreSignal setting.

[2016-05-20 23:07] v3nd3tta1337 commented on #39
To not alarm anyone else i edited the title and description.

Battery optimization is turned off,
all day long i did not leave my home wifi, the only thing interfering with wifi
is the Wi-Fi Privacy Guard i have installed, but it should not have done anything.
All other messaging apps worked flawlessly.

[2016-05-20 23:56] LargePrime commented on #37
@Same problem.  About 5 hours ago LS stopped receiving or sending
https://gist.github.com/0cdc9795a8ee913f63a994ce41708344 log
Reregistered.  No joy
Please advise.
DEAR GOD OF THE INTERNET:  PLEASE MOVE THIS TO ISSUE #39 BEFORE ANYONE SEES IT

[2016-05-21 08:46] vanitasvitae commented on #37
Before panic starts spreading: I can't confirm this. LS still works fine.

[2016-05-21 08:55] mimi89999 commented on #37
Could you please move that to #39 ?

[2016-05-21 09:16] mimi89999 commented on #39
Could somebody PM me his phone number, so I could test this? I asked all of my contacts to move to Conversations and I won't ask them to come back to LibreSignal...

[2016-05-21 09:54] mimi89999 commented on #37
Could somebody PM me his phone number, so I could test this? I asked all of my contacts to move to Conversations and I won't ask them to come back to LibreSignal...

[2016-05-21 09:58] vanitasvitae commented on #37
@mimi89999 You have a mail

[2016-05-21 10:19] mimi89999 commented on #39
I can't reproduce this issue.

[2016-05-21 10:20] MaxMatti commented on #37
@mimi89999 You have more mail and also I was able to send and receive messages.
Is this a location-sensitive problem?
[Link](http://imgur.com/BzNbfvJ)

[2016-05-21 10:22] MaxMatti commented on #39
@mimi89999 You have more mail and also I was able to send and receive messages.
Is this a location-sensitive problem?
Edit: the call crashed the app, but that's as expected on BlackBerry.
[Link](http://imgur.com/BzNbfvJ)

[2016-05-21 10:24] mimi89999 commented on #39
@MaxMatti I sent you a message in LibreSignal.

[2016-05-21 15:44] mimi89999 commented on #39
@v3nd3tta1337 I couldn't reproduce this issue. Maybe it is related to your ROM or to your network... I won't do further debugging because of #37 , but if you send me your log, I will look at it.

[2016-05-22 09:20] gsantner opened #40 "Too high battery drain"
I have:
- [x ] searched open and closed issues for duplicates
- [x ] read https://github.com/WhisperSystems/Signal-Android/wiki/Submitting-useful-bug-reports

---
### Bug description

LibreSignal consumes too much power. I send about 5 messages a week currently, and it constantly drains **20-25%** of my phones battery, doesn't matter if in use or not. I know theres the websocket in the background

[2016-05-22 19:34] mimi89999 commented on #40
'WONTFIX' because of #37

[2016-05-22 19:37] mimi89999 commented on #40
As for battery usage, it is acceptable when used over Wi-Fi, but there is a battery drain when used over mobile data.

[2016-05-23 00:19] gsantner commented on #40
Thanks for your reply, I spent much time reading that discussion. I am feeling really bad about the project's status. I just didn't see that issue, please link to it in README.md, so other users get to know the current status aswell. ;)

Kind regards, Gregor

[2016-05-23 00:19] #40 closed, assigned to nobody

[2016-05-24 11:06] vanitasvitae commented on #37
From the FSFE Blog: http://blog.jonasoberg.net/is-this-the-end-of-decentralisation-2/

[2016-05-26 00:04] zahnpasta12 commented on #33
It is working now as it should. I can send  received files from Signal users to other Signal and LibreSignal users. Maybe it was a "server-hickup".

[2016-05-26 00:04] #33 closed, assigned to nobody

[2016-05-27 02:39] recvoid commented on #37
Does anybody know of a list of XEP supported xmpp servers or how to check that in Conversations?

[2016-05-27 06:00] mimi89999 commented on #37
@recvoid That is a bit off topic...
The only servers I know, that support all XEPs for Conversations are:
-- conversations.im
-- jabber.at

[2016-05-27 07:20] pejakm commented on #37
Look few replies above, weve already discussed about this:
conversations.im
suchat.org
xmpp.zone (jabber.zone, jabber.at)

[2016-05-28 03:26] recvoid commented on #37
Hi yes i read it thanks. Are there anymore servers?
Also i went and checked on xmpp.net these particular servers and they all seem to be running ejabberd 16.04. Could one conclude that any server running ejabberd 16.04 is xep compatible?
In that case core.mx could be added to the list.
Cheers

[2016-05-28 08:27] vanitasvitae commented on #37
Afaik XEPs habe to be enabled through modules. Thats done by editing the configuration files of ejabberd. I'm not sure whether you need to have 16.04 installed to support all these XEPs. To find out, whether a server has all the XEPs for conversations enabled, add your account to conversations, go to "manage servers", tap on the server, click the hamburger menu and tick the checkbox "show server i

[2016-05-28 14:00] ghost commented on #37
@recvoid trashserver.net ([Report](https://xmpp.net/result.php?id=372700)) supports the XEPs required by Conversations.

[2016-05-28 14:07] tristan-k commented on #37
@recvoid checkout https://test.jabber.at but it's in an early stage.

[2016-05-28 14:33] pravi commented on #37
@tristan-k it would be good to have a filter like "Good mobile support" and show servers that implements all XEPs conversations expect.

[2016-05-29 12:30] Mikaela commented on #37
Diaspora 0.6.0.0 uses @Prosody (according to #diaspora at freenode) which seems to support all others from Conversation's list with the exceptions of:
- XEP-0027 - Current Jabber OpenPGP Usage
  - [xep-0027 at XMPP.org says](https://xmpp.org/extensions/xep-0027.html) says _WARNING: This document has been obsoleted by the XMPP Standards Foundation. Implementation of the protocol described herein is

[2016-05-31 01:29] cRaZy-bisCuiT opened #41 "Backup the private key of Signal and importing it at LibreSignal does not work"
Hey there!

I to backup the data of Signal (Google Play version) and also with Oandbackup. After installing LibreSignal I restored the data. The program still wants me to create a new key via SMS.

How can I avoid that and use my old key? Which solution is the best to backup the old key? The messages and images (which are encrypted!?) are restored and acessable. I do appreciate any help!

[2016-05-31 01:32] cRaZy-bisCuiT commented on #38
Anyway,  I don't know any working alternative, do you guys? I'm in search of a SMS-like program that doesn't leak meta data, foss and easy to use (to convince contacts to use it).

[2016-05-31 07:11] recvoid commented on #37
Sorry for being offtopic again but it would be great to make a list of xep supported servers. Could anybody suggest an appropriate forum where such a list could be published?
Conversations, xmpp.net nor chatsecure have a forum.
Cheers

[2016-05-31 07:22] hex-m commented on #37
@recvoid: The obvious choice would be https://en.wikipedia.org/wiki/Comparison_of_XMPP_server_software#Comparison_by_XEP_implementation_status

But as there is only a handful of server implementations you may also just check out their documentation.
https://prosody.im/doc/xeplist
https://lightwitch.org/metronome/supported-xeps-list
https://www.process-one.net/en/ejabberd/protocols/

[2016-05-31 09:07] mimi89999 commented on #38
@cRaZy-bisCuiT I recommend Conversations. It is an Android XMPP client. It supports OMEMO encryption. As for metadata, the server can collect it, but since XMPP is a federated network, you can choose your server or even host your own.

[2016-05-31 09:29] mimi89999 commented on #41
It is not recommended to move to LibreSignal since it is not maintained anymore.

[2016-05-31 11:57] cRaZy-bisCuiT commented on #41
What would be the Alterative to this client? Is it possible to use the official Signal client without Google Push? I'd be downloading the apk and update it manually then. Does sending and receiving messages work that way?

[2016-05-31 11:58] cRaZy-bisCuiT commented on #38
Thank you very much, I'll have a look on that!

[2016-05-31 12:55] mimi89999 commented on #41
The Play Store apk won't work without gapps...

[2016-05-31 12:58] mimi89999 commented on #41
There is no alternative Signal client. You could try to get Signal to work with microg or ask your contacts to move to another messaging app....

[2016-05-31 13:50] vanitasvitae commented on #38
@mimi89999 Aren't both servers (the sending and the receiving server) collecting metadata?

[2016-05-31 14:51] mimi89999 commented on #38
AFAIK your server knows: if/when you are online, time of sending messages, to whom, your IP and the message content if it isn't encrypted. Your contact's server knows about you: When you are online, time of sending messages to contacts on that server, to what user on that server and the message content if it isn't encrypted.

I might me incorrect because I am not an expert in XMPP...

[2016-06-01 18:55] h-2 commented on #37
I have written a lengthy blog article about the mess with Signal and the current situation that tries to be very verbose so that most people, e.g. non-crypto-nerds will understand it:
https://blogs.fsfe.org/h2/2016/05/31/why-privacy-is-more-than-crypto/

Maybe it is helpful as reference for some of you. Feel free to send me criticism or retweet:
https://twitter.com/__h2__/status/738036458838237184

[2016-06-01 20:43] mimi89999 commented on #37
Some general notes:
P2P networks often use a central discovery service.
They also might use a central bootstrapping node.
P2P is a very bad solution for mobile devices because it will drain battery...
P2P DHT network 'usernames' are hard to remember and share IRL face to face... (It is much harder to share a long number or string than username@example.com)

I also think that relying on phone numbe

[2016-06-01 20:54] grote commented on #37
I think it is a good time to think out of our usual boxes and give P2P solutions a chance.

[Briar](https://blog.grobox.de/2016/briar-next-step-of-the-crypto-messenger-evolution/) doesn't. It connects to peer's onion services instead.

Everything drains battery. The question is how much is still tolerable. DHT-based solutions use too much for my taste. If you maintain one connection per contact an

[2016-06-01 21:30] ghost commented on #37
Requiring people to specifically set up a computer so they can get messages on their phone is insane. Scanning QR codes doesn't really help when 100% of the time you and your friends are not sitting right next to each other.

[2016-06-01 21:39] grote commented on #37
Nobody does require this. I said it's a crazy idea as one of many possible solutions to enable P2P apps while still trying to keep every mW in your battery. It works perfectly well without that though.

You can show QR codes on screens and even print them on paper. There's no inherent need to sit right next to each other.

[2016-06-01 23:07] J-J-Chiarella commented on #37
@h-2

I read your blog post.

A couple nota bene:
1. False dichotomy with Kontalk versus others. Zom is available for Android and iOS and easily sets up an account and starting password and generates a key on dukgo.com as I have written. It's ChatSecure Team's beginner XMPP and will be at forefront of otr/openpgp/omemo integration as a result.

I am against recommending a phone number based system

[2016-06-02 08:41] mimi89999 commented on #37
If Wi-Fi routers/AP could be used for that....

[2016-06-02 18:15] vanitasvitae commented on #37
That would be nice. Another possibility would be a raspberry pi that runs some kind of proxy for the android device.

[2016-06-03 00:53] mzaboss commented on #37
Full Snapchat API using a new and complex tweak.

You can use it to:

Create snapchat bots.

* Features:

# Send a media to a story
# Send a snap
# Add a friend
# Delete a friend
# Mark a snap video as viewed

Create a third app on the App Store or Play Store.

more dev informations will be sent in PDF.

Monthly subscription: $450! only. Unlimited requests to snapchat.

FREE 24h trial!

Skype: mza

[2016-06-03 04:05] mimi89999 commented on #37
@mzaboss Please don't spam.

[2016-06-03 08:30] ghost commented on #37
If you don't see the total absurdity of that, you're completely gone.

[2016-06-03 08:52] mimi89999 commented on #37
That would require me to remove the piece of tape, that I have on my camera :P

[2016-06-03 08:52] pravi commented on #37
On 2016, ജൂൺ 3 2:00:35 PM IST, d9h02f notifications@github.com wrote:

You can introduce people to each other once you scan qr code.

Say you have scanned qr code of A and A scans the qr code for B. Now A can introduce B to you without you having to exchange qr code with B.

[2016-06-03 09:19] J-J-Chiarella commented on #37
@grote QR codes do have limits and strengths in usability.

QR codes do not have to be transmitted secretly, but they do have to exchanged in an authentic way.

We could send them by e-mail as a SIGNED attachment, preferably with in a MIME PGP e-mail or an inline PGP with a hash of the file in the e-mail text body with a clear text signature on that. But that's not too convenient. At that point I'

[2016-06-03 09:22] gsantner commented on #37
### Offtopic

Is this (wontfix bug of discontinued app) really the right place to discuss encryption technologies and creation of new app/planned feature for other apps? Maybe some kind of forum or Gitter would be better appropiate.
Just a sidenote: I really like and enjoy whats discussed here.
Maybe just ignore this comment.

![flies away](https://cloud.githubusercontent.com/assets/6735650/157745

[2016-06-03 09:31] vanitasvitae commented on #37
As I'm slowly losing oversight, can someone clarify/correct the following:
- libaxolotl is GPL, therefore not usable for iOS apps
- Omemo is based on axolotl. Does copyright apply here? Is omemo based on libaxolotl and therefore GPL too?
- Wire did implement axolotl in rust, which did not fall under copyright. Is this usable?
- how about Olm?

[2016-06-03 09:38] J-J-Chiarella commented on #37
@vanitasvitae ChatSecure Team is looking at a GPL-free solution as we speak. Their blog has a bit on it. OMEMO is being reworked for a couple reasons, one of which is to hae implementations that can be fairly easily be written anew. Moxie's implementation is a bit hard to re-implement exactly and he'll license non-GPL to WhatsApp and Allo, but not to open-source rivals for free. Keep in mind that

[2016-06-03 10:11] vanitasvitae commented on #37
Will Olm and OMEMO be compatible? Would they _theoretically_ be compatible to Signal protocol?

[2016-06-03 10:22] J-J-Chiarella commented on #37
OMEMO as it exists in software is an experiment. The final spec and model implementation will be OLM and OLM is the name of the library under development that will be non-GPL.

So Om supersedes OMEMO. Who knows what the final names of the libraries or spec will be.

They are esentially the same as the Signal protocol but the Signal protocol _only works on centralized systems._ To adapt it for de-c

[2016-06-03 10:24] vanitasvitae commented on #37
@gaelsano Thank you very much for clarifying this :)

[2016-06-03 10:25] mimi89999 commented on #37
Moxie claims that GPL is compatible with the Apple App Store.... I think that it isn't...

Another issue is that IIRC Moxie claims rights on other protocols based on Axolotl...

[2016-06-03 10:35] J-J-Chiarella commented on #37
It doesn't matter what you think; if Moxie has a problem, he will complain and it will get pulled. It's the reverse of the ZFS debate on Linux. The Free Software Foundation as  third party, has a beef, but the Linux authors don;t have issues with binary video driver modules or ZFS, so it goes forward. That's what happened with VLC before libVLC was relicensed to LGP 2.1 so it could get on APPStore

[2016-06-03 11:13] J-J-Chiarella commented on #37
oh whoops. I misread your post.

I thought you said Moxie said it was _in_compatbile.

Really?

Ignore everything I wrote.

[2016-06-03 11:32] mimi89999 commented on #37
https://news.ycombinator.com/item?id=11727870

[2016-06-03 11:57] mimi89999 commented on #37
I love Conversations app. It is a complete client with most XMPP features. It has also plenty of settings and as a techie I love that.

On the other hand, I know that plenty of people would prefer a client like Zom, that is much simpler and that has plenty of "cool" features like stickers, etc. I am waiting for it to implement OMEMO/Olm...

[2016-06-03 13:03] J-J-Chiarella commented on #37
I think what's holding up Zom is getting the code stable and working with also openpgp perhaps (for feature parity)and for the Conversations/ChatSecure merge then for a finalization of Omemo/olm.

I doubt they want to do redundant work or use untested code for cryptography. They've gotten a boon in financial backing and I think the remaining component is simply human labor. It _will_ come, I belie

[2016-06-03 13:47] grote commented on #37
Sure! What I consider a great strength is that when scanning QR codes you also exchange public keys behind the scenes and establish authentication that way. When you just input someone's JID you solely rely on TOFU.

The situation is of course different when you scan a QR code remotely one way only. Then there's room for man-in-the-middle attacks. I'd say its still better than adding only a JID, e

[2016-06-03 14:10] pejakm commented on #37
Xabber is great, but it lacks OMEMO (which is planned).

[2016-06-04 06:10] tlnels commented on #37
@gaelsano Very well reasoned and articulate points.

The group of people I want to convince to switch to a secure messaging platform is not stupid but they are delicate in the sense that any sort of resistance or UX confusion is going to push them away immediately. I'm gun shy to recommend something now since it appears we are at a crossroads. I dread the day I have to convince the few to move off

[2016-06-04 11:15] albertgasset commented on #37
Have you tried [Matrix](https://matrix.org)? It looks promising.

[2016-06-06 21:04] vanitasvitae commented on #37
A nice article of Daniel Gultsch about XMPPs past and future:
https://gultsch.de/xmpp_2016.html

Kinda like the counterpart of Moxies blog post.

[2016-06-08 10:12] pravi commented on #37
I just enabled all XEPs conversations wants on poddery.com

https://diasp.in/uploads/images/scaled_full_9eb0c5e09ab14b858ef2.png

[2016-06-08 10:18] pravi commented on #37
@tristan-k I get "Server Error (500)" when trying to test poddery.com with https://test.jabber.at/

[2016-06-08 10:23] mimi89999 commented on #37
You can test it with https://github.com/iNPUTmice/ComplianceTester

[2016-06-08 10:30] mimi89999 commented on #37
There is an issue in Prosody 0.9.x with CSI and MUC: If you use CSI, you will experience frequent disconnections in MUCs...

[2016-06-08 15:14] relyt29 commented on #37
There's an AUR package for the development version of prosody [here](https://aur.archlinux.org/packages/prosody-hg/). I needed to use that to get XEP-0313 - Message Archive Management working. If you're not an Arch Linux user, you can still [reference the PKGBUILD file](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=prosody-hg) for how to build for your distro.

[2016-06-09 16:20] 42SK commented on #41
@cRaZy-bisCuiT
Have you tried clearing the app's cache?
I also had this problem once, but I can't remember how I managed to fix it.

[2016-06-11 02:40] noctilon commented on #37
@albertgasset

I agree. The [Vector](https://github.com/vector-im) developers just officially released their "very first production-ready" [applications](https://vector.im/). They made an [announcement](https://medium.com/@Vector/say-hello-to-vector-2d33b23a787) on medium. E2E encryption is coming in the near future in form of their own implementation of the axolotl ratchet called [Olm](https://ma

[2016-06-14 08:08] pravi commented on #37
Now with OWS license update, ChatSecure can use their Signal library on iOS to build OMEMO for ChatSecure and distribute it via Apple store https://whispersystems.org/blog/license-update/

[2016-06-14 08:10] vanitasvitae commented on #37
That's really great news! Thank you very much @moxie0 :)

[2016-06-14 11:50] vanitasvitae commented on #37
![_20160614_130928](https://cloud.githubusercontent.com/assets/7854206/16041648/de6b6c44-3236-11e6-9564-ec0d04af1f24.JPG)
Time to switch to another app... Goodbye LibreSignal

[2016-06-14 12:48] mimi89999 commented on #37
I recommended Conversations...

[2016-06-14 12:52] vanitasvitae commented on #37
Yes. I'll see if there's a working iOS pendant for one of my contacts.
(I'll try ChatSecure and Zom)

[2016-06-14 12:57] mimi89999 commented on #37
There is ChatSecure on iOS, but it only supports OTR encryption.

[2016-06-14 17:11] 1f5 commented on #37
Please do not stop this project! I am fully dependent on LibreSignal, because i use Blackberry OS 10. I fully see the points @moxie0 makes, but there is absolutely no way to use Signal on Blackberry without WebSockets. I tried MicroG, but that unfortunately does not work on Blackberry.
This is not about Google Services or any objections against Google, this is about loosing my major communication

[2016-06-14 17:15] hex-m commented on #37
That's really sad. All the effort to convince my contacts to use Signal and now I can't use it myself any more. :( I'll see if I can make it work with [GsmCore](https://github.com/microg/android_packages_apps_GmsCore) and get the apk from some untrusted source. :/ Let's hope our friends at @WhisperSystems work on https://github.com/WhisperSystems/Signal-Android/issues/127 and https://github.com/Wh

[2016-06-14 17:19] mimi89999 commented on #37
I really recommend Conversations. AFAIK, you can also install F-Droid on Blackberry and then install Conversations from F-Droid.

[2016-06-14 17:23] 1f5 commented on #37
@mimi89999 Thanks for that advice. I already have F-Droid on my Blackberry. Unfortunately, a major share of my friends use Signal and refuse to use xmpp. Unless Conversations adds the ability to use the full Signal Protocol, i am still going to be unable to talk to my friends.

[2016-06-14 18:00] mimi89999 commented on #37
Yes, you have that in Conversations. It is called OMEMO.

[2016-06-14 18:07] 1f5 commented on #37
I downloaded Conversations, but how do i use my Signal Account with Conversations? The OMEMO Website says nothing about this.

[2016-06-14 18:16] mimi89999 commented on #37
You can't. It is an XMPP client. You need to find a server, that supports all Conversations XEPs (like jabber.at), register an account there and ask your contacts to install Conversations and also register an account on an XMPP server (that has all the Conversations XEPs).

[2016-06-14 18:18] noctilon commented on #37
You can't chat with your Signal contacts using the Conversations app and you never will be able to do that. Conversations is XMPP only. Maybe there will be support for the Matrix protocol [later on](https://github.com/anurodhp/Monal/issues/9#issuecomment-225706325).

[2016-06-14 18:21] 1f5 commented on #37
Ok, thats really bad. As i said, most of my friends use Signal and i doubt i can convince them to switch to another app. But still thanks for your help.

[2016-06-14 18:37] mimi89999 commented on #37
You REALLY, REALLY should convince them to move to Conversations.

[2016-06-14 18:38] thestinger commented on #37
There is no point in asking the LibreSignal developers to continue support, or asking for the developers of other clients to add support. It's not up to them. There won't be support for using Signal from any client other than the official builds of Signal if @moxie0's wishes are supported. It would be necessary for @moxie0 to either agree to federate or allow another client, which in all likelihoo

[2016-06-14 18:41] xenithorb opened #42 "Says my version is going to expire"
Is this dead and gone or what. Using the eutopia.cz repo with F-Droid

I read the giant shitstorm that is #37 and I don't really know which way is up at this point

[2016-06-14 19:07] noctilon commented on #42
It's time to abandon ship. Switch over to [Conversations](https://conversations.im) / [ChatSecure](https://chatsecure.org/) / [Zom](https://zom.im/) (if you can) or wait for E2EE support in [Vector](https://vector.im/).

[2016-06-14 19:37] mimi89999 commented on #37
Relying on a hostile provider for 'secure' messaging simply doesn't make sense...

[2016-06-14 19:51] thestinger commented on #37
Yeah, that's what I'm trying to say. There is no future for useful alternative Signal clients. It's possible to have interoperability win a hostile provider, but that would be an endless, fruitless war to fight.

https://nplusonemag.com/issue-19/essays/chat-wars/

[2016-06-14 20:00] pejakm commented on #42
Or switch to [Kontalk](https://kontalk.org/). Or download Signal from [ApkMirror](http://www.apkmirror.com/apk/open-whisper-systems/signal-private-messenger/) and use it along with [microG](https://microg.org/).

[2016-06-14 20:08] gsantner commented on #37
Decentralization strikes again. +1 for federated services :+1:

[2016-06-14 20:39] herbsmn commented on #42
Hey @mimi89999. Is it not worth it to update your repo one more time? 9 days is a small window of time to pack up shop and move to another communications platform. I know libresignal isn't a long term solution, since the centralized server provider is hostile, but now that we know that the end is definitely near, it'd be great to be able to buy libresignal users a little bit more time. Also, with

[2016-06-14 20:53] mimi89999 commented on #42
@herbsmn How did you install LibreSignal? If you installed it from the F-Droid archive repo, you wan't receive updates anyway because the app was removed from there...

[2016-06-14 20:57] herbsmn commented on #42
yeah, i used @xmikos's experimental F-Droid repo. I didn't know he removed it. what repo has the most up to date version? I can compile from source. https://github.com/JavaJens/TextSecure seems to not have been updated since Feb 21st.

[2016-06-14 20:59] mimi89999 commented on #42
I wasn't writing about xmikos repo, but about the F-Droid archive repo....