[2016-06-14 21:01] mimi89999 commented on #42
@xmikos What do you think about making the last LibreSignal update?

[2016-06-14 21:12] noctilon commented on #42
@pejakm

Regarding Kontalk, please keep in mind that this project currently uses [E2EE (without PFS) based on PGP](https://github.com/kontalk/specs/blob/master/encryption.md). There are plans to chance this, though (see https://github.com/kontalk/androidclient/issues/132). Furthermore, there is no [iOS client](https://github.com/kontalk/iosclient) available yet.

The [crypto messenger comparison c

[2016-06-14 21:19] herbsmn commented on #42
gotcha. well yeah, with the @xmikos experimental repo, it says LibreSignal has 9 days left to live. One last LibreSignal update would be beautiful and very helpful to many people. It'd give ChatSecure a little bit more time to get OMEMO rocking on iOS now that OWS changed their licensing so that their GPLv3 SignalProtocal can be used in the iOS app store. https://github.com/ChatSecure/ChatSecure-i

[2016-06-14 21:26] xenithorb commented on #42
Clearly a vibrant community here. Sad to see it go to waste.

Found a new build from another popular repo, but I won't mention it since it will clearly inundate the poor guy. I'm set for now at least.

[2016-06-15 00:24] herbsmn commented on #42
@xenithorb can you send it to me privately?

[2016-06-15 05:36] mimi89999 commented on #42
What other repo?

[2016-06-15 08:02] xenithorb commented on #42
I just said I wasn't going to out the repo because it wouldn't be fair to his servers.

[2016-06-15 08:05] mimi89999 commented on #42
Not even PM it to me?

[2016-06-15 14:07] xmikos commented on #37
Just for the record: I will definitely update independent builds from official Signal sources in my main F-Droid repository on [fdroid.eutopia.cz](https://fdroid.eutopia.cz/) and keep them updated in the future.

But builds of LibreSignal (WebSocket-fork) in my _experimental_ repository on [fdroid.eutopia.cz](https://fdroid.eutopia.cz/) depends on this GitHub repo being updated, which in turn depe

[2016-06-15 14:31] xmikos commented on #42
I will still provide independent builds in Eutopia.cz F-Droid repository, see here: https://github.com/LibreSignal/LibreSignal/issues/37#issuecomment-226198069

[2016-06-15 14:47] mimi89999 commented on #42
I updated LibreSignal, but I didn't test it because none of my contacts is using Signal/LibreSignal.

[2016-06-15 14:55] xmikos commented on #42
@mimi89999 Thanks, I will review code diff and test it. If it will be good, I will update F-Droid repo soon (I hope in circa 5 - 8 hours, tomorrow at worst).

[2016-06-15 15:00] mimi89999 commented on #42
It doesn't build. I will do further debugging...

[2016-06-15 15:14] mimi89999 commented on #42
@xmikos Fixed. It builds now.

[2016-06-15 18:55] acipm commented on #37
Does anyone know which open source GCM implementation @moxie0 is talking about in https://github.com/LibreSignal/LibreSignal/issues/37#issuecomment-217661076? It would be nice to at least get the GCM-version of Signal running on AOSP.

@xmikos It seems the latest version in your repo is 3.15.2, while the official latest version is 3.16.0.

[2016-06-15 18:58] 1f5 commented on #37
@cookietime--yay He is talking about [MicroG](https://microg.org/)
That is a Solution for AOSP, but not for Android Compatible Systems (such as Blackberry).

[2016-06-15 20:27] 1f5 commented on #37
@mimi89999 Thanks for updating LibreSignal one last time. I got it compiled an running again.

[2016-06-16 08:47] xmikos commented on #37
@cookietime--yay Main repo (build from official Signal sources) has been already updated. Experimental repo (build of this WebSocket fork) not yet (I had problems with Vagrant-based buildserver and will have time to fix it only after work, so you have to wait some more hours, I am sorry).

[2016-06-16 08:48] xmikos commented on #37
@mimi89999 Thanks for update, I have reviewed changes and it seems good. I hope ChatSecure / Zom will release new version with OMEMO soon...

[2016-06-16 09:07] vanitasvitae commented on #37
@krt16s Could you also update LibreSignal in the Fdroid archive one last time to buy users a little time to switch?

[2016-06-16 09:09] thestinger commented on #37
@xmikos Moxie relicensed the Signal libraries so they can be directly used for iOS support now, which should help move things along quickly. No need to use a reimplementation of them anymore.

[2016-06-16 09:13] mimi89999 commented on #37
@vanitasvitae LibreSignal was removes from the F-Droid archive repo and it won't be readded there. Sorry.

[2016-06-16 09:15] vanitasvitae commented on #37
Well then I'll have to compile it myself :)

[2016-06-16 09:15] condret commented on #37
@vanitasvitae go for it

[2016-06-16 09:16] mimi89999 commented on #37
Or install it from the Eutopia experimental F-Droid repo.

[2016-06-16 09:19] xmikos commented on #37
@vanitasvitae Or you can just wait till evening (CET) when I finally push update to my fdroid.eutopia.cz experimental repo.

[2016-06-16 09:26] vanitasvitae commented on #37
@xmikos Okay, I'll do that. Thank you very much :+1:

[2016-06-16 09:44] jomo commented on #37
Sorry to bump this thread yet another time, but I wish to add my two cents.

It's not. (Marketing and) UX is what makes it popular. Telegram's "security" cannot be taken seriously, however:
1. they provide an API and let anyone build clients for their network
2. there's a FOSS fork of their Android client
3. it's available via F-Droid
4. it has tons of third party clients so you can use Telegram e

[2016-06-16 20:14] acipm commented on #37
@xmikos thanks for updating the repo.
I'd like to note that Signal + microg gmscore works nice on AOSP (I mostly followed https://o9i.de/2015/10/23/howto-gmscore.html for the installation, but used Needle instead of Xposed).

[2016-06-16 23:56] moxie0 commented on #37
With Telegram, there is only one "client" -- it's the server.  Everything else is just a view onto the server, which manages all state and interactions.  This is a privacy nightmare, but it takes all the logic out of the clients, makes them really easy to write, and eliminates most of the interoperability problems that networks with actual client logic would see with 3rd party clients.  I don't th

[2016-06-17 00:10] ClubWDW commented on #42
Is there a time frame to when this will be updated in F-Droid?

[2016-06-17 02:21] Asara commented on #37
My main use of LibreSignal is because I use Replicant OS and GCM is not an option for me.  @moxie0 I feel as if users of LibreSignal would love a websockets only version, and would be even happier if it came through Signal.

We are clearly willing to accept that there is a higher battery consumption and possibly an unreliable user experience since there are clearly enough users that killing LibreS

[2016-06-17 08:28] faddat commented on #37
@Asara exactly.  The problem isn't with Linux, it's with Android and it's speed handicapping, computational distortion layer of Java.

This is a rather long term solution, but I firmly believe that we can only solve the problem in a real way once Android is not the mobile operating system.  This actually requires looking to the driver/hardware level and building up from there.  I think everyone he

[2016-06-17 08:38] thestinger commented on #37
@faddat The poor efficiency of non-GCM messaging has nothing to do with Android or Java, and having most code written in a memory safe language is a _very_ good thing for security. I'm not sure what you think would be solved by moving away from it, or what it has to do with the comment you're replying to.

Non-GCM-based polling can be made substantially efficient as Conversations has done, to the

[2016-06-17 09:03] Diapolo commented on #37
Did anyone notice, that @moxie0 seems to be willing to accept (high-quality) WebSocket code for official Signal? IMHO this is great news and I hope this forks community is willing to push for that :). Even if Signal has flaws e.g. federation etc., but I'm still commited to use it further and in the future without GCM!

[2016-06-17 09:07] vanitasvitae commented on #37
@Diapolo :+1:

[2016-06-17 09:29] mimi89999 commented on #37
AFAIK the solution in Conversations is keeping an IDLE connection... If there is no data transfer, there is no visible battery usage... LibreSignal is pinging the server every 55s, so it can cause battery drain...

[2016-06-17 09:37] vanitasvitae commented on #37
LibreSignal does not have any significant battery drain on my phone. Contrary to let's say Telegram-FOSS it does not even appear in the battery usage overview.

I'd love to see Signal supporting WebSockets, but unfortunately I don't think I'd be a big help on implementing that :/

[2016-06-17 09:59] faddat commented on #37
I was totally off base, and somehow thought I was stepping into a different conversation.

With that said, I shall revise my remark to "**indeed, messaging is a vexing issue, and secure/private messaging is even more vexing.**

[2016-06-17 10:09] mimi89999 commented on #37
@vanitasvitae For LibreSignal, with Wi-Fi the battery usage is not noticeable unless the signal is very weak, but the battery usage is noticeable if you are using mobile data.

[2016-06-17 10:19] vanitasvitae commented on #37
@mimi89999 Ah okay, I'm mostly on WiFi.

[2016-06-17 13:28] nidico commented on #37
Fair statement!

Excellent news, thanks for that!

Similar to others above, I've used LibreSignal and Conversation in parallel for a while now (running most of the time, mostly on mobile data) and must say that battery consumption is pretty okay for me.

Fully understand.

Makes sense to me intuitively, though one could argue that some metadata leakage to Google could still be avoided for those wh

[2016-06-17 13:38] mimi89999 commented on #37
Those are missing mainly because it would impact on users privacy.

[2016-06-17 13:48] vanitasvitae commented on #37
@moxie0 Are you missing these points in FDroid or their free counterparts in Signal?

[2016-06-17 13:54] Asara commented on #37
https://github.com/LibreSignal/LibreSignal/issues/37#issuecomment-226732517

I have no basis to compare against since my phone doesn't have WiFi drivers on it, but I have no problem with the battery usage.  Furthermore the only people who would be installing a non-GCM version would be the ones who know what they are getting into (F-Droid, etc.), so for the 'casual user' this shouldn't be a problem

[2016-06-17 13:57] mimi89999 commented on #37
@moxie0

Please install the free version of Conversations (the Play Store version supports XEP-0357: Push Notifications) and register an account on a server with good XEP support like jabber.at. Here you can find a server rating: https://github.com/iNPUTmice/ComplianceTester/tree/master/reports. I am almost sure, that you will be positively surprised by the UX.

Would you prefer the app to check f

[2016-06-17 16:33] moxie0 commented on #37
Yes, we would need to migrate the way voice calls work across Android, iOS, and the server as part of this change.

The former.

[2016-06-17 16:49] idumych commented on #42
I posted on the Fdroid repo github page as well, but what does this mean for LibreSignal users long term? Supposedly the project is cancelled, but I just installed LibreSignal 3.16 from Fdroid. I'm guessing these are @xmikos 's builds. Does this mean that the code is just going to be stagnant now and we'll eventually lose parity with Signal official?

[2016-06-17 18:18] xmikos commented on #42
I couldn't make F-Droid's Vagrant-based buildserver to work again yesterday (like I originally intended). This is why it takes so much time to update :-( I have pretty much given up on it now and will release standard (non-reproducible) build soon (well, it will be build on latest Arch Linux, so it could be reproduced, just not that simply).

[2016-06-17 20:08] ClubWDW commented on #42
@xmikos Thank you!

[2016-06-17 20:38] herbsmn commented on #42
Thanks @xmikos!

[2016-06-17 21:12] mimi89999 commented on #37
For voice calls, signalling could be done using special TextSecure/Signal messages...

[2016-06-17 22:01] fHbT28B commented on #42
Hello guys.
I am not a programmer and not very computer/smartphone oriented. And my English is not the best :-). I just used LibreSignal, because it is an alternative to Signal, which requires Google PlayStore, that I wanted to avoid.
My F-Droid says that my version needs an update, which is not listed. Now I read something like that the project is cancelled. Is that correct? I read something of s

[2016-06-18 01:42] xmikos commented on #42
@fHbT28B I have already uploaded new version to _experimental_ repo on https://fdroid.eutopia.cz, so you can update and still use it. It is only temporary solution, this WebSocket-fork of Signal is really pretty much dead.

But I will still keep providing independent builds from official Signal sources in _main_ repo and there is some new hope that WebSocket support will be added to official Signa

[2016-06-18 01:53] xmikos commented on #37
I have finally uploaded new (and probably last) version of LibreSignal to my _experimental_ repository on https://fdroid.eutopia.cz. So all of you can update now.

And like I already said, I will keep providing independent builds from official Signal sources in my _main_ repository (and will keep them updated in the future). So if WebSocket support will be added to official Signal, it will be ther

[2016-06-18 01:59] ClubWDW commented on #42
@xmikos Thank you sooo much for your work on this project. It has been great while it lasted. As per your advice (and others) I am going to migrate to another solution. Silence looks promising but I'm having an issue. As it is from the same source, I was hoping you could shed some light on a problem I'm having. Would you look at [this](https://github.com/SilenceIM/Silence/issues/420) and give me y

[2016-06-19 00:10] fHbT28B commented on #42
What is the other solution, which is compatible to other Signal-Users? I have persuadet a lot of friends to use Signal instead of Whatsapp, so that I am compatible with LibreSignal. What is my possibility to be still in contact with them and not to admit, that this solution was not so clever. It was a really hard work to argue :-).
It was discussed about servers, which will not be provided anymore

[2016-06-19 00:26] idumych commented on #42
@fHbT28B , I suggest to you and anyone else who comes across this thread in the future, check out Conversations. It's in Fdroid and the Play Store. After reading up on this for a couple days, I have found that OMEMO is the same method of end to end encryption that Signal uses. Conversations, and a growing number of other Jabber/XMPP clients support this. You can have identical functionality, using

[2016-06-20 06:53] cplutte commented on #37
From what I know from people trying to use Signal in China and on Chinese mobile phones and I can say that it does not work well at all. First, Chinese phones with a Chinese custom Android version do not have the required Goolge libs and do not support GCM, you simply cannot install Signal (without a big hassle) and second, even with a phone with Google Play people still encounter problems with GC

[2016-06-20 07:43] xmikos commented on #37
Surespot doesn't support forward secrecy! If private key is stollen from device, they can decrypt with it every intercepted message sent in the past. It is similar to PGP / GPG in that matter.

Also there were some indications that Surespot has been compromised in the past (maybe author has been forced to push backdoored build to app store, but it is not certain).

[2016-06-20 07:51] xmikos commented on #37
About that potential Surespot backdoor, see here:

[Opinion: Is Surespot the latest cryptowar victim?](http://m.csmonitor.com/World/Passcode/Passcode-Voices/2015/0617/Opinion-Is-Surespot-the-latest-cryptowar-victim)

Also grugq on Twitter wrote that he know that Surespot has been compromised from his personal trustworthy source.

[2016-06-20 10:14] razzor1984 commented on #42
@idumych

you must differ, technical aspect and User aspects. The most users know that whats app uses now an "Encryption" regardless that its an closed source and nobody knows
how the encryption is implemented(Contact book upload next bad part). The mainstream only sees the word "encryption" an that's the selling point.
The second part are the contacts, you simply cant force your "friends" to tran

[2016-06-20 22:38] sim6 commented on #42
Is possible to get the last update via f-droid archive repository? Thanks.

[2016-06-21 18:18] dejIO commented on #42
For some reason the update doesn't show up in F-Droid. I could directly install the APK from the experimental repo, though, and without any problems.

[2016-06-21 18:46] herbsmn commented on #42
@sim6 and @dejIO: you gotta get it by adding the experimental repo listed at this website to F-Droid: https://fdroid.eutopia.cz/

[2016-06-21 18:50] fHbT28B commented on #42
And how do I activate this? I get the error that this source is not signed.

[2016-06-21 18:54] herbsmn commented on #42
@fHbT28B try updating the repo a few times. hopefully it will grab the signature.

[2016-06-21 19:05] fHbT28B commented on #42
I restarted my smartphone and it still doesn't work.
I downloaded the apk "org.thoughtcrime.securesms_10194.apk" from:
https://eutopia.cz/experimental/fdroid/repo/?fingerprint=A0E4D1D912D8B81809AB18F5B7CF562CD1A10533ED4F7B25E595ABC8D862AD87

But this apk is also not installable. This seems very strange.

[2016-06-21 19:07] herbsmn commented on #42
Did you add the https://eutopia.cz/experimental/fdroid/repo repo to your f-droid app? You should do that rather than downloading the apk.

[2016-06-21 19:18] fHbT28B commented on #42
Of course. The first time without fingerprint (message: "unsigned"), the second time with fingerprint (message: "unverified"). Description: "This repository has not been used yet. You need to enable it to view the apps it provides."
I do not understand. What does that mean?

[2016-06-21 19:22] herbsmn commented on #42
to the right of the repo in the repo list is it green or grey? should be green to activate it.

[2016-06-21 19:26] mimi89999 commented on #42
If you installed LibreSignal from the F-Droid archive repo before, you can't just update to the version in the Eutopia repo. You will need to uninstall the former and then install the app from Eutopia.

[2016-06-21 19:37] fHbT28B commented on #42
@herbsmn: The repository is activated. It is green and on the right. But under the repository title (on the left) is written in grey: "Unveryfied".

@mimi89999: If it is not possible to use the repository of FDroid (it is making problems in the moment), can I install the downloaded apk from the directlink https://eutopia.cz/experimental/fdroid/repo after deinstalling the old version? What is with

[2016-06-21 22:13] herbsmn commented on #42
@xmikos runs the repo. maybe he can help you @fHbT28B

[2016-06-22 09:07] tuxayo commented on #42
@fHbT28B @mimi89999 don't forget to export your messages before uninstalling and also the whole process will reset your encrypted sessions.

[2016-06-23 07:39] fHbT28B commented on #42
It  is right, that the former version has to be deleted before installing the new one. This is a point that has to be registered clearly somewhere here, because there are certainly many users installing it from F-Droid.
The problem with F-Droid is not solved yet. I just intstalled the offered apk.

[2016-06-26 01:05] ghost commented on #37
Paying a visit from this(*) Slashdot thread. I'm a "Tox" user and it looks like war is going on here lol.
https://yro.slashdot.org/story/16/06/25/155214/why-you-should-stop-using-telegram-right-now

[2016-06-26 01:16] ghost commented on #37
@eighthave
Not related to Signal, but are you a Guardian Project member? If so, tell them I love your "Orbot" and "Orfox".
But I don't need "ChatSecure" because I use Antox(Tox on Android).

[2016-06-26 01:52] LogicParrot commented on #37
It seems to me that the real culprit is having multiple implementations, not federation itself.

I'd imagine that a federated protocol with servers running a single auto updating implementation, along with clients running a single implementation, would be an easily updatable system. The problem with say, XMPP or e-mail, is not federation per se, rather, it is the existence of multiple server and c

[2016-06-26 22:34] Asara commented on #37
Is there anyone working to get websocket support into the main Signal repo?

Mostly a question to @mimi89999

[2016-06-27 19:10] vanitasvitae commented on #37
I'd love to help testing etc...

[2016-06-28 12:30] relyt29 commented on #37
Perhaps a [bountysource](https://www.bountysource.com/) would be appropriate?

[2016-06-28 16:24] vanitasvitae commented on #37
I'd support that :)

[2016-06-29 16:44] hex-m commented on #37
@f41c0r you don't have to wait for someone to allow it or do it for you. ;)

even more off-topic:
They (OWS) have their own "competitor" to bounty source but for now it does only pay per merged pull request, not for a specific feature. (see https://github.com/WhisperSystems/BitHub/issues/4)

[2016-07-04 08:07] vanitasvitae opened #43 "Create proper pull request to add LibreSignal's WebSocket support to OWS Signal"
Title sais it all. Some work was done before in https://github.com/WhisperSystems/Signal-Android/issues/1000 but that needs at least to be polished up.

[2016-07-04 08:19] vanitasvitae commented on #37
I just opened #43 and postet a bountysource. I really hope there will be some progress on adding Websocket support to Signal now. If anyone wants to contribute feel free to do so :smiley:
https://www.bountysource.com/issues/35722527-create-proper-pull-request-to-add-libresignal-s-websocket-support-to-ows-signal

[2016-07-04 08:19] vanitasvitae commented on #43
Link to bountysource: https://www.bountysource.com/issues/35722527-create-proper-pull-request-to-add-libresignal-s-websocket-support-to-ows-signal

[2016-07-05 09:07] paride commented on #37
@hex-m I think that whoever posts the PR that gets accepted would be able to collect both.

[2016-07-05 13:15] vanitasvitae commented on #43
To make it clear for people, who did not read #37: The pull request must be of a good quality so it will be accepted by @moxie0.
https://github.com/LibreSignal/LibreSignal/issues/37#issuecomment-226646872

[2016-07-05 13:40] vanitasvitae commented on #37
Was it clever to open the issue in this repository? Can someone create a "OWS" branch which is a copy of Signals master, where the PR can be made against, so it can later be merged with Signal without problems?

[2016-07-05 19:26] BengaloBongali commented on #43
I'm really happy to read this. 2 questions:
1. Will LibreSignal work until WebSocket support was added to Signal?
2. How will "WebSocket-Signal" be distributed (without Play)?

[2016-07-05 19:34] vanitasvitae commented on #43
1) If the PR is there in the near future :)
(Libre)Signal has a built-in "time bomb" that warns the user whenever the version is too old. I believe this was the last version of LibreSignal.

2) There is no "WebSocketSignal". There will only be Signal. OWS will not allow distributions outside Google Play until some more points are addressed (eg. crashlogs, user statistics etc)

I have to say, that

[2016-07-05 19:44] mimi89999 commented on #37
@vanitasvitae He can clone the Signal repo and merge some code from here.

[2016-07-05 19:59] vanitasvitae commented on #37
@mimi99999 I just wasn't sure about bountysource. Can the bounty be claimed, if the PR goes to another repo? I never did something with bountysource before...

[2016-07-05 20:07] grote commented on #37
This language assumes that the person doing this work will be male. A different language can help to create more diversity in our community. It can help non-male persons to be feel more included, respected and welcome.

[2016-07-05 20:14] mimi89999 commented on #37
Sorry. @grote I agree.

[2016-07-06 03:20] pravi commented on #37
I usually use the plural form 'they' which is neutral.

On 2016, ജൂലൈ 6 1:37:18 AM IST, Torsten Grote notifications@github.com wrote:

[2016-07-06 06:31] Mikaela commented on #37
It*s actually known as "singular they".
- https://en.wikipedia.org/wiki/Singular_they

[2016-07-06 17:47] BengaloBongali commented on #43
Will it stop working, too?

So the only way to get Signal (with WebSocket) on a phone is and will be https://fdroid.eutopia.cz/?

[2016-07-07 05:36] vanitasvitae commented on #43
The PR should have no negative impacts on Signals behavior.

If the PR gets merged, you can use OWS Signal. If you don't have Google Play you can either build it yourselve or use the independent build from https://fdroid.eutopia.cz/

There will be no more need for LibreSignal.

[2016-07-07 07:04] BengaloBongali commented on #43
Thanks for your answers!

I meant whether LibreSignal will stop working (before there is WebSocket support in Signal) or is the warning of using an old version all to come? I'm changing phones right now (from one with Google to one without) and I'd like to know whether I can just use LibreSignal now and change to Signal with WebSocket when it's done or I have to think about something in the meanti

[2016-07-07 07:28] vanitasvitae commented on #43
That depends on how quick the PR is ready.

[2016-07-07 13:41] vanitasvitae commented on #37
Is someone actually working on the PR? It would be embarrassing, if nothing follows this heated discussion :/

[2016-07-13 15:56] Asara commented on #37
+1 for BountySource.

Is anyone working on this PR?  Or is it time to ditch the Signal ecosystem all together?

Many people recommend OMEMO over XMPP but there isn't yet a compatible iOS app to communicate using OLM/OMEMO.  ChatSecure claimed months ago they would release it in their next version but it doesn't seem to have progressed.  For this reason I want to continue to use Signal/LibreSignal.

[2016-07-17 13:33] iNPUTmice commented on #37
Even if someone was working on that it is completely unclear if and when that PR would get merged

Using Signal is fine (even though it has almost no benefit over WhatsApp). It's the 'Libre'Signal approach that is heavily flawed. Even if you ditch GCM your meta data is still in the hands of one US based company. The meta data that flows through Google is completely negligible compared to the meta

[2016-07-17 13:50] pravi commented on #37
On 2016, ജൂലൈ 17 7:03:46 PM IST, Daniel Gultsch notifications@github.com wrote:

There one significant advantage - Signal client is Free Software. With WhatsApp, you have to blindly trust them on end to end encryption, with Signal, you can not only verify it independently, but with reproducible builds you can verify the binary corresponds to published source code as well.

There is smaller advanta

[2016-07-17 15:19] pravi commented on #37
Is there anyone interested in running a Signal server outside US? The main advantage would be to break away from metadata centralization. We could later add more servers and federate among ourselves. We'll have to modify the client to connect to both servers. If both users are on the new server we should prefer that connection, if not then fallback to Signal servers. If someone is willing to code

[2016-07-17 18:55] mimi89999 commented on #37
@iNPUTmice

There is the advantage, that you don't have to have the proprietary gapps running with system app privileges (if somebody fears, that they might be a backdoor or is a FOSS/FLOSS nerd.) :smile: The idea was never to really protect against metadata collection on the server, but to allow people with gappless devices to communicate with Signal users.

[2016-07-17 19:16] mimi89999 commented on #37
@pravi

What would be the advantage over XMPP + Conversation? We might as well run a secure XMPP server with good XEP support if one is needed...

[2016-07-17 19:45] vanitasvitae commented on #37
Plus we would not be bound to (Libre)Signal as client app/program

[2016-07-17 23:31] pravi commented on #37
On 2016, ജൂലൈ 18 12:46:16 AM IST, Michel Le Bihan notifications@github.com wrote:

Why did we start using Signal in the first place when we could have used xmpp+conversations?
1. Its easy to get started for users familiar with WhatsApp. Creating an xmpp account is still a big hurdle for xmpp addition.
2. It works like SMS/Text Message over data
3. You can easily find contacts using your phone's ad

[2016-07-18 04:00] mimi89999 commented on #37
@pravi
5. Conversations has very good crypto.
4. For iOS there is chatsecure, that supports OTR. It isn't as convenient as OMEMO, but still more or less usable.
Creating a LibreSignal for iOS, that works with other servers will be really complicated. Just to give an example: Xcode (the app for developing apps for iOS) only works on OSX.

As for the rest: Your contacts probably use nicknames on Twi

[2016-07-18 04:04] thestinger commented on #37
There isn't an alternative to using the Apple Push Notification Service on iOS other than it simply not working at all in the background, and there's no way to avoid having it around. Not much point in an equivalent to LibreSignal there.

[2016-07-18 10:34] gjedeer commented on #37
With a network of non-OWS federated servers, this advantage will be gone.

.

[2016-07-18 10:44] Mikaela commented on #37
For some users Windows Phone, SailfishOS and Ubuntu Touch support are also important.

I believe Conversations is Android-only and OMEMO isn't supported on any other mobile platform yet even if XMPP clients probably are available for them all even if the quality (SfOS Messaging doesn't do MUCs) can vary.

[2016-07-18 11:25] jomo commented on #37
This discussion has switched topic several times. Could we split it up, so we'd have an issue to discuss WebSockets in Signal and another one for a meta discussion about crypto messaging (or move the latter somewhere else entirely)?

[2016-07-27 11:15] secureemail commented on #37
Interesting how the conversation switched from ~"can we have WebSockets in Signal please?" to ~"maybe it's better to use ChatSecure/Conversations/Zom/.. + our own servers after all" (metadata and other issues).

And I agree, although Signal is convenient for the masses because mainly of its simplicity/convenience, the metadata issues mentioned by @iNPUTmice are there (metadata is not unimportant:

[2016-07-27 13:02] mimi89999 commented on #37
@secureemail

Could you link me DIME?

[2016-07-27 13:04] mimi89999 commented on #37
AFAIK CSipSimple + Ostel account is still the best solution. You might also want to try [Ring](https://ring.cx).

[2016-07-27 13:42] tristan-k commented on #37
@mimi89999 https://darkmail.info

[2016-07-27 14:41] grote commented on #37
How does ChatSecure and XMPP solve this metadata problem? If you don't trust moxie to not record metadata, why do you trust all of those XMPP server administrators and their abilities to secure their servers? Isn't metadata even spread over more servers with XMPP thus increasing the risk for it to leak?

[2016-07-27 15:35] Asara commented on #37
@grote: Setting up your own XMPP server that supports OMEMO isn't difficult.

https://github.com/Asara/Ansible/commit/3572aa76bfd2a1aefeb4ef45f7c20cb2bb28479b

Not really prod-ready, but it works well enough for me.

[2016-07-27 15:39] grote commented on #37
Yes I know. I am running a XMPP server myself. But this doesn't answer the metadata question, because I still need to trust the admins of the servers all my contacts are using, because they potentially have the metadata that relates to communication with me. AFAIK OMEMO does not hide from which JID to which other JID messages were sent when.

Also, a powerful adversary should be able to perform ti

[2016-07-27 16:01] mimi89999 commented on #37
@grote These are known issues with federated networks, but P2P networks have other with high impact on battery life as the worse IMHO.

[2016-07-27 17:12] Asara commented on #37
@mimi89999: Is there any plan to make libresignal's websockets mechanism as a fallback for Signal?  Or should we be actively abandoning this hope?

[2016-07-27 17:15] mimi89999 commented on #37
@Asara No plans to make the websockets PR. Sorry.

[2016-07-27 17:27] pravi commented on #37
On 07/27/2016 09:09 PM, Torsten Grote wrote:

The metadata is spread out, an adversary has to break all the servers to
get all your metadata. The cost and complexity (different jurisdictions)
of mass surveillance is increased by a huge amount.

You can use multiple JIDs to increase anonymity. How do an adversary
know which all JIDs belong to you? Unlike a phone number, you have much
more options t

[2016-07-28 15:02] secureemail commented on #37
@mimi89999 https://github.com/lavabit/libdime

Thanks, will look into CSipSimple + Ostel and Ring. Wonder why Conversations and Zom don't have it yet or whether it's planned.

@Asara Thanks for the infos.

@grote Regarding metadata: I'm not sure but as a company in the USA, isn't Moxie forced to save metadata anyway? And as nobody knows what data are collected, I don't trust them of course (even i

[2016-07-28 17:41] mimi89999 commented on #37
@secureemail

Yes

Those would have to change completely Signal design.

I am using Conversations on my Android device and Gajim on my PC running Debian (I was using Pidgin, but it doesn't support OMEMO).
I tried Ring with my friend, but it quickly ate our battery. Also last time I asked (it was several months ago) Ring encryption of messages isn't FS. :disappointed:

@grote

They only have the me

[2016-07-29 19:05] secureemail commented on #37
@mimi89999 I like this decision because everything is better than being dependent on them and their infrastructure.

To the metadata thing: Obviously having everything on WhisperSystems's servers which are located in the USA is the worst situation. But e.g. having multiple servers in the USA isn't much better either (for new readers: read my previous post where I mention several different cases re

[2016-07-30 14:54] mimi89999 commented on #37
Briar looks quite interesting. It is decentralized, but it isn't based on IP addresses (the ISP would have the metadata) nor it is based on a DHT (like torrents) (I tried Ring (based on a DHT) and it almost ate my battery).

Because Briar requires you to meet in person with your contact or to be introduced, I think, that it is for people with special needs, not for everybody. I often cross my fing

[2016-07-30 15:19] grote commented on #37
I am not sure about this, but I think he stated publicly that he is not storing any metadata. Up to you to trust him or not.

I don't think it does.

Yes DHT is deadly for your battery. Briar does not do this. It does not open connection to other people and relays messages all the time. It only connects to your contacts through a variety of different transports such as Tor, but also Bluetooth and

[2016-07-30 15:40] mimi89999 commented on #37
It is good to care about users' security, but at that point, I can't just test Briar with a random person in this conference TOFU based nor with my Conversations contacts, that I trusted OMEMO keys.
On top of that, it is worth mentioning, that we basically can't trust our mobile devices.

[2016-07-30 15:42] #37 closed, assigned to nobody

[2016-07-31 16:02] secureemail commented on #37
Couldn't that be easily solved by adding a setting like: "show warning and block chat to partner until approved again"? (may also make it a default setting)

Always good when you could provide sources and say why or which devices may come the closest to be trustable.

Recently there's this comparison going on: https://docs.google.com/spreadsheets/d/1tv5QTuoS29YwApP7i2OKe9aLrZZIwgY-f5b-d73vlI0 (unf

[2016-07-31 16:10] mimi89999 commented on #37
@secureemail https://www.gnu.org/philosophy/android-and-users-freedom.html ; http://www.replicant.us/freedom-privacy-security-issues.php ; http://redmine.replicant.us/projects/replicant/wiki/SamsungGalaxyBackdoor

[2016-07-31 16:22] mimi89999 commented on #37
@secureemail

There is also: https://en.wikipedia.org/wiki/Comparison_of_instant_messaging_clients#Secure_messengers

[2016-08-03 19:34] mimi89999 commented on #39
Could you please recheck that?

[2016-08-19 14:35] ghost commented on #37
In how far is LibreSignal dead now? What does that mean when i get my builds from fdroid.eutopia.cz with the fake google apps installed?

[2016-08-19 15:06] xmikos commented on #37
@mray LibreSignal (this WebSocket-fork GitHub repository) is practically dead (on life support), so sometime in the future there will be no new builds in **_experimental**_ repository on [fdroid.eutopia.cz](https://fdroid.eutopia.cz). It depends on how long this GitHub repository will continue to be updated (and it is indeed possible that latest update 3.16.1 is also the last one).

But **_main**_

[2016-08-19 15:26] xmikos commented on #37
@mray LibreSignal builds in both **_main**_ and **_experimental**_ fdroid.eutopia.cz repository are signed by the same key, so you can switch between them without losing app data.

Only if you want to switch from LibreSignal (WebSocket) to LibreSignal (from main repo), you have to reinstall it manually via this command:

[code]

This is needed because builds of WebSocket-fork of LibreSignal (from

[2016-08-23 10:01] paride commented on #37
The "wire" app has been recently open sourced:

https://wire.com/
https://en.wikipedia.org/wiki/Wire_Swiss
https://github.com/wireapp/wire-android

I'm pretty sure it still depends on GCM, but their TOS is more reasonable than what OWS tries to enforce. From https://wire.com/legal/#apps-use-requirements:

[2016-08-23 10:54] xmikos commented on #37
@legovini Wow, this is great! Finally excellent opensource alternative to Signal (even with encrypted voice and video calls).

But you are right, there is GCM dependency in [build.gradle](https://github.com/wireapp/wire-android/blob/master/build.gradle), but maybe Wire is able to work without it? We will need to try it and see what happens. Or maybe they will be open to add WebSocket support (they

[2016-08-23 10:59] mimi89999 commented on #37
Hmm... Wire looks centralized and that isn't good for metadata privacy.

Better would be to get voice and video calls in Conversations.

[2016-08-23 11:09] xmikos commented on #37
@mimi89999 Yes, Wire is centralized in same way as Signal. But Signal has opensource server (at least for messages), Wire's server is proprietary (to my knowledge). On the other hand, Wire client is _much_ more advanced and Wire company is not based in USA (and seems to have much more open policy toward independent builds of their app).

Of course Conversations or future OMEMO-based version of Cha

[2016-08-23 14:38] paride commented on #37
Would https://github.com/microg/android_external_GmsLib allow for GCM-dependent apps to be compiled without non-free dependencies, and thus included in f-droid?

(I know this solves just the licensing issue, not the privacy issue of sharing data with Google. Still, for services that are already centralized, like Signal or Wire, it could be an acceptable solution.)

Edit: I've got the answer on IRC

[2016-08-24 10:26] ghost commented on #37
I've seen some comparison links here, another comparison you can find at http://secushare.org/comparison

[2016-08-26 09:51] zarere commented on #37
Wire doesn't work with microG
https://github.com/wireapp/wire-android/issues/10

[2016-08-26 10:00] zarere commented on #37
This also looks promising
http://www.apkmirror.com/apk/wickr-inc/wickr/wickr-2-6-4-1-release/wickr-2-6-4-1-android-apk-download/#description

I saw it in 6-th episode of Mr.Robot :-)

[2016-08-26 10:04] paride commented on #37
@zarere it's not free software (not even open source), and its security design is not documented.

[2016-08-26 11:11] zarere commented on #37
@legovini
True but at least tested here
https://www.eff.org/node/82654
even this guide is outdated already.I'm looking for the new scoreboard  here
https://www.eff.org/secure-messaging-scorecard
but still no updates ;-(

[2016-09-11 20:11] anarcat commented on #28
i tried to make a table in the FAQ to clarify this, because i was still confused: https://github.com/LibreSignal/LibreSignal/wiki/FAQ#what-is-libresignal-in-the-eutopia-repository

[2016-09-11 20:40] mimi89999 commented on #28
@anarcat Thank you.

[2016-09-18 14:39] shellshocker commented on #37
Why you should NOT use Wire:
1. https://www.kuketz-blog.de/wire-messenger-und-taeglich-gruesst-das-murmeltier/
2. https://www.kuketz-blog.de/wire-messenger-hintergrundinformationen/

[2016-09-18 14:52] strobelm commented on #37
Perhaps one should mention some bullet points to our non-German speaking
fellows:
- it's yet another walled garden as the server part is not open source
- their business model is unclear
- they give the impression to operate under Swiss law but this is
  unconfirmed, probably it's rather US law
- there is indication that a Skype founder has his finger in the pie

Am 18.09.2016 um 16:39 schrieb she

[2016-09-18 15:48] xmikos commented on #37
@shellshocker Yes, Wire is walled garden (like Signal), but it is also better than Signal in many other ways:
- it works without Google Play
- it doesn't need your phone number (it works also with email based registration)
- it is much more feature-full (video calls, etc.)
- and most important is that they are much more friendly towards FOSS community than Open Whisper Systems (see e.g. this examp

[2016-09-18 16:21] strobelm commented on #37
Am 18.09.2016 um 17:48 schrieb Michal Krenek (Mikos):

That's unfortunately not true
https://twitter.com/wire/status/765561001454530560

##

Michael Strobel, M.Sc.

Technische Universität München -- Zentrum Mathematik
Lehrstuhl für Geometrie und Visualisierung (M10)
Boltzmannstr. 3, 85747 Garching bei München
https://www-m10.ma.tum.de/bin/view/Lehrstuhl/MichaelStrobel

[2016-09-18 16:36] xmikos commented on #37
@strobelm According to [this](https://github.com/wireapp/wire-android/issues/17#issuecomment-237814434), it really works without Google Play services. Maybe notifications (push) will not work for now? I am still using LibreSignal (and have Wire only on device that has Google Play installed) but I am in process of switching to it.

@hakonbo Can you please tell us more about how well Wire works with

[2016-09-18 16:46] xmikos commented on #37
@strobelm Also look at this:
https://twitter.com/wire/status/775616447976529920

[2016-09-18 16:48] xmikos commented on #37
@strobelm And this:
https://twitter.com/wire/status/776463685443133440

So it indeed looks like Wire does now fully work without Google Play services, even notifications (via WebSocket).

[2016-09-18 16:54] strobelm commented on #37
Thanks for the update! Perhaps one could use Wire's websocket code for
Signal.

Am 18.09.2016 um 18:48 schrieb Michal Krenek (Mikos):

##

Michael Strobel, M.Sc.

Technische Universität München -- Zentrum Mathematik
Lehrstuhl für Geometrie und Visualisierung (M10)
Boltzmannstr. 3, 85747 Garching bei München
https://www-m10.ma.tum.de/bin/view/Lehrstuhl/MichaelStrobel

[2016-09-20 17:59] bootofood commented on #37
Is anybody working on a wire fork that fits into the f-droid guidelines?
I think that f-droid inclusion is very important to get momentum in the FLOSS community.
@xmikos experience with Signal could be very useful here...

[2016-10-10 18:57] petterreinholdtsen commented on #37
Look like running the Signal servers have its downsides, if we are to believe this report from The Intercept, https://theintercept.com/2016/10/10/subpoena-to-encrypted-app-provider-highlights-overbroad-fbi-requests-for-information/ .

[2016-10-10 19:14] xmikos commented on #37
@petterreinholdtsen Not everyone lives in the US ;-)

[2016-10-18 16:06] nomeata opened #44 "Messages sent on Desktop not shown in App"
- [✓] searched open and closed issues for duplicates
- [✓] read https://github.com/WhisperSystems/Signal-Android/wiki/Submitting-useful-bug-reports
### Bug description

Messages that I send on Signal Desktop are not shown on the LibreSignal client.
### Steps to reproduce
- Connect Signal Desktop to my LibreSignal client
- Chat via Desktop

**Actual result:** On the phone app, I only see the other

[2016-10-22 15:44] bonanza123 commented on #43
As there doesn't seem to be much progress with this, we maybe should think about hiring a professional developer. We could try to crowd-source the money, but I guess an issue that we need an estimate of the approx. costs for this. What do you think? Do you have other ideas how to motivate devs to help out here?

[2016-10-22 15:59] vanitasvitae commented on #43
I don't think that'll work out. Most Libresignal devs have abandoned the project and switched to other ones. I can fully understand that there is no more motivation to contribute to Signal.

[2016-10-22 16:02] bonanza123 commented on #43
I didn't mean hiring existing project members, but external that we just hire for this PR. If this websocket problem is solved, the current project members may be more interested again this project.

[2016-10-22 16:06] vanitasvitae commented on #43
Of course you can try it, but I doubt that there will be much support. There are a lot of other nice projects that have a much more open attitude towards forks...

[2016-10-22 16:13] bonanza123 commented on #43
If already you are so sceptically ... ;-) But what those (real) alternatives to Signal?

[2016-10-22 16:18] vanitasvitae commented on #43
To be clear, in no way I want to keep you from doing anything :) I'd really appreciate Signal supporting websockets natively. That would solve many issues and if you think you want to do something to achieve that goal, go ahead, I wish you all luck :)

Personally I have switched over to use conversations + OMEMO. Together with Gajim + Gajim-omemo that enables chatting on Linux + Android. The next

[2016-10-22 21:41] mimi89999 commented on #43
@bonaza123 Please try Conversations and Gajim with an XMPP server, that supports all Conversations XEPs. They are really great!

I could try to work on that PR, but I doubt it makes much sense...

[2016-10-22 21:55] mimi89999 commented on #43
The only thing that needs to be added is checking for the presence of GMS core (~GCM client) and if it isn't found, Signal should fail to WebSocket (which is implemented in LibreSignal thanks to @JavaJens)

[2016-10-23 20:54] paride commented on #43
What would make sense, in my opinion, is:
- Implementing the WebSocket fallback mechanism;
- Removing the telephony code (RedPhone), as the server is non-free;
- Adding a configuration field where the user can specify the server to use;
- Compiling it with microg gmscore (or removing the GCM stuff altogether).

This would be a generic, "unbranded" client for the Signal server, working with or with

[2016-10-23 21:04] mimi89999 commented on #43
1. Did I say the TLS cert is embeded in the app?
2. Moxie won't like the fact that some users using unofficial clients can use their servers.
3. No federation. It will be very hard for unofficial servers to federate among them self and the official server won't federate. Without federation it doesn't make much sense since people, that you potentially want to contact other than your closest friends

[2016-10-23 21:11] paride commented on #43
I didn't know about the TLS cert, and I agree in that federation would be difficult, and impossible with the official server.

It's true that xmpp+omemo works well, but it's also a pity that a really good piece of libre software is "wasted" like this. Another point is that xmpp doesn't allow to register with the phone number and no password, which is what the average user expects nowadays.

[2016-10-24 00:56] moxie0 commented on #43
You can embed your own trust root into the app, or include a CA trust store instead and use CA certs.

Both the Signal app and the Signal server already support federation, so it should be pretty simple for you to do.

Just because I don't believe this is a viable or desirable strategy doesn't mean that others shouldn't try.  I'd love it if someone proved me wrong, let me know if you need help set

[2016-10-27 20:02] Heimdal300 commented on #43
It would be really nice to have the offical Signal app to support websocket before the last LibreSignal-websocket version runs out. I think apps like conversations or kontalk are not as widespread and advanced as signal. If some starts a crowdfunding I will definitively support it. Please get through it and make the Signal app ready for websocket.

[2016-10-27 20:36] vanitasvitae commented on #43
@Heimdal300 you can already go ahead and support the bounty source on this issue ;)

[2016-10-28 07:40] Heimdal300 commented on #43
@vanitasvitae Done. Thank you for this hint! For others here is the link: https://www.bountysource.com/issues/35722527-create-proper-pull-request-to-add-libresignal-s-websocket-support-to-ows-signal

[2016-10-28 14:38] paride commented on #43
If this ever reaches upstream I'll consider setting up an independent Signal server to be used with a rebranded Signal client. The service would allow 3rd party clients and would be fairly open to federation.

What worries me mostly is the cost of the registration SMS messages from Twilio.
This cost needs to be somehow estimated and donations asked accordingly.

While I think I can manage the serv

[2016-11-01 08:39] 1dud3 commented on #42
My version is going to be expired in a couple of days. Any chance for an update? Thank you so far.

[2016-11-01 08:51] tuxayo commented on #42
We shouldn't even have had the last update, I think it's really the end now.
Alternatives that I know are
- switch to Conversations https://conversations.im/
- switch to Signal from this independent repo https://fdroid.eutopia.cz/
  - use MicroG if you don't have/want Google Play services installed (I recall ready that the GCM part works well)
  - see the [FAQ](https://github.com/LibreSignal/Libre

[2016-11-01 19:51] 1dud3 commented on #42
I am familiar with these options, but cannot switch to Conversations/XMPP yet without OMEO support for iOS.

Btw does MicroG use Google infrastructure/server to reproduce GCM?

[2016-11-01 20:05] herbsmn commented on #42
OMEMO support for iOS isn't even in Beta yet. Looks like Beta might drop next week. https://github.com/ChatSecure/ChatSecure-iOS/issues/376#issuecomment-257625846 This obviously is taking longer than people thought that it would, but my vote is to update LibreSignal one more time so that we can all have a smooth transition to Conversations and Chatsecure. This would prevent people from having to u

[2016-11-01 20:06] herbsmn commented on #42
what do you say @mimi89999? One more time?

[2016-11-01 20:11] xmikos commented on #42
@1dud3 Yes, microG uses Google infrastructure, it is just independent third-party client to it. But I don't see this like a big problem, Signal servers are IMHO much more likely to be attacked by nation state than Google servers (there is not much metadata in GCM push messages).

Problem is with Google Play Services (which is big  fat backdoor to your phone) and microG fixes this.

[2016-11-01 20:16] xmikos commented on #42
@1dud3 If you are OK with centralized service like Signal, you can use [Wire](https://wire.com) instead. It also uses Signal protocol (their own implementation of Axolotl double ratchet) and is open source, but they are much more friendly towards FOSS community than Moxie. And it doesn't need GCM.

[2016-11-02 14:01] mimi89999 commented on #42
When will the current version of LS expire?

[2016-11-02 14:25] 1dud3 commented on #42
In three days.

[2016-11-02 14:38] mimi89999 commented on #42
Maybe I will update LS Friday so Saturday if I will have time...

[2016-11-02 14:49] paride commented on #42
Hey @mimi89999, will you consider trying to send the patch upstream?

[2016-11-02 14:58] mimi89999 commented on #42
I will just update LS. I won't implement websocket in Signal. At least not in the next days or weeks...

[2016-11-02 14:59] mimi89999 commented on #42
And if I update LS, it will really be the last update.

[2016-11-02 17:17] nidico commented on #42
This would be very appreciated, thanks!

[2016-11-02 18:40] mimi89999 commented on #42
I pulled from upstream, but I still need to check several things... Please, don't use it yet...

[2016-11-02 18:45] mimi89999 commented on #42
@xmikos Hmm... They added giphy. What do you think about that?

[2016-11-02 19:56] mimi89999 commented on #42
I am testing it right now...

[2016-11-02 21:22] no1984 commented on #42
I'm using LibreSignal, and until today I didn't know that LibreSignal is abandoned. My version will expire in four days.
It would be great if there would be one last update! That would give me some more time to look for a new messaging solution, save my data, inform my contacts and so on.
Thank you very much for your work!

[2016-11-02 21:46] mimi89999 commented on #42
@no1984 The repo is already updated. I only need to test LS (help would be appreciated). Also waiting for an opinion about Giphy in LS and after that, I can ask @xmikos to update his F-Droid repo.

[2016-11-02 22:32] xmikos commented on #42
@mimi89999 I have looked at the code and it seems good. They are even providing secure TLS proxy for Giphy lookups.

There is also blogpost by Moxie explaining it: [Signal and GIPHY](https://whispersystems.org/blog/giphy-experiment/)

Of course it can still be potentially abused for correlation of requests, but user don't have to use it, so it is IMHO okay (btw. Wire also integrates with Giphy).

[2016-11-03 02:49] th3m commented on #37
"Your version of LibreSignal is outdated and will expire in 4 days"

using the 3.16.1-websocket version, i guess R.I.P. :(

[2016-11-03 07:21] mimi89999 commented on #42
@xmikos OK, so you can update the Eutopia experimental repo.

[2016-11-03 14:51] Asara commented on #37
Seems like it has been updated again.  Thanks for that.

The only reason I am stuck using LibreSignal right now is because there is no good alternative for iOS (for my friends who have iPhones).  XMPP + OMEMO is great, and once https://github.com/ChatSecure/ChatSecure-iOS/issues/376 is resolved, we will have a better solution.

[2016-11-03 20:33] no1984 commented on #42
@mimi89999 Thanks a lot!

[2016-11-04 11:18] strobelm commented on #37
golem.de has a report (in German) on Signal/LibreSignal and discusses
alternatives (like Wire and Conversations):

http://www.golem.de/news/verschluesselung-signal-verschluesselung-ohne-googles-play-dienste-nutzen-1611-124246.html

[2016-11-04 11:34] petterreinholdtsen commented on #37
[Michael Strobel]

Which reminds me, are anyone working on making a Signal fork that can
talk to several servers?  For example one controlled by Signal and
others controlled by other people?  This way it would be possible to use
this client to talk to clients in different walled gardens?

It would make the client less depending on the good will of the Signal
developers.

##

Happy hacking
Petter R

[2016-11-04 15:36] xion00 commented on #37
I can't understand that a perfect project like that can't find more supporters. It's only some steps away from a perfect communication tool. I want to  start a Crowd Funding and hope you support that. The integration into the SMS App without Gapps dependency it's the only way to blaze out other Messengers. Advanced Settings for advanced users would be fine so they can share there keys without uplo

[2016-11-05 12:44] ghost commented on #43
Link to discussion on the OWS community forum: https://whispersystems.discoursehosting.net/t/websocket-version-without-gcm-everyone-happy/

[2016-11-05 15:24] mimi89999 commented on #42
Closing that issue since I updated LS.

[2016-11-05 15:24] #42 closed, assigned to nobody

[2016-11-05 15:27] mimi89999 commented on #44
Please try with the latest version of LS.

[2016-11-05 15:37] mimi89999 commented on #41
You installed LS from Eutopia experimental repo, right?

[2016-11-05 15:41] nidico commented on #42
Thanks for the update!

[2016-11-05 15:43] mimi89999 commented on #43
@moxie0

RedPhone server source or doc would help designing GCM-less signaling.

[2016-11-14 12:51] nomeata commented on #44
Now on version 3.21.3, as provided on the Jolla store. No change in behavior.

[2016-11-14 22:16] mimi89999 commented on #44
Hmm... I am neither using LibreSignal nor Chrome, so I can't really help because the log is not quite verbose...

[2016-11-18 05:11] nomeata commented on #44
Some more debugging shows that whenever this happens, the person I am corresponding with, when using Desktop, cannot send messages at all. Our hypothesis is that LibreSignal does not upload enough prekeys or something else is wrong with the prekeys.

[2016-11-18 05:12] nomeata opened #46 "Create a full backup"
With LibreSignal discontinued, I am worried about losing my data (text and media), e.g. when removing the app and installing Signal proper.

How do I get my data out?

[2016-11-22 07:29] mimi89999 commented on #46
That depends how you installed it. If from eutopia repo, you need to use Oandbackup, uninstall LibreSignal, install Signal and restore from Oandbackup.

[2016-11-22 07:32] mimi89999 commented on #46
If from LS from the F-Droid archive repo, do what was explained in #22 just replace LS for Signal and vice-versa.

[2016-11-22 07:35] #39 closed, assigned to mimi89999

[2016-11-22 07:45] mimi89999 opened #47 "Add FAQ what to do when LS stops working (because of the version check)"

[2016-11-22 15:47] nomeata commented on #46
Thanks for the clarification!

[2016-11-22 15:59] mimi89999 commented on #47
https://github.com/LibreSignal/LibreSignal/wiki/What-to-do-after-LibreSignal-was-abandoned%3F

[2016-11-22 16:00] mimi89999 commented on #46
https://github.com/LibreSignal/LibreSignal/wiki/What-to-do-after-LibreSignal-was-abandoned%3F

[2016-11-22 16:05] mimi89999 commented on #47
I still need to finish it...

[2016-11-22 21:37] nomeata commented on #46
Is it normal that I have to re-register after this procedure, or did I do something wrong?

[2016-11-23 14:35] mimi89999 commented on #46
@nomeata No. How did you install LibreSignal?

[2016-11-23 14:55] nomeata commented on #46
I got LibreSignal via f-droid (`org.thoughtcrime.securesms`). And after removing it, installing Signal, and recovering `/data/data/org.thoughtcrime.securesms/` from a file-based backup I had (because `oandbackup` did not restore the data backup it made; probably some incompatibility with Android on Jolla), I saw all previous messages and photos, but Signal insisted that I re-register.

Also, the S

[2016-11-23 19:19] mimi89999 commented on #46
@nomeata Probably the `/data/data/org.thoughtcrime.securesms/` has wrong permissions and/or owner.

[2016-11-23 19:33] nomeata commented on #46
I doubt it. I hit this problem (wrong owner) later, and Signal would not even start. But I just re-registered now (see http://www.joachim-breitner.de/blog/713-microG_on_Jolla for details) and things are fine for me.

[2016-11-23 21:28] mimi89999 commented on #46
Does the Signal Chromium extension work for you with MicroG?

[2016-11-23 22:54] nomeata commented on #46
You mean on the phone? I don’t use chrome on the phone, but Signal Desktop (the Chrome App) works on my laptop, even with Signal and microG on the phone.

[2016-11-24 07:41] mimi89999 commented on #46
I was thinking about #44

[2016-11-24 23:00] nomeata commented on #44
JFTR, With microG and vanilla Signal I do not have this problem.

[2016-11-27 14:34] ale5000-git commented on #43
Just a question, instead of infinite discussions wouldn't be better to just create a pull request to add WebSocket to main Signal and discuss everything else just after the code is merged?

This discussion just seems too much theoretical.

[2016-11-27 17:08] mimi89999 commented on #43
@ale5000-git There was already https://github.com/WhisperSystems/Signal-Android/issues/1000 ...

[2016-11-27 18:46] ale5000-git commented on #43
But it is an issue, not a pull request.

[2016-11-28 10:06] vanitasvitae commented on #43
https://github.com/WhisperSystems/Signal-Android/pull/1960

[2016-12-04 10:42] agilob opened #48 "NPE when trying to start a cal"
[code]

### Steps to reproduce
- sometimes (1/3) when I try to make a call it fails with NPE

### Device info

**Device:** LG
**Android version:** 4.1.2
**Signal version:** 3.21.3-websocket

[2016-12-04 10:54] mimi89999 commented on #48
#10

[2016-12-04 19:01] mimi89999 commented on #48
@agilob

In the other cases does it fail without NPE or actually work (I would be surprised if it does work).

[2016-12-04 20:12] agilob commented on #48
In other cases I get error message "login failed".

[2016-12-04 20:19] mimi89999 commented on #48
The thing to do would be to remove the dialer icon because we can't get voice calls to work... Anyway, I abandoned LS. You should consider switching to Conversations or Ring.

[2016-12-05 12:52] agilob commented on #48
Sorry to hear that.

On daily basis, I use Riot.im, there are other fundamental problems with Conversations and Ring and how they work.

[2016-12-05 12:52] #48 closed, assigned to nobody

[2016-12-05 18:14] mimi89999 commented on #48
@agilob

What are the problems with Conversations?

[2016-12-05 20:14] agilob commented on #48
XMPP, problems syncing messages between devices... key exchange between clients...

[2016-12-06 13:49] mimi89999 commented on #48
@agilob
MAM helps for the first one. As for the second one, you need to use OMEMO encryption.

[2016-12-17 04:57] eightbitkid commented on #43
My attempts at a solution to this issue can be found on both [the Android application][1], and [the supporting library][2].

   [1]: https://github.com/WhisperSystems/Signal-Android/pull/5962
   [2]: https://github.com/WhisperSystems/libsignal-service-java/pull/28

[2016-12-17 13:15] mimi89999 commented on #43
@moxie0 @eightbitkid Just reminding, that I am blocked in the Signal repo, so can't do anything on that...

[2016-12-17 19:48] vanitasvitae commented on #43
@mimi89999 Why that?
@eightbitkid Great work!

[2016-12-18 21:00] eightbitkid commented on #43
@vanitasvitae: Thanks!

If anyone has any ideas on how to support voice calls I'd love to hear them. I don't quite see how you receive calls without notifications.

[2016-12-18 21:33] mimi89999 commented on #43
@eightbitkid @moxie0
I see 3 possibilities:

1. The RedPhone (voice) server implements WebSockets and we register on that server using WebSockets. Of course, then we will have to keep two connections (one to Signal and one to RedPhone). That will ~doubble LibreSignal's/Signal WebSocket battery usage.

2. We do signaling over Signal. That requires even bigger changes to the server.

3. We take the

[2016-12-18 21:45] anarcat commented on #43
On 2016-12-18 16:33:42, Michel Le Bihan wrote:

that seems like too big of an overhead.

i would assume this would be the proper way.

both of those require access to the RedPhone server source code, which
is not currently public, AFAIK.

that is already possible right now - no need to patch signal.

[2016-12-18 22:00] mimi89999 commented on #43
I agree. We should avoid that option.

The preferred, but I don't know if OWS will want to do that...

Right now you need signature spoofing for it to work. Only (very) advanced users know how to do this....

In my suggestion, the code would be directly in Signal, so no need for microg apps and signature spoofing.

[2016-12-18 22:17] relyt29 commented on #43
I support option 1. I have not seen signal having any particularly bad or aggressive battery usage, and I have been using it for months. Opening two connections instead of one is not such a terrible overhead.

Option 2 is not realistic.

Option 3 is bad. Grabbing MicroG code and embedding it in Signal may allow someone to run free software, but it has the effect of causing the phone to poll google

[2016-12-19 04:11] eightbitkid commented on #43
@mimi89999: Do you have any actual examples of where this might happen in the codebase? Closest I could find was something like [NetworkConnector.java] but the whole API is written to be a 'open, have a conversation of `Signal`s, then close`. Nothing I can find indicates you can leave a connection open.

I stress I don't want to get into some weird hypothetical solutions. I'm just wondering if any

[2016-12-19 09:36] mimi89999 commented on #43
@eightbitkid As for Doze, I doubt, that Google will have a problem with Signal escaping it since it is only when Play Services are not available.

[2016-12-20 14:43] th3m commented on #37
Is anybody still using the abandoned websocket version of Libresignal? I still have it, but i feel it is a security risk to keep an app that is abandoned. What do you think?

Moved on Wire by the way and loving it.

[2016-12-20 15:07] z4lem commented on #37
Yes, I'm still using it. There was an update a few weeks ago. I will use it, as long as it's possible..

[2016-12-20 16:30] mimi89999 commented on #37
@th3m To this day, there isn't any vulnerability (that I know), that would be patched in upstream Signal and not LS.

@z4lem https://github.com/LibreSignal/LibreSignal/wiki/What-to-do-after-LibreSignal-was-abandoned%3F think about changing before your version expires...

[2016-12-20 16:41] z4lem commented on #37
@mimi89999 yeah, I did and it works amazing . Of course, the battery consumption is not the best but i accept it :)
If LibreSignal isn't  working one day, I'll have to stop using  Signal :/

[2016-12-21 19:59] eightbitkid commented on #43
@mimi89999: Siding-stepping battery optimisation is already implemented and no long a concern of mine.

I have asked Moxie if he would accept a patch without voice calling because it appears the source for RedPhone's server is closed. If he doesn't accept then I will be closing the pull request and giving up; it is not possible to work on just the client and hypothetical arguments achieve nothing.

[2016-12-22 09:13] mimi89999 commented on #43
@eightbitkid Could you ping @moxie0 under that issue to unblock me, please?

[2016-12-24 08:04] thestinger commented on #43
@eightbitkid We'll happily host a default-enabled F-Droid repository with this for CopperheadOS whether or not it's accepted, but we need a straightforward way to build and host it. It also needs to be rebranded from Signal to something without Signal in the name. It would be nice if the server was made configurable at runtime too but that's not a requirement for starting out. I would want to keep

[2016-12-24 13:00] paride commented on #43
@thestinger you're surely aware of the fact that moxie opposes third party clients using their servers...

[2016-12-24 13:06] thestinger commented on #43
I won't be using their servers, just hosting a modified build of a GPL3 project with their trademark stripped from it. I don't see any legal issues with that. Support for runtime server configuration would be nice, but they choose not to provide that upstream and only supporting their hard-wired server is not a blocker for this to be useful.

[2016-12-24 13:25] thestinger commented on #43
Some reading material: https://nplusonemag.com/issue-19/essays/chat-wars/. I'd suggest server-side SafetyNet checks as a technical mechanism to forbid non-stock Android if that's the intent. SafetyNet isn't very good yet, but Google will probably end up turning it into full blown remote attestation over time. Easiest to piggyback on their DRM vs. making it from scratch.

[2016-12-24 14:11] thestinger commented on #43
Alright, just need to generate an F-Droid repository.

[2016-12-24 15:53] mimi89999 commented on #43
@thestinger Maybe XMPP with OMEMO would be better...

[2016-12-24 15:54] thestinger commented on #43
CopperheadOS will continue recommending Conversations. It needs an option that's compatible with Signal though.

[2016-12-24 15:57] thestinger commented on #43
Reality: people have many contacts with Signal, they have trouble moving them to Conversations. It's by far the number one complaint we get. Nothing else compares. It's the main reason for people wanting Play Services or microG, which isn't happening. So this is a requirement.

The usage guide can be extended to offer this as a fallback option, with caveats explained (drawbacks of being tied to a

[2016-12-24 15:58] mimi89999 commented on #43
@thestinger Then I could continue updating LS and rebrand it, if you need that...

[2016-12-24 16:00] thestinger commented on #43
I really don't mind maintaining it. I already have it built and in an F-Droid repository. Needed the F-Droid repository anyway, so this works well as a test case. Just need proper production metadata generated for the repository and rebranding.

[2016-12-24 16:00] thestinger commented on #43
Also I'd like to keep the changes rebased since it's not really going to be a separate project but rather just maintenance of patches that should land in Signal. I am assuming that they are going to land in Signal, but I'm tired of waiting, so this will be the solution until then.

[2016-12-24 16:04] h-2 commented on #43
@thestinger I expect more f-droid users will be interested in this. It appears moxie has had some change of heart/mind at least or he wouldn't be considering accepting the PR.  So maybe we shouldn't rush the entire thing right now, and just wait a little?
Since official f-droid now accepts upstream signatures if the builds are reproducible, moxies' main concern about f-droid has been addressed. Bu

[2016-12-24 16:08] thestinger commented on #43
He said it's not merging the patches as is, so I'm moving forward. I'm not going to assume that he'll be okay with it being redistributed. My assumption is that neither is going to happen. We have to hear about this every day and we need a solution to the problem by the end of the day. I am perfectly fine with it turning into a massive drama. Maintaining it + dealing with drama is a hell of a lot

[2016-12-24 16:18] h-2 commented on #43
moxie:

moxie:

WebRTC supports seems to be replacing all of redphone so this would make the PR valid. I have often disagreed with Moxie positions in the past, but I think we are closer to a real solution now than we ever were. Starting extra repositories and discussions *now*, might jeopardize this. I understand you are frustrated, but why don't you just use the last LibreSignal build from xmikos

[2016-12-24 16:21] thestinger commented on #43
I need something that can be available by default in CopperheadOS. It needs to be our repository or the default F-Droid repository, and it might as well be our build instead of one from someone else if it's our repository. Even if the changes land, they still need to be shipped in a build that's available in an F-Droid search on CopperheadOS by default. I fully expect that the changes will land wi

[2016-12-24 16:25] thestinger commented on #43
I don't use Signal. I need this because I need to get fewer emails about it. If Open Whisper Systems wants to hire a secretary for me, I'll start caring about their feelings about it.

[2016-12-24 16:28] mimi89999 commented on #43
@thestinger Let's wait for the WebRTC branch and see... I suspect, that it will be done within January.

@thestinger I don't want a situation where there will be 3 Signal + WebSocket forks...

@h-2

Signal still contains the Google GMS application library. That is unacceptable in/for F-Droid. In LibreSignal that was removed (including location support).

[2016-12-24 16:30] thestinger commented on #43
Also consider that the main reason https://github.com/mikeperry-tor/mission-improbable includes Google Play is for Signal. It's useful beyond that, but I don't know if @mikeperry-tor would be enabling it by default if it wasn't needed.

CopperheadOS has a fork of dozens of AOSP repositories, F-Droid, F-Droid privileged extension, etc. so for us this is barely a blip on the radar and will greatly r

[2016-12-24 16:33] thestinger commented on #43
Also, we needed a default-enabled Copperhead F-Droid repository for other reasons. This is a nice way to finally get it implemented and tested. If the changes land, we'll still need to ship an unbranded build like this. If Signal is shipped in F-Droid, we'll still need the repository just not for Signal anymore.

[2016-12-24 23:05] moxie0 commented on #43
@thestinger The reason that we have the preferences that we do around people not using the Signal service for their own clients is because of *our* workload and what we're capable of managing with two developers. It sounds like you're stressed out, overworked, and generally coming to terms with what it means to develop and support a software product over a moderate period of time. I hope you can a

[2016-12-25 00:27] thestinger commented on #43
I understand why you didn't implement it and that it's a problem to get support requests for something that doesn't always provide timely message delivery or that drains power (not that GCM is perfectly reliable, since it effectively does the same thing, just across apps). I don't understand / agree with a lot of things, but for those issues I do.

Understanding that doesn't mean I'm not going to

[2016-12-25 15:04] ale5000-git commented on #43
@thestinger: +1000 :)

I think doing it now is the best way, changes can be ported back to Signal later.

But postponing indefinitely like it has been done just cause loss of interest.

[2016-12-26 04:15] eightbitkid commented on #43
Well, this exploded like I wasn't expecting. My bad for not keeping
up to date; figured everyone would be having Christmas off!

For what it's worth, I don't actually like GitHub. I'm only on
here because I wanted to supply these patches to Signal. If
someone needs to contact me for some reason I'm happy to
chat via e-mail (mine is littered around here already) or
I'm on [Ricochet](https://ricoche

[2016-12-26 08:47] mimi89999 commented on #43
@eightbitkid

There is a bounty on the LS issue about making the PR upstream :smile:

Thank you for making the PR.

[2016-12-26 16:53] moxie0 commented on #43
@thestinger If you want to run your own service for your own product, go for it.  I think it would be less work for you to help make Signal what you want it to be, but that's up to you.

[2016-12-26 17:53] GildedHonour commented on #43
what's the state of this project? what about bounty for this task?

[2016-12-26 18:51] vanitasvitae commented on #43
@GildedHonour: See the very first comment :) the bounty is at 1000$ at the moment.

[2016-12-27 03:15] GildedHonour commented on #43
@vanitasvitae but isn't this project abandoned?

[2016-12-28 09:25] thestinger commented on #43
@eightbitkid It's okay, I ended up figuring it out. I would like a cleaner solution than the hack I used for a local library build but it's unimportant, gradle is a PITA. It makes the Android build system look painless... I just need to change the icon (to avoid confusion, regardless of the icon license) and then there needs to be a dead simple UX on first launch prompting for the server / fingerp

[2016-12-28 09:36] thestinger commented on #43
I'd have been willing to help with getting the change landed but it doesn't look like there's much for me to do now. I was planning on getting around to extracting the LibreSignal changes and cleaning them up to keep them as a rebased changeset for someone to use as a starting point but @eightbitkid already submitted a clean set of patches.

All I can really do beyond that is add the F-Droid privi

[2016-12-28 09:43] GildedHonour commented on #43
what's the status of the bounty? isn't this project abandoned?

[2016-12-28 09:48] vanitasvitae commented on #43
@GildetHonour THIS project is sort of abandoned (meaning there is no more LibreSignal). But that's not the goal of this issue/the bounty. Have you followed the discussion?

[2016-12-28 11:10] GildedHonour commented on #43
No. Is bounty available, can I work on it?

[2016-12-28 18:18] ale5000-git commented on #43
The bounty is currently $1000.
It is [here](https://www.bountysource.com/issues/35722527-create-proper-pull-request-to-add-libresignal-s-websocket-support-to-ows-signal).

[2016-12-28 21:38] comzeradd commented on #47
Maybe you should add a link to [Noise](https://github.com/copperhead/Noise).

[2016-12-28 21:43] mimi89999 commented on #47
https://copperhead.co/android/docs/usage_guide

[2016-12-28 21:44] mimi89999 commented on #47
Now that repo would contain only Noise.

[2016-12-29 09:39] GildedHonour commented on #43
but it was $1800, wasn't it? who stole $800 out of it? :))))

[2016-12-29 12:57] vanitasvitae commented on #43
@GildetHonour afaik it never was at 1800$

[2017-01-01 19:02] d10r commented on #37
I've landed here because of my astonishment of not finding the Signal App in F-Droid.
As was already mentioned, p2p may be the best solution if the downsides can be limited.
I suggest you to take a look at [Status.im](https://status.im/) which in my opinion has the potential to pave the way for decentralized Apps on mobile.
The built-in messaging component is based on [Whisper](https://gist.github

[2017-01-09 01:56] herbsmn commented on #43
For reference, here's the repo for Noise https://github.com/copperhead/Noise

[2017-01-10 23:18] ChadSki commented on #37
FYI, "Noise", a fork of Signal without the hard dependency on GCM is available in the Copperhead F-Droid repository. [See here](https://copperhead.co/android/docs/usage_guide#messaging). To my knowledge they are working on getting the WebSocket changes upstreamed.

[2017-01-11 10:01] schiessle commented on #37
Yes, there is already a pull request: https://github.com/WhisperSystems/Signal-Android/pull/5962

[2017-01-13 14:20] JustAskin commented on #37
Noise "lacks support for voice calls and isn’t optimized for low impact on battery life like Conversations". Might as well use Zom or any XMPP client.

I think Signal developers should prioritize enabling it on F-droid as quite a chunk of their potential user base is privacy nazis and tinfoil hatters (proudly including myself) who'd never let Google's playstore touch their device.

There's also no

[2017-01-22 01:31] herbsmn commented on #43
This issue now has a clock on it. There are only 9 days left before LibreSignal stops working. Are LibreSignal users going to be left out in the cold or is someone going to claim the $1055 bounty? Will moxie accept the pull request in time to get APKs published to make the transition seemless? Shiz is getting real. What is the current status of all of this? Anyone know? Will LibreSignal make a las

[2017-01-22 01:33] thestinger commented on #43
It's not going to be accepted before support for WebRTC-based voice calls is implemented and then there will be a need to adapt it to work with that. It's not going to happen in 9 days.

[2017-01-22 01:36] herbsmn commented on #43
has it already been submitted?

[2017-01-22 01:36] thestinger commented on #43
https://github.com/WhisperSystems/Signal-Android/pull/6081 is the current state of things. I have a change set where it doesn't split isPushRegistered but rather relies on checking in 2 places where isRegistered was used for Play Services. It's problematic right now though because the Play client libraries decide to report a noisy error.

[2017-01-22 01:36] thestinger commented on #43
@herbsmn Yes, and it's not going to be accepted right now. It is indefinitely blocked until WebRTC support lands. There is no timeline for that. The only thing that can be done is preparing it as much as possible for after WebRTC support lands.

[2017-01-22 01:37] herbsmn commented on #43
would you be willing to make a LibreSignal fork for the LibreSignal Diaspora to use while we wait?

[2017-01-22 01:39] thestinger commented on #43
I'm willing to maintain a set of changes to submit upstream into Signal. The set of changes in https://github.com/copperhead/Noise/commits/tmp before the Noise commits is the work-in-progress. It just needs to avoid triggering that internal Play Services client library notification/exception. I'm not sure why the method to check if Play Services is available throws an exception when it's not in so

[2017-01-22 01:44] herbsmn commented on #43
I use @xmikos' experiemental F-Droid repo. I'm not seeing Noise in regular F-Droid. Does it only show up in Copperhead's version of F-Droid or does Copperhead have an F-Droid repo that I can add in order to get it? I don't use Google or the Play Store.

[2017-01-22 01:46] thestinger commented on #43
It's straightforward to build just clone https://github.com/copperhead/libsignal-service-java within the Noise directory and build from one of the branches named after Signal tags. It will be simpler once the library change is merged and then the commit to make it build with a local library can go away.

[2017-01-22 01:50] thestinger commented on #43
The other issue was just that it needs to only check for Play being missing, not simply out-of-date, etc. which can be recovered from by the user. That's done in that tmp branch but I haven't made the same adjustment for the release branches yet. I guess I can move that over to the releases before the issue of the Play client libraries being annoying outside of the activities is worked around.

[2017-01-22 01:54] herbsmn commented on #43
Any chance you'd be willing to make a personal F-Droid repo like @xmikos did with LibreSignal+Noise so people can get the app via F-Droid? I'm assuming a number of people are going to want to download it in the very near future. I'd personally be willing to send a Bitcoin donation to anyone that is willing to do this.

[2017-01-22 02:00] herbsmn opened #49 "LibreSignal will die in 9 days unless it is updated."
Is this the end of this project? Anyone want to get the band back together for one last show?

[2017-01-22 02:21] thestinger commented on #43
I'm not interested in developing, promoting and distributing a portable app. Noise is not intended to be a LibreSignal replacement. It's not going to remove the Play Services client libraries, etc. It's too much trouble to make a second portable F-Droid repository.

[2017-01-22 02:32] Lescht commented on #47
I was wondering: Is it possible to transport my libresignal data to noise? I tried the steps (oandbackup) in the FAQ mentioned here for libresignal-->signal, but unfortunately it does not work with noise. So far I was not able to transfer my data to noise. Has anyone managed that?

[2017-01-22 02:35] thestinger commented on #43
How about cleaning up the existing minimal set of changes, and then getting that landed in Signal once the WebRTC changes land. Then I can get delete the Noise repository and I won't have to think about this anymore.

[2017-01-22 09:38] tuxayo commented on #49
https://github.com/LibreSignal/LibreSignal/wiki/What-to-do-after-LibreSignal-was-abandoned%3F

It's the end of the app itself but not the end of the project. The related work is in the process of being upstreamed, there is even a bounty on the task!

https://www.bountysource.com/issues/35722527-create-proper-pull-request-to-add-libresignal-s-websocket-support-to-ows-signal

The actual ticket/issue

[2017-01-22 10:48] mimi89999 commented on #47
@Lescht https://github.com/LibreSignal/LibreSignal/issues/22#issuecomment-203824799
In your case:

1. Backup with oand
2. Go to oandbackup folder
3. Rename org.libresignal folder to co.copperhead.noise
4. Rename the .log file and the .zip in this folder
5. Replace all org.libresignal strings with co.copperhead.noise in the .log file
6. Open the .zip and rename org.libresignal_preferences.xml to co

[2017-01-22 17:05] Lescht commented on #47
That worked out. I had to register again, but all data was in there besides the pictures I've sent/received. Is there a way of getting these to noise?

[2017-01-22 17:08] mimi89999 commented on #47
@Lescht I don't have LS, so I can't tell you... If you show me the tree of the .zip maybe I can find something...

[2017-01-22 17:20] Lescht commented on #47
`Thank you so much for looking at that. Here is the tree of the zip-file.

[zip-filetree.txt](https://github.com/LibreSignal/LibreSignal/files/722108/zip-filetree.txt)

[2017-01-22 17:33] mimi89999 commented on #47
`cat shared_prefs/* | grep org.libresignal`
and in the database:
`sqlite3 databases/messages.db "SELECT * FROM * WHERE _data LIKE '/data/data/org.libresignal/%'"`

[2017-01-22 17:41] mimi89999 commented on #47
@Lescht From where did you install LS?

[2017-01-22 17:56] mimi89999 commented on #47
@Lescht In adb shell as root:
`sqlite3 /data/data/co.copperhead.noise/databases/messages.db "UPDATE part SET _data = replace(_data, '/data/data/org.libresignal/', '/data/data/co.copperhead.noise/'), thumbnail = replace(thumbnail, '/data/data/org.libresignal/', '/data/data/co.copperhead.noise/') WHERE _data LIKE '/data/data/org.libresignal/%'"`
After that commend reboot your phone.

[2017-01-22 18:24] Lescht commented on #47
@mimi89999 I got it from f-droid experimental libresignal repo! I am going to try that!
Thanks!

[2017-01-22 18:34] mimi89999 commented on #47
@Lescht Then actually:
`sqlite3 /data/data/co.copperhead.noise/databases/messages.db "UPDATE part SET _data = replace(_data, '/data/data/org.thoughtcrime.securesms/', '/data/data/co.copperhead.noise/'), thumbnail = replace(thumbnail, '/data/data/org.thoughtcrime.securesms/', '/data/data/co.copperhead.noise/') WHERE _data LIKE '/data/data/org.thoughtcrime.securesms/%'"`

[2017-01-23 07:35] tuxayo commented on #47
For anyone else migrating from LibreSignal (from the Eutopia experimental repo) to Signal:
I did it and lost my registration (but all messages where still there the backup and restore worked) with the server so I had the register again the app. It says it generated the keys so I expected to loose my encrypted sessions but one of my contact told me that they haven't seen a key change.

[2017-01-23 07:40] mimi89999 commented on #47
@tuxayo In vanilla Signal you need to register to GCM because LS didn't register in GCM.

[2017-01-23 07:47] tuxayo commented on #47
Okay I added this in the wiki page, I hope that the wording is correct: https://github.com/LibreSignal/LibreSignal/wiki/What-to-do-after-LibreSignal-was-abandoned%3F#from-libresignal-from-the-eutopia-experimental-repo

[2017-01-23 17:44] mimi89999 commented on #47
@Lescht Could you tell me if the sql command helped, so that I could use that to update the FAQ?

[2017-01-23 17:46] mimi89999 commented on #49
Maybe I will update LS this week if i have time, for those who still can't move to Conversations or something else.

[2017-01-24 18:19] h-2 commented on #49
@mimi89999 That would be great. If we don't get upstream within the next months, I will stop using it, but it seems like it could actually happen in the next months...

[2017-01-27 01:46] Lyle-Tafoya commented on #49
So I won't be able to continue encrypted communications with my girlfriend who uses vanilla Signal Messenger unless I convince her to use a different app now (or unless I install google on my phone)? Please confirm whether I am understanding this correctly.

[2017-01-27 12:13] herbsmn commented on #49
that'd be greatly appreciated @mimi89999!

[2017-01-27 22:11] mimi89999 commented on #49
Oh no, they added more GMS lib stuff:

https://github.com/WhisperSystems/Signal-Android/commit/94a29e375f1209e39f58b7f52c1ec1ccb5ae75ce

`com.google.android.gms.security.ProviderInstaller`

[2017-01-27 22:14] mimi89999 commented on #49
BTW, wasn't there a comment by @Lyle-Tafoya ?

[2017-01-27 23:29] Lyle-Tafoya commented on #49
Yeah, I commented before reading the entire link you posted. I thought there would be no way to continue encrypted communications with my girlfriend whom I convinced to use Signal awhile back (but only managed to do so because of the seamless SMS integration).
I see there is a way for me to run Signal with microG GmsCore, but I have not yet succeeded at getting this working on my phone since my ph

[2017-01-28 20:53] herbsmn commented on #49
Is this new GMS lib stuff likely going to delay an updated LS? There's now less than 2 days before the app stops working.

[2017-01-28 21:00] h-2 commented on #49
One could maybe just take a snapshot from before the change, seeing that this is not going to be a permanent solution anyway.

[2017-01-28 21:04] herbsmn commented on #49
can you explain the snapshot idea a little bit more @h-2?

[2017-01-28 21:05] mimi89999 commented on #49
Update only to the version before that change/feature was introduced.

[2017-01-28 21:11] mimi89999 commented on #49
I think it is really the time to move to Conversations or to something else...

[2017-01-28 21:26] herbsmn commented on #49
I don't understand what this means.

[2017-01-28 21:44] h-2 commented on #49
@mimi89999  I think Conversations and Signal have totally different usecases. I use and like conversations, but for most of my contacts it is absolutely not an option and Signal is.
Since moxie seems to be open to a PR and the webrtc branch would also solve all the issues with redphone, it seems like we are actually making progress here.

If I need to disconnect from signal network now, it will be

[2017-01-28 22:40] mimi89999 commented on #49
@h-2 You could also buy yourself time by removing the time bomb from LS.

[2017-01-29 02:12] tuxayo commented on #49
That might be off topic but does anyone know what this new stuff is used for? After a quick search I'm still confused about what this ProviderInstaller is for.

[2017-01-29 08:18] mimi89999 commented on #49
@tuxayo For fighting censorship of Signal.

[2017-01-29 13:55] herbsmn commented on #49
@mimi89999 I am an activist, not a programmer, but I'm willing to try to make a version that removes the time bomb. Can you provide me with a couple hints on how this can be done? Just so I understand, is the current LibreSignal version updated to the Signal version right before ProviderInstaller was introduced? If not, is it just as easy to update LS as it is to remove the time bomb from the curr

[2017-01-29 16:56] mimi89999 commented on #49
https://github.com/LibreSignal/LibreSignal/blob/master/src/org/thoughtcrime/securesms/util/Util.java#L340

It is set to 90 days from the build date.

[2017-01-29 17:55] h-2 commented on #49
which is why even a "simple" rebuild instead of an actual update would workaround the timestamp problem for people right now...

[2017-01-29 22:00] herbsmn commented on #49
@mimi89999 i didn't realize that the time bomb resets itself after a simple rebuild. so one doesn't need to remove the time bomb if they don't plan on using LS for more than 90 days after the rebuild?

[2017-01-30 00:50] herbsmn commented on #49
is this the way to build LibreSignal too? https://github.com/WhisperSystems/Signal-Android/blob/master/BUILDING.md

Looks a tad complicated. Any chance you could do one last build and extend the timebomb @mimi89999?

[2017-01-30 17:30] hackoder commented on #49
Here is what I was able to do:

- Use the instructions here to check out the code: https://github.com/LibreSignal/LibreSignal/blob/master/BUILDING.md
- Since I was upgrading from the eutopia.cz experimental repository (which uses package name org.thoughtcrime.securesms instead of org.libresignal), I switched applicationId to 'org.thoughtcrime.securesms' from 'org.libresignal' in build.gradle.
- Th

[2017-01-30 17:42] mimi89999 commented on #49
Only @xmikos can sign LibreSignal.

[2017-01-30 17:44] mimi89999 commented on #49
Oh, yes...
https://github.com/WhisperSystems/Signal-Android/blob/f53d64ab7a77d4d79723729bfc4fba9685703c61/build.gradle#L197

[2017-01-30 17:48] h-2 commented on #49
@xmikos pretty please?

[2017-01-30 17:48] hackoder commented on #49
Yes, that's why I had to backup/uninstall/reinstall/restore. Though there are other ways to skip signature verification..

[2017-01-30 17:53] mimi89999 commented on #49
@hackoder

Nooooo... Not the xposed module...

[2017-01-30 17:54] hackoder commented on #49
Haha yeah, exactly why I skipped it.

[2017-01-30 18:48] Lyle-Tafoya commented on #49
I tried to get this project to build last night but encountered some build errors on the ./gradlew clean step. Anyone else having better luck? Maybe tonight I'll try doing it all through Android Studio, but I suspect it's probably a library version conflict with the Linux distro I use.

[2017-01-30 19:31] mimi89999 commented on #49
@Lyle-Tafoya

Use gradle

If you don't show your log, there is little chance, that somebody will be able to help you.

[2017-01-30 19:48] h-2 commented on #49
switched to noise ....

[2017-01-30 19:55] Lyle-Tafoya commented on #49
@mimi89999 I wasn't so much asking for help as much as I was posting a status update and looking to see where other people are at currently. I work full time so I won't be able to even gain access to the log until later tonight.

[2017-02-01 09:29] nonbinary commented on #47
I'm running a custom ROM without gapps, and the microG GsmCore does not work with the official Signal app for me. I haven't error-checked it all yet, so I'm not sure where the problem is. But since that is a tip in the wiki, I thought I'd mention it here.
Edit: Blankstore must be installed along with microG. I had an installation without blankstore.

[2017-02-01 11:46] Ezwen commented on #37
Just want to drop by to mention that there is an app called [Riot](https://riot.im/) which:
- is [free software](https://github.com/vector-im)
- [exists in two versions](https://matrix.org/docs/guides/faq.html#i-installed-riot-via-f-droid-why-is-it-draining-my-battery): one on F-droid without any dependency to GCM, and one on the play store with a dependency to GCM (although it doesn't require a g

[2017-02-01 11:53] grote commented on #37
Aren't those mutually exclusive?

[2017-02-01 12:04] Ezwen commented on #37
If I understood correctly the protocol (but I'm very far from being an expert), each sent message is encrypted for each separate device registered in a given conversation. Which means that even if it's stored on one (or several servers), a message is stored encrypted server-side, and only the client devices that were part of the conversation when the message was sent can read it. But maybe I'm wro

[2017-02-01 15:08] ara4n commented on #37
@grote: the matrix e2e protocol lets you trade-off per room between replayable serverside history and privacy. the participants in the room can replace their ratchets as often as desired to "seal" history from
being decrypted by attackers; the other participants then keep a copy of the prior ratchet states if they want to re-decrypt. It's still in beta but works well other than some scenarios wher

[2017-02-01 16:04] gsantner commented on #37
## Why not move this over to some kind of discussion forum/group?  This is all about libre and secure communication protocols, implementations and so on, but I don't think this is related to the `LibreSignal project ` anymore.

Maybe others are also interested in such a discussion aswell. A general purpose issue on some project on GitHub isn't the right place. I read and like the conversation, but

[2017-02-01 16:11] vanitasvitae commented on #37
@gsantner That was my thought also when I read the latest posts.

[2017-02-01 17:38] herbsmn commented on #49
@hackoder, I backed up my old libresignal on Replicant 4.2 with oandbackup and then updated to Replicant 6.0 because I couldn't install your build on 4.2. I then restored the backup and am able to see all of my old messages. The trouble is, I can't seem to send any messages. any change you or @mimi89999 might know why? @xmikos if you happen to get a chance to put this on your experimental repo for

[2017-02-01 17:38] herbsmn commented on #49
oh, and thanks for publishing your build @hackoder!

[2017-02-01 17:47] mimi89999 commented on #49
I haven't changed anything. As always, logs are appreciated.

[2017-02-01 17:47] herbsmn commented on #49
damn, after hours of trying to figure it out I finally get it sorted out right after messaging you guys about it.

[2017-02-01 17:49] herbsmn commented on #49
I had to toggle off and on "LibreSignal messages and calls" in Advanced settings, which is fairly non-descript thing to know to toggle. This was because I registered the app with a different key before restoring the backup. Thanks to all of you guys for your work on LibreSignal.

[2017-02-01 18:22] ara4n commented on #37
agreed. anyone wanting to learn about Matrix is very welcome at https://riot.im/app/#/room/#matrix:matrix.org. Sorry for contributing to the OT discussion here.

[2017-02-01 18:59] Ezwen commented on #37
agreed as well, and my apologies for my off-topic comment!

@ara4n sorry for my mistake above about the protocol, and thanks for the explanations! (also thanks for your work on Matrix ;))

[2017-02-02 17:41] Be-ing commented on #43
@thestinger if you want this so urgently, maybe you could contribute to the issues that are blocking it in Signal, namely the WebRTC stuff.

[2017-02-02 17:48] mimi89999 commented on #43
@moxie0 When can we expect WebRTC in Signal?

[2017-02-02 18:05] thestinger commented on #43
@Be-ing I have a whole OS to maintain, how about someone else does something for once?

[2017-02-02 18:19] thestinger commented on #43
It's not even blocked by Signal Android changes, but rather iOS... I'm not going to buy a Macbook and iPhone to start working on a messenger app that I don't use for an operating system that I don't use, simply to get a small set of downstream changes landed. I care a lot less than you think about what happens with Signal but I try to make a good faith attempt to upstream changes. I'm currently a

[2017-02-02 18:23] vanitasvitae commented on #43
@thestinger Thank you for your efforts. I really appreciate it.

[2017-02-02 18:53] Be-ing commented on #43
Totally understandable that you don't want to work on upstream iOS features. So let this be a suggestion to anyone who has the skills and feels this project is important, consider contributing to WebRTC calls in Signal iOS.

[2017-02-02 22:54] scytho commented on #49
I got microG with the Blankstore working, backed up LibreSignal, uninstalled it, installed Signal and restored the app data. That worked, but Signal won’t let me register until I “update the Google Play Services”.

[2017-02-02 23:41] ale5000-git commented on #49
@scytho: Because you haven't choose the latest version of microG (currently 0.2.4-55)

[2017-02-03 03:18] bendechrai opened #50 "Execution failed for task ':android:lint'."
Hi all! I'm getting odd errors when compiling now. I managed to compile LibreSignal many moons ago, but now I'm hitting a lint errors and two warnings.

The error I'm getting is:

`../../../../../../../.gradle/caches/modules-2/files-2.1/com.squareup.okio/okio/1.2.0/c0b52915a48fa91b1b94a28d4a2997bac5f524df/okio-1.2.0.jar: Invalid package reference in library; not included in Android: java.nio.file.

[2017-02-03 14:08] scytho commented on #49
Thanks, that did the trick. Except one snag: I’m using Signal Desktop as well. I had to re-pair Signal and Signal Desktop. Now, messages I write with Signal Desktop are being synchronised to my phone, but not the other way round.

[2017-02-04 01:02] ale5000-git commented on #49
@scytho: I suggest to report [here](https://github.com/microg/android_packages_apps_GmsCore/issues) and post a logcat.

[2017-02-04 12:22] scytho commented on #49
You think it’s a problem with microG? I suspected OWS Signal.

[2017-02-04 21:19] ale5000-git commented on #49
@scytho: I'm not sure, but it is better to open a "separate" issue to keep track of the problem.
If you post a message between other 1000 messages noone will notice it.

[2017-02-07 12:22] vvug commented on #43
@eightbitkid You have surely seen that the webrtc branch is landing:

https://github.com/WhisperSystems/Signal-Android/commits/3.29.0

Will you reopen your PR?
That >1100$ bounty is also waiting for you.

[2017-02-07 15:06] thestinger commented on #43
See https://github.com/WhisperSystems/libsignal-service-java/pull/34. It needs to land before changes can be made to Signal.

[2017-02-07 23:48] bendechrai commented on #50
I gave up and moved to Noise instead :)

[2017-02-07 23:48] #50 closed, assigned to nobody

[2017-02-08 00:35] eightbitkid commented on #43
@Be-ing: Come on man; don't just rock up into conversation you weren't in and be a dick to someone putting in most of the work. It's just salty.

@vvug: I'm still committed to my changes but I thought I was pretty clear that I'm only prepared to work off mainline work. That isn't unreasonable; Moxie doesn't really want this changes (which is fair enough because it is his project) so he isn't going

[2017-02-18 22:29] varac commented on #49
Hej, I also switched to plain Signal using [microG](https://microg.org/) (latest, 0.2.4-64).
So far it looks like it works quite well. Installation is quite challenging (including patching in [signature spoofing](https://github.com/microg/android_packages_apps_GmsCore/wiki/Signature-Spoofing) ) but once it's done it's fine.
Still looking forward for a pure websocket-implementation as long-term sol

[2017-02-19 10:40] kratz00 commented on #47
@mimi89999
I've tested your SQL query for (org.thoughtcrime.securesms), I can confirm it worked for me and I do see all the images/thumbnails now, thanks.

[2017-02-20 20:51] rainerzufall commented on #43
It looks like it is really going happen!! :tada::tada::tada: moxie just made a change with the title "Support for using Signal without Play Services": https://github.com/WhisperSystems/Signal-Android/commit/1669731329bcc32c84e33035a67a2fc22444c24b

[2017-02-20 23:34] herbsmn commented on #43
I'm excited by the title. Anxious to hear people's thoughts on the changes.

[2017-02-21 10:07] vanitasvitae commented on #43
Who's code was merged? Was it the code from @eightbitkid?

[2017-02-21 11:01] thestinger commented on #43
@moxie0 made a substantially cleaner implementation and it has a boot receiver so it will work a bit better. I'm not sure if it has a backup job scheduler to bring it back to life if it gets killed by OOM but it could. I guess it's based on @eightbitkid0's code to some extent but it's mostly different.

[2017-02-21 11:06] thestinger commented on #43
There's also the option of providing a way to enable a foreground service in advanced settings which would stop it from being killed but JobScheduler could at least revive it at 15 minute intervals since that's the minimum time modern Android will allow for periodic jobs (smaller values are clamped to that).

[2017-02-21 15:12] Be-ing commented on #43
So would it now be possible to make unofficial builds from the upstream Signal source and run them without Google Play Services to communicate with others using the canonical Google Play Store build? Is there anything else that needs to be changed in the upstream source?

[2017-02-21 15:34] paride commented on #43
@Be-ing why would you want unofficial builds, at this point?

[2017-02-21 15:37] Be-ing commented on #43
Of course I'd prefer to run official builds, but as @nrizzio commented on [the commit](https://github.com/WhisperSystems/Signal-Android/commit/1669731329bcc32c84e33035a67a2fc22444c24b), there is still work to do before @moxie0 would distribute the canonical upstream APK outside of the Google Play Store.

[2017-02-21 15:40] paride commented on #43
@Be-ing just download the official apk from the play store then. Why would you prefer it being built by a third party?

[2017-02-21 15:43] vanitasvitae commented on #43
@paride Not everyone (especially a substantial subset of privacy aware people) has access to Google Play. Whats the point in making Signal independent from GCM, if you still need to have Google Play installed to get the app in the first place?

[2017-02-21 15:48] paride commented on #43
@vanitasvitae of course. But you don't need the Play Store to download APKs from there. There many other ways, check out for example gplaycli (Debian packaged), gplayweb, Yalp Store on f-droid... You could even set up a private f-droid repository, a cronjob downloading updates, and then update everything using your f-droid client on the phone.

And if you don't trust the OWS apk you have to compil

[2017-02-21 15:57] ghost commented on #43
What is Google other than a random third party?

[2017-02-21 15:58] paride commented on #43
@d9h02f did you ever check the signature of an APK? Apps from the Play Store are built and signed by the developer, not by Google.

[2017-02-21 16:00] anarcat commented on #43
can we just assume there are valid reasons not to use google services and move on?

i  have documented, to the best of my knowledge, the current blockers with publishing independent APKs of Signal in https://github.com/xmikos/fdroiddata/issues/29#issuecomment-281364702

[2017-02-21 16:27] ale5000-git commented on #43
@Be-ing: You can get all apk that are in the Play Store at APKPure site.

[2017-02-21 16:53] Be-ing commented on #43
I trust a random SaaS service claiming to get APKs from the Play Store as little as I trust a website offering "FREE MP3z!!!!!". I'd trust an unofficial FDroid repo more. Or I could build it myself, but I'd like to know if it will actually be functional without Google Play Services before I spend the trouble learning how to cross compile APKs.

[2017-02-21 17:13] xmikos commented on #43
I am providing independent builds of Signal as usual in my main F-Droid repository on https://fdroid.eutopia.cz (built from official source code, only renamed to LibreSignal)

[2017-02-21 17:34] Be-ing commented on #43
Great, thanks @xmikos! You may want to revise the description of the app in your repository now to reflect the recent changes.

[2017-02-21 17:37] mimi89999 commented on #43
What happened to eightbitkid account??!

[2017-02-21 17:54] xmikos commented on #43
@Be-ing I will upgrade fdroid.eutopia.cz landing page soon

[2017-02-21 18:39] Be-ing commented on #43
I am happy to report that secure text messaging with people using the official Signal build from Google Play Store with @xmikos's build from https://fdroid.eutopia.cz/ works. I have not yet tested WebRTC voice or video calling.

[2017-02-21 18:42] vanitasvitae commented on #43
Yeah, how about voice calling? Wasn't that the major reason, why @moxie0 rejected the PR in the first place? It would be really nice, if that issue was gone now :)

[2017-02-21 18:48] xmikos commented on #43
@vanitasvitae Voice and video calls should work if both you and other side enable it in settings (see https://whispersystems.org/blog/signal-video-calls-beta/)

[2017-02-21 20:51] thestinger commented on #43
Ah it does use a foreground service: https://github.com/WhisperSystems/Signal-Android/commit/1669731329bcc32c84e33035a67a2fc22444c24b#diff-9c046c6a5dc41570be2a81403504b78dR112. So it won't die in the background anymore.

[2017-02-21 21:00] h-2 commented on #43
:question:

[2017-02-21 21:03] mimi89999 commented on #43
@h-2 I don't see it anymore.

[2017-02-21 21:04] h-2 commented on #43
@mimi89999 Yep, I know what you mean, I just wanted to underline, as well, that it is puzzling that the account including all comments apparently vanished. What's going on?

[2017-02-21 21:04] vanitasvitae commented on #43
@mimi89999 @h-2 According to mails from bountysource, he stopped, then started and stopped again working on the issue today at 4:08 am central European time.

[2017-02-21 21:08] h-2 commented on #43
I still think they should get the bounty, as the official commit would probably not have happened without them. *Unless of course they were an alter ego of moxie – that would be hilarious.*

[2017-03-08 02:26] PeskyFactoids commented on #37
@moxie0 🤣

*cough* VoLTE:  SIP & XMPP & stuff

Is VoLTE stuck in time also?  🗡

Yes, intellectual sloth is rampant.

Nope.  It is the bothersome Privacy Rape: people or their privacy are not profit chattel.

@eighthave 🎆

Federation is necessary for success.

@mimi89999

yes, without suffering **[legacy](#) sms texting** or worse.  Talk about being stuck in time!

@JustAskin

That is extremely not

[2017-03-08 07:52] mimi89999 commented on #37
@PeskyFactoids

VoLTE -- Voice over LTE?

[2017-03-13 20:45] ghost commented on #43
@vanitasvitae Perhaps it's time to close this issue, now that [WebSocket support has been added to Signal](https://github.com/WhisperSystems/Signal-Android/commit/1669731329bcc32c84e33035a67a2fc22444c24b)? Signal can now also be downloaded from outside of the Google Play Store: https://signal.org/android/apk/

[2017-03-13 21:12] vanitasvitae commented on #43
Probably, but the issue is, who gets the bounty? @eightbitkid has vanished. Should we grant the bounty @moxie0 instead? This is the first bounty I created and I don't really know how to react :/

[2017-03-13 21:51] moxie0 commented on #43
I wrote the code, but I don't want the bounty. I'd suggest returning it to the people who donated.

[2017-03-13 22:53] vanitasvitae commented on #43
I think we'll wait two more days or so and if nobody has a better idea, I'll close this issue as "won't fix", so everyone gets refunded. In that case you can still donate to OWS if you like :)

[2017-03-14 00:57] vvug commented on #43
Two ideas on the issue:
* Donate the bounty to the Signal's BitHub fund, which goes to reward merged pull request from independent developers, somehow in the spirit of the bouny;
* Change the target of bounty to fix the "location sharing" function in Signal when it's used without gapps. Relevant issues: https://github.com/WhisperSystems/Signal-Android/issues/6351, https://github.com/WhisperSystems

[2017-03-14 08:12] mimi89999 commented on #43
Let's close it as a `won't fix`

[2017-03-14 18:05] saddy001 commented on #43
My sha256sum is
`46ba0a0e52ee512fbd629dcc1a780b7f9a21eaca2cbc212ed3886e614aa3a914  Downloads/Signal-website-release-3.31.4.apk`
But the website says it should be
`29:F3:4E:5F:27:F2:11:B4:24:BC:5B:F9:D6:71:62:C0 EA:FB:A2:DA:35:AF:35:C1:64:16:FC:44:62:76:BA:26`
However, I believe the problem is on the server side... ?

[2017-03-14 18:07] thestinger commented on #43
It says that's the fingerprint of the *signing certificate* not a specific version of the apk.

[2017-03-14 18:12] saddy001 commented on #43
Okay, thanks. But how can I check this? Here is how far I've [come](https://stackoverflow.com/questions/11361452/getting-certificate-details-from-an-apk):
`unzip -p Downloads/Signal-website-release-3.31.4.apk META-INF/CERT.RSA |openssl pkcs7 -inform DER -noout -print_certs -text | sha256sum
b59e8f3016fe1805cc5fb560ad17a8b199d2abe02cd6419965c8f8f9e96d3ffd  -
`

[2017-03-14 18:16] paride commented on #43
[code]

[2017-03-14 18:19] saddy001 commented on #43
That's it. Maybe this should be mentioned on the download page.

[2017-03-15 14:51] ghost opened #52 "Future of LibreSignal now that Signal is Google-free"
What does the future look like for LibreSignal, now that Signal is fully functional on devices that don't include Google Play Services and is officially distributed [outside of the Google Play Store](https://signal.org/android/apk/)? When I say LibreSignal, I am of course referring to the rebranded build which @xmikos is now distributing through http://fdroid.eutopia.cz/, not the experimental WebS

[2017-03-15 20:34] ghost commented on #49
@herbsmn Perhaps it's time to close this issue, since LibreSignal did not die on Jan 31, 2017? I have started a new discussion about the future of LibreSignal now that Signal is Google-free: https://github.com/LibreSignal/LibreSignal/issues/52

[2017-03-16 14:36] vanitasvitae commented on #43
So, should I close the issue then?

[2017-03-16 16:48] ghost commented on #29
@anarcat Perhaps it's time to close this issue as obsolete?

[2017-03-16 16:50] ghost commented on #10
@pravi @mimi89999 Perhaps it's time to close this issue as obsolete?

[2017-03-17 01:14] #49 closed, assigned to nobody

[2017-03-17 01:15] herbsmn commented on #49
Yeah, I was wrong. I should have said that the experimental repo was dying, not LibreSignal. Closed.

[2017-03-17 17:24] vanitasvitae commented on #43
Won't fix.

[2017-03-17 17:24] #43 closed, assigned to nobody

[2017-03-20 16:59] Lyle-Tafoya commented on #52
It seems to me that if he was so concerned about people using his servers he shouldn't have included references to them in the free open source code he released on the internet for anyone to use and/or modify. To be quite frank, I don't care if he is upset. He shouldn't have made his project GPL in the first place if this is his position (or he should have separated the hostname/ip address of his

[2017-03-21 14:17] y4h4l commented on #52
If they're​ so tired, why this direct download able version ask still for actuall Google services?
Can anyone else confirm this, or is this caused by my not rooted official Huawei Android?
BTW: the latest stable releases of libresignal (all three) aren't able to communicate with the open whisper registration server, the experimental websocket versions can communicate.

[2017-03-21 14:23] paride commented on #52
If you have the Play Services installed but you disabled some stuff then it won't work. Anyway it's the worst of both worlds, I really can't understand why one should chose this configuration. If you delete some random stuff from your computer's OS, do you expect it to work properly?

Anyway moxie will accept a PR addressing this specific issue:

https://github.com/WhisperSystems/Signal-Android/is

[2017-03-26 23:04] akliyan commented on #37
@mimi89999,
what about Noise is it not similar to Libresignal? Any difference ?
https://github.com/copperhead/Noise

[2017-03-27 06:25] mimi89999 commented on #37
@akliyan They didn't remove proprietary GMS libs.

[2017-03-27 15:03] akliyan commented on #37
It seems that pseudo privacy oriented apps like signal are not any better than popular mass surveillance tools owned by secret services such as Facebook/Whatsapp, except that for the first the agenda is somewhat hidden.
https://www.youtube.com/watch?v=vmre4SeWunk

I am sure Libresignal was forced to shutdown (by servers denial) because it is really promoting what “Signal” is pretending to promote

[2017-03-27 17:25] vanitasvitae commented on #37
@akliyan Please just read this thread, I think nearly every other messaging app and its pros and cons was introduced already.

[2017-03-27 17:29] vanitasvitae commented on #43
Hm, did anyone receive their refunds by now? I wrote them an email a few days ago, but received no reply :/

[2017-03-28 19:54] anarcat commented on #52
I think it would be fair for people responsible for this repository to answer the actual questions raised here:

I would actually add an extra question here:

Thanks for the clarification.

[2017-03-28 20:04] Lyle-Tafoya commented on #52
I can't speak for the maintainer of LibreSignal, but one reason it still makes sense for LibreSignal to be distributed is that Signal is not available for download via fdroid. I don't know about other people, but I personally do not like the idea of having to manually download and install updates for Signal and treating it like a special snowflake on my devices.

[2017-03-28 20:23] anarcat commented on #52
The problem is that LibreSignal is not doing this correctly: they are rebuilding from scratch, and change the package signature, which breaks the trust path between users and the OWS developers.

I have clearly outlined how Signal should be distributed on F-Droid [elsewhere](https://whispersystems.discoursehosting.net/t/how-to-get-signal-apks-outside-of-the-google-play-store/808). By rebuilding an

[2017-04-05 18:55] vanitasvitae commented on #43
The bounty has been refunded to everyone :)

[2017-05-18 05:39] karloluiten commented on #52
Is upgrading from Libresignal (LS) to the official  Signal doable using fdroid? Or do I need to get the APK?
And do I first need to uninstall LS? Quick FAQ  would be appreciated.

[2017-05-18 05:41] xenithorb commented on #52
If you have root, grab the apk from official Signal, then use `oandbackup` to backup the data portion of LibreSignal, and then restore that to official Signal's data thereafter. Should be totally seamless. `oandbackup` is on F-Droid.

[2017-05-20 00:09] xmikos commented on #52
@anarcat It's not that simple. I would love to publish official builds, but this needs working reproducible builds. Please read this issue: https://github.com/xmikos/fdroiddata/issues/39

To summarize it:

1. reproducible builds of Signal are a joke. Prebuilt Docker image have to be used (and of course that couldn't be trusted), building your own Docker image according to OWS specification don't w

[2017-05-29 21:58] herbsmn opened #53 "Calling in LibreSignal"
I know that LibreSignal calls used to not work because it depended on nonfree software. Signal then moved to WebRTC. Calls still don't work for me in LibreSignal though. The app crashes when I try. Does it work for anyone else? I use a Replicant ROM on samsung galaxy s3.

[2017-05-30 06:26] mimi89999 commented on #53
LibreSignal WebSocket (from Eutopia experimental repp) is not maintained for a year now. If you are using LS from Eutopia main repo, those are xmikos builds of Signal and you should report that issue in his repo.

[2017-05-31 03:23] #53 closed, assigned to nobody

[2017-06-15 19:28] hackel commented on #37
Wow, moxie0 just sounds sounds like a giant cunt.  Anyone who uses a binary compiled release of Signal from the Google Play Store for *security* is a fucking idiot.

[2017-07-02 20:56] victoroldschool commented on #37
I had to register just to agree with the above few posters. I've been following this project since before it came out. Moxie had stalled on removing Google Dependencies for YEARS. When an alternative came out that achieved just that - he destroyed it. Absolute shame about LibreSignal. They would have ended up becoming the preferred choice for many, as it was able to achieve what Moxie has simply r

[2017-08-25 06:15] Hapoofesgeli commented on #37
It's really simple,
1.You care about privacy: you don't use Signal.
2.You don't care about privacy: you again don't use Signal, cause there are much better alternatives.
All Signal users are ad-driven teenagers who fall for fancy websites and quotes...

[2017-08-25 06:44] SafwatHalaby commented on #37
Signal now works without Play Store / Play Services, and APKS are [available directly](https://signal.org/android/apk/) from their website. This makes LibreSignal redundant (and an F-droid download to some extent).

I'm no expert but I believe Playstore APKs must be signed by the developer himself. So it might be a bit more secure than you think.

[2017-08-25 07:09] SafwatHalaby commented on #37
As an off-topic offshoot, please calm down people.  There is no need to resort to offensive language, non factual information, and even borderline conspiracy theories just because Websockets / independent apk took some time. Experts agree Signal is secure.

No. Metadata can be more dangerous than the data. Although message bodies are secure, SMS metadata cannot be encrypted. This was the prime mot

[2017-08-25 07:37] SafwatHalaby commented on #52
There's a builtin update mechanism. Signal downloads the latest APK and you just need to tap "install".

[2017-08-25 07:38] mimi89999 commented on #37
Having a single server isn't much safer then SMS actually. Even if OWS isn't storing metadata, NSA/FBI could either find a way to backdoor it and to make it leak all metadata or they could take the servers and run them (as they did in many cases) collecting metadata...

A single server is a single point of failure.

[2017-08-25 07:51] SafwatHalaby commented on #37
I'm only saying that "SMS based encryption was/is the pinnacle of secure communications" is a false statement. Different setups have different trade-offs and threat models. SMS is not a holy grail and has its flaws, and so does the server model. The developers decided that the flaws of the SMS model outweigh the flaws of the server model.

[2017-08-25 07:56] SafwatHalaby commented on #37
I'd blind guess that one consideration was: A server is a theoretical single point of failure, but many carriers are proven to be compromised nodes.

[2017-08-25 08:00] mimi89999 commented on #37
Sure

[2017-12-06 13:50] DJCrashdummy commented on #37
@mimi89999 regarding metadata, i would go so far and call **a single server less secure than the sms-system**!
because with "infiltrating" one server NSA/FBI can collect the metadata of all possible users in the whole world; but with sms it is not that easy because of the different carriers in every single country...

---
the 3 important things that go hand in hand for real security, are the same

[2017-12-06 16:38] grote commented on #37
You probably haven't heard about [SS7](https://www.theguardian.com/technology/2016/apr/19/ss7-hack-explained-mobile-phone-vulnerability-snooping-texts-calls).

[2017-12-06 18:30] DJCrashdummy commented on #37
@grote please read the whole sentence!!! _(just updated the original phrasing a little bit to make in more clear.)_

PS: if you are concerned about your sms-content, which everybody should (also without/before your interesting article), you should use [Silence](https://f-droid.org/packages/org.smssecure.smssecure/).

[2018-02-25 20:37] JocelynDelalande commented on #41
Nowadays, there is [an apk version](https://signal.org/android/apk) stanndalone version of Signal that is able to work without google services. It auto-updates without the need of any store.

[2018-04-15 15:25] cRaZy-bisCuiT commented on #41
Thanks for sharing! Does this version rely on Google Push? If it works without it, does it drain the battery?

[2018-04-15 16:40] ale5000-git commented on #41
@cRaZy-bisCuiT: If you have Google Play Services installed it will use it, instead if you don't have it it will work without it.

[2018-09-27 16:26] silberzwiebel commented on #10
There is some discussion in the German open source messenger scene about this. Could someone clarify: Is the voice-calling part of the server source code for the official Signal free and open source? If so, where can I find the sources? Thanks in advance!

[2018-10-03 05:00] gohanko commented on #37
@moxie0 This was 2 years ago but I do not get your reasoning for not supporting non GCM users? Users in China don't have Google Play installed, which means they don't get notifications until they open the app.

[2018-12-26 09:48] Flohack74 commented on #37
This I also find interesting. @moxie0 I tried to talk with your support guys many times about supporting the Ubuntu Touch push server, so that users of Ubuntu Touch can get notifications for their signal-compatible App. I got turned down a few times and finally gave up. If you have a mission to proliferate the world with secure messaging, why you are restricting the access to it behind arguments o

[2018-12-26 10:37] janvlug commented on #37
I support this request from the perspective of the yet to be released [Librem 5](https://puri.sm/products/librem-5/) Linux based cell phone from [Purism](https://puri.sm/). I have pre-ordered the Librem 5, and currently I have 100+ Signal contacts. I really would like to still be able to use Signal when the Librem 5 will be arrive (currently planned for April 2019).
See this thread on the Purism f

[2018-12-27 21:25] Zanonia commented on #37
@janvlug
I think it's not the right place. We already speak about that here :

https://github.com/signalapp/Signal-Desktop/issues/2383

FYI :
https://mastodon.social/@diggity/101046739048944068

[2019-03-17 09:20] ghost opened #54 "Use the Jami federated network"
It's unclear why this project should be dead.  Why not:

1. change the name to LibreCom or LibreMessage to thwart OWS lawyers
1. adapt the code to work on the federated network of Jami (aka "GNU Ring" aka "Gnome Ring")
1. poach users from Signal by citing [these issues](https://github.com/privacytoolsIO/privacytools.io/issues/779) (and obviously avoid those evils yourself)

[2019-04-04 16:54] NinebitX opened #55 "README is outdated"
I think the README should be updated to clarify that this repository was for an experimental WebSocket version and that it shouldn’t be confused with the identically named "independent Signal build" that is distributed through the Eutopia.cz F-Droid Repository. The entire first section about Signal waiting for a pull request that would add WebSocket support is now also obsolete: They added WebSock

[2019-04-10 18:15] strypey commented on #54
LibreSignal was created as a soft fork of Signal (in the same way that ABrowser and IceCat are soft forks of Firefox), so that users concerned about their software freedom could connect to existing users of the Signal (dis)service, using an app available via F-Droid, that didn't expose them to goOgle Play Services. This release of LibreSignal resulted in various announcements from OWS indicating t

[2019-04-10 20:07] ghost commented on #54
Thanks for the insight.  Indeed the realtime synchronous limitation of the Jami network likely over complicates Libresignal-Jami adaptations.

[2019-06-14 03:43] ghost commented on #55
the Eutopia.cz F-Droid Repository ->
https://fdroid.eutopia.cz/

maybe this repo should be archived now.

[2019-07-17 00:03] bibo999 commented on #41
Hi

[2019-07-17 00:04] bibo999 commented on #41
How to hack snapchat me forget password replay to password

[2019-07-17 00:06] bibo999 commented on #41
This name
s07508308455

[2019-07-17 00:07] bibo999 commented on #41
Hello

[2020-04-11 23:04] fabianski7 commented on #37
it's already 2020 and I'd like to contribute to that too

FUCK YOU OWS!!!

[2020-04-12 10:09] mimi89999 commented on #37
Sorry. I'm locking this issue.

[2020-04-12 14:45] Neustradamus opened #56 "For more security spongycastle -> bouncycastle"
For more security, can you change old spongycastle (based on old bouncycastle) to bouncycastle?
- https://www.bouncycastle.org/
- https://www.bouncycastle.org/releasenotes.html
- http://www.bouncycastle.org/latest_releases.html
- https://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=bouncy%20castle
- https://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=bouncycastle
- https://www.cvedetails.com/vulnerabilit

[2020-04-12 15:02] mimi89999 commented on #56
This fork is abandoned for more than 3 years now. Please don't tell me that there are people still using it.

[2020-04-12 15:02] #56 closed, assigned to nobody

[2021-06-04 16:09] goyalyashpal opened #57 ""focus on another ...""
_Originally posted by @mimi89999 in https://github.com/LibreSignal/LibreSignal/issues/37#issuecomment-217449686_

hi, did u switch to contributing to other messaging app? which one, if yes?

dupli search: https://github.com/LibreSignal/LibreSignal/issues?q=is:issue+focus+on+another+secured+messaging
coming via: [fdroid archive](https://duckduckgo.com/?q=fdroid+archive&t=vivaldi&ia=web) > [known re

[2021-06-04 16:54] mimi89999 commented on #57
XMPP clients like Conversations

[2021-06-04 17:45] goyalyashpal commented on #57
ohkayyy. 👍

`eu.siacs.conversations`
<-- https://conversations.im
<-- [Conversations](https://duckduckgo.com/?q=Conversations&t=vivaldi&page=1&ia=web)

[2021-06-04 17:45] #57 closed, assigned to nobody

[2021-06-05 06:50] sim6 commented on #57
What about https://matrix.org ones?

[2022-07-06 16:34] ST0RM-CR4xx0R opened #58 "Updating to Post-quantum algo's"
Would it too much hassle to integrate code to be able (or set as default) a pq-crypto, and like an addition to it thru an own liboqs, libssh.?
Such code is developed for Wireguard for ex.
Links:
https://github.com/kudelskisecurity/pq-wireguard
https://github.com/kudelskisecurity/crystals-go (they modded the algo, got it speedier ~10x than wg(!))

Also, might wanna include a PRNG tool for keys;
Her